/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { AccessReviewInstanceContactedReviewers } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AuthorizationManagementClient } from "../authorizationManagementClient";
import {
  AccessReviewContactedReviewer,
  AccessReviewInstanceContactedReviewersListNextOptionalParams,
  AccessReviewInstanceContactedReviewersListOptionalParams,
  AccessReviewInstanceContactedReviewersListResponse,
  AccessReviewInstanceContactedReviewersListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AccessReviewInstanceContactedReviewers operations. */
export class AccessReviewInstanceContactedReviewersImpl
  implements AccessReviewInstanceContactedReviewers {
  private readonly client: AuthorizationManagementClient;

  /**
   * Initialize a new instance of the class AccessReviewInstanceContactedReviewers class.
   * @param client Reference to the service client
   */
  constructor(client: AuthorizationManagementClient) {
    this.client = client;
  }

  /**
   * Get access review instance contacted reviewers
   * @param scheduleDefinitionId The id of the access review schedule definition.
   * @param id The id of the access review instance.
   * @param subscriptionId The ID of the target subscription.
   * @param options The options parameters.
   */
  public list(
    scheduleDefinitionId: string,
    id: string,
    subscriptionId: string,
    options?: AccessReviewInstanceContactedReviewersListOptionalParams
  ): PagedAsyncIterableIterator<AccessReviewContactedReviewer> {
    const iter = this.listPagingAll(
      scheduleDefinitionId,
      id,
      subscriptionId,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          scheduleDefinitionId,
          id,
          subscriptionId,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    scheduleDefinitionId: string,
    id: string,
    subscriptionId: string,
    options?: AccessReviewInstanceContactedReviewersListOptionalParams
  ): AsyncIterableIterator<AccessReviewContactedReviewer[]> {
    let result = await this._list(
      scheduleDefinitionId,
      id,
      subscriptionId,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        scheduleDefinitionId,
        id,
        subscriptionId,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    scheduleDefinitionId: string,
    id: string,
    subscriptionId: string,
    options?: AccessReviewInstanceContactedReviewersListOptionalParams
  ): AsyncIterableIterator<AccessReviewContactedReviewer> {
    for await (const page of this.listPagingPage(
      scheduleDefinitionId,
      id,
      subscriptionId,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Get access review instance contacted reviewers
   * @param scheduleDefinitionId The id of the access review schedule definition.
   * @param id The id of the access review instance.
   * @param subscriptionId The ID of the target subscription.
   * @param options The options parameters.
   */
  private _list(
    scheduleDefinitionId: string,
    id: string,
    subscriptionId: string,
    options?: AccessReviewInstanceContactedReviewersListOptionalParams
  ): Promise<AccessReviewInstanceContactedReviewersListResponse> {
    return this.client.sendOperationRequest(
      { scheduleDefinitionId, id, subscriptionId, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param scheduleDefinitionId The id of the access review schedule definition.
   * @param id The id of the access review instance.
   * @param subscriptionId The ID of the target subscription.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    scheduleDefinitionId: string,
    id: string,
    subscriptionId: string,
    nextLink: string,
    options?: AccessReviewInstanceContactedReviewersListNextOptionalParams
  ): Promise<AccessReviewInstanceContactedReviewersListNextResponse> {
    return this.client.sendOperationRequest(
      { scheduleDefinitionId, id, subscriptionId, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Authorization/accessReviewScheduleDefinitions/{scheduleDefinitionId}/instances/{id}/contactedReviewers",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AccessReviewContactedReviewerListResult
    },
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.scheduleDefinitionId,
    Parameters.id
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AccessReviewContactedReviewerListResult
    },
    default: {
      bodyMapper: Mappers.ErrorDefinition
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.scheduleDefinitionId,
    Parameters.id
  ],
  headerParameters: [Parameters.accept],
  serializer
};
