/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { EdgeClusterRuntimeVersions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { NetworkCloud } from "../networkCloud";
import {
  EdgeClusterRuntimeVersion,
  EdgeClusterRuntimeVersionsListBySubscriptionNextOptionalParams,
  EdgeClusterRuntimeVersionsListBySubscriptionOptionalParams,
  EdgeClusterRuntimeVersionsListBySubscriptionResponse,
  EdgeClusterRuntimeVersionsGetOptionalParams,
  EdgeClusterRuntimeVersionsGetResponse,
  EdgeClusterRuntimeVersionsListBySubscriptionNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing EdgeClusterRuntimeVersions operations. */
export class EdgeClusterRuntimeVersionsImpl
  implements EdgeClusterRuntimeVersions
{
  private readonly client: NetworkCloud;

  /**
   * Initialize a new instance of the class EdgeClusterRuntimeVersions class.
   * @param client Reference to the service client
   */
  constructor(client: NetworkCloud) {
    this.client = client;
  }

  /**
   * Get a list of edge cluster runtime versions in the provided subscription.
   * @param options The options parameters.
   */
  public listBySubscription(
    options?: EdgeClusterRuntimeVersionsListBySubscriptionOptionalParams,
  ): PagedAsyncIterableIterator<EdgeClusterRuntimeVersion> {
    const iter = this.listBySubscriptionPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listBySubscriptionPagingPage(options, settings);
      },
    };
  }

  private async *listBySubscriptionPagingPage(
    options?: EdgeClusterRuntimeVersionsListBySubscriptionOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<EdgeClusterRuntimeVersion[]> {
    let result: EdgeClusterRuntimeVersionsListBySubscriptionResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listBySubscription(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listBySubscriptionNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listBySubscriptionPagingAll(
    options?: EdgeClusterRuntimeVersionsListBySubscriptionOptionalParams,
  ): AsyncIterableIterator<EdgeClusterRuntimeVersion> {
    for await (const page of this.listBySubscriptionPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get a list of edge cluster runtime versions in the provided subscription.
   * @param options The options parameters.
   */
  private _listBySubscription(
    options?: EdgeClusterRuntimeVersionsListBySubscriptionOptionalParams,
  ): Promise<EdgeClusterRuntimeVersionsListBySubscriptionResponse> {
    return this.client.sendOperationRequest(
      { options },
      listBySubscriptionOperationSpec,
    );
  }

  /**
   * Get the properties of the specified edge cluster runtime version.
   * @param edgeClusterRuntimeVersionName The name of the edge cluster runtime version.
   * @param options The options parameters.
   */
  get(
    edgeClusterRuntimeVersionName: string,
    options?: EdgeClusterRuntimeVersionsGetOptionalParams,
  ): Promise<EdgeClusterRuntimeVersionsGetResponse> {
    return this.client.sendOperationRequest(
      { edgeClusterRuntimeVersionName, options },
      getOperationSpec,
    );
  }

  /**
   * ListBySubscriptionNext
   * @param nextLink The nextLink from the previous successful call to the ListBySubscription method.
   * @param options The options parameters.
   */
  private _listBySubscriptionNext(
    nextLink: string,
    options?: EdgeClusterRuntimeVersionsListBySubscriptionNextOptionalParams,
  ): Promise<EdgeClusterRuntimeVersionsListBySubscriptionNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listBySubscriptionNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listBySubscriptionOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterRuntimeVersions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EdgeClusterRuntimeVersionList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterRuntimeVersions/{edgeClusterRuntimeVersionName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EdgeClusterRuntimeVersion,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.edgeClusterRuntimeVersionName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listBySubscriptionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EdgeClusterRuntimeVersionList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
