/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { EdgeClusterSkus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { NetworkCloud } from "../networkCloud";
import {
  EdgeClusterSku,
  EdgeClusterSkusListBySubscriptionNextOptionalParams,
  EdgeClusterSkusListBySubscriptionOptionalParams,
  EdgeClusterSkusListBySubscriptionResponse,
  EdgeClusterSkusGetOptionalParams,
  EdgeClusterSkusGetResponse,
  EdgeClusterSkusListBySubscriptionNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing EdgeClusterSkus operations. */
export class EdgeClusterSkusImpl implements EdgeClusterSkus {
  private readonly client: NetworkCloud;

  /**
   * Initialize a new instance of the class EdgeClusterSkus class.
   * @param client Reference to the service client
   */
  constructor(client: NetworkCloud) {
    this.client = client;
  }

  /**
   * Get a list of edge cluster SKUs in the provided subscription.
   * @param options The options parameters.
   */
  public listBySubscription(
    options?: EdgeClusterSkusListBySubscriptionOptionalParams,
  ): PagedAsyncIterableIterator<EdgeClusterSku> {
    const iter = this.listBySubscriptionPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listBySubscriptionPagingPage(options, settings);
      },
    };
  }

  private async *listBySubscriptionPagingPage(
    options?: EdgeClusterSkusListBySubscriptionOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<EdgeClusterSku[]> {
    let result: EdgeClusterSkusListBySubscriptionResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listBySubscription(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listBySubscriptionNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listBySubscriptionPagingAll(
    options?: EdgeClusterSkusListBySubscriptionOptionalParams,
  ): AsyncIterableIterator<EdgeClusterSku> {
    for await (const page of this.listBySubscriptionPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get a list of edge cluster SKUs in the provided subscription.
   * @param options The options parameters.
   */
  private _listBySubscription(
    options?: EdgeClusterSkusListBySubscriptionOptionalParams,
  ): Promise<EdgeClusterSkusListBySubscriptionResponse> {
    return this.client.sendOperationRequest(
      { options },
      listBySubscriptionOperationSpec,
    );
  }

  /**
   * Get the properties of the specified edge cluster SKU.
   * @param edgeClusterSkuName The name of the edge cluster SKU.
   * @param options The options parameters.
   */
  get(
    edgeClusterSkuName: string,
    options?: EdgeClusterSkusGetOptionalParams,
  ): Promise<EdgeClusterSkusGetResponse> {
    return this.client.sendOperationRequest(
      { edgeClusterSkuName, options },
      getOperationSpec,
    );
  }

  /**
   * ListBySubscriptionNext
   * @param nextLink The nextLink from the previous successful call to the ListBySubscription method.
   * @param options The options parameters.
   */
  private _listBySubscriptionNext(
    nextLink: string,
    options?: EdgeClusterSkusListBySubscriptionNextOptionalParams,
  ): Promise<EdgeClusterSkusListBySubscriptionNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listBySubscriptionNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listBySubscriptionOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterSkus",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EdgeClusterSkuList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.NetworkCloud/edgeClusterSkus/{edgeClusterSkuName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EdgeClusterSku,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.edgeClusterSkuName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listBySubscriptionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EdgeClusterSkuList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
