/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { VirtualMachineScaleSets } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftAzureFleet } from "../microsoftAzureFleet";
import {
  VirtualMachineScaleSet,
  VirtualMachineScaleSetsListByFleetNextOptionalParams,
  VirtualMachineScaleSetsListByFleetOptionalParams,
  VirtualMachineScaleSetsListByFleetResponse,
  VirtualMachineScaleSetsListByFleetNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing VirtualMachineScaleSets operations. */
export class VirtualMachineScaleSetsImpl implements VirtualMachineScaleSets {
  private readonly client: MicrosoftAzureFleet;

  /**
   * Initialize a new instance of the class VirtualMachineScaleSets class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftAzureFleet) {
    this.client = client;
  }

  /**
   * List VirtualMachineScaleSet resources by Fleet
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param name The name of the Fleet
   * @param options The options parameters.
   */
  public listByFleet(
    resourceGroupName: string,
    name: string,
    options?: VirtualMachineScaleSetsListByFleetOptionalParams,
  ): PagedAsyncIterableIterator<VirtualMachineScaleSet> {
    const iter = this.listByFleetPagingAll(resourceGroupName, name, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByFleetPagingPage(
          resourceGroupName,
          name,
          options,
          settings,
        );
      },
    };
  }

  private async *listByFleetPagingPage(
    resourceGroupName: string,
    name: string,
    options?: VirtualMachineScaleSetsListByFleetOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<VirtualMachineScaleSet[]> {
    let result: VirtualMachineScaleSetsListByFleetResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByFleet(resourceGroupName, name, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByFleetNext(
        resourceGroupName,
        name,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByFleetPagingAll(
    resourceGroupName: string,
    name: string,
    options?: VirtualMachineScaleSetsListByFleetOptionalParams,
  ): AsyncIterableIterator<VirtualMachineScaleSet> {
    for await (const page of this.listByFleetPagingPage(
      resourceGroupName,
      name,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List VirtualMachineScaleSet resources by Fleet
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param name The name of the Fleet
   * @param options The options parameters.
   */
  private _listByFleet(
    resourceGroupName: string,
    name: string,
    options?: VirtualMachineScaleSetsListByFleetOptionalParams,
  ): Promise<VirtualMachineScaleSetsListByFleetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, name, options },
      listByFleetOperationSpec,
    );
  }

  /**
   * ListByFleetNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param name The name of the Fleet
   * @param nextLink The nextLink from the previous successful call to the ListByFleet method.
   * @param options The options parameters.
   */
  private _listByFleetNext(
    resourceGroupName: string,
    name: string,
    nextLink: string,
    options?: VirtualMachineScaleSetsListByFleetNextOptionalParams,
  ): Promise<VirtualMachineScaleSetsListByFleetNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, name, nextLink, options },
      listByFleetNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByFleetOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureFleet/fleets/{name}/virtualMachineScaleSets",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VirtualMachineScaleSetListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.name,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByFleetNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VirtualMachineScaleSetListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.name,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
