/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import * as coreClient from "@azure/core-client";
import * as coreRestPipeline from "@azure/core-rest-pipeline";
import * as coreAuth from "@azure/core-auth";
import { QueryImpl, OperationsImpl } from "./operations";
import { Query, Operations } from "./operationsInterfaces";
import * as Parameters from "./models/parameters";
import * as Mappers from "./models/mappers";
import {
  ResourceGraphClientOptionalParams,
  QueryRequest,
  ResourcesOptionalParams,
  ResourcesResponse,
  ResourcesHistoryRequest,
  ResourcesHistoryOptionalParams,
  ResourcesHistoryResponse,
  ResourceChangesRequestParameters,
  ResourceChangesOptionalParams,
  ResourceChangesResponse,
  ResourceChangeDetailsRequestParameters,
  ResourceChangeDetailsOptionalParams,
  ResourceChangeDetailsResponse,
} from "./models";

export class ResourceGraphClient extends coreClient.ServiceClient {
  $host: string;

  /**
   * Initializes a new instance of the ResourceGraphClient class.
   * @param credentials Subscription credentials which uniquely identify client subscription.
   * @param $host server parameter
   * @param options The parameter options
   */
  constructor(
    credentials: coreAuth.TokenCredential,
    $host: string,
    options?: ResourceGraphClientOptionalParams,
  ) {
    if (credentials === undefined) {
      throw new Error("'credentials' cannot be null");
    }
    if ($host === undefined) {
      throw new Error("'$host' cannot be null");
    }

    // Initializing default values for options
    if (!options) {
      options = {};
    }
    const defaults: ResourceGraphClientOptionalParams = {
      requestContentType: "application/json; charset=utf-8",
      credential: credentials,
    };

    const packageDetails = `azsdk-js-arm-resourcegraph/5.0.0-beta.4`;
    const userAgentPrefix =
      options.userAgentOptions && options.userAgentOptions.userAgentPrefix
        ? `${options.userAgentOptions.userAgentPrefix} ${packageDetails}`
        : `${packageDetails}`;

    const optionsWithDefaults = {
      ...defaults,
      ...options,
      userAgentOptions: {
        userAgentPrefix,
      },
      endpoint:
        options.endpoint ?? options.baseUri ?? "https://management.azure.com",
    };
    super(optionsWithDefaults);

    let bearerTokenAuthenticationPolicyFound: boolean = false;
    if (options?.pipeline && options.pipeline.getOrderedPolicies().length > 0) {
      const pipelinePolicies: coreRestPipeline.PipelinePolicy[] =
        options.pipeline.getOrderedPolicies();
      bearerTokenAuthenticationPolicyFound = pipelinePolicies.some(
        (pipelinePolicy) =>
          pipelinePolicy.name ===
          coreRestPipeline.bearerTokenAuthenticationPolicyName,
      );
    }
    if (
      !options ||
      !options.pipeline ||
      options.pipeline.getOrderedPolicies().length == 0 ||
      !bearerTokenAuthenticationPolicyFound
    ) {
      this.pipeline.removePolicy({
        name: coreRestPipeline.bearerTokenAuthenticationPolicyName,
      });
      this.pipeline.addPolicy(
        coreRestPipeline.bearerTokenAuthenticationPolicy({
          credential: credentials,
          scopes:
            optionsWithDefaults.credentialScopes ??
            `${optionsWithDefaults.endpoint}/.default`,
          challengeCallbacks: {
            authorizeRequestOnChallenge:
              coreClient.authorizeRequestOnClaimChallenge,
          },
        }),
      );
    }
    // Parameter assignments
    this.$host = $host;
    this.query = new QueryImpl(this);
    this.operations = new OperationsImpl(this);
  }

  /**
   * Queries the resources managed by Azure Resource Manager for scopes specified in the request.
   * @param query Request specifying query and its options.
   * @param options The options parameters.
   */
  resources(
    query: QueryRequest,
    options?: ResourcesOptionalParams,
  ): Promise<ResourcesResponse> {
    return this.sendOperationRequest(
      { query, options },
      resourcesOperationSpec,
    );
  }

  /**
   * List all snapshots of a resource for a given time interval.
   * @param request Request specifying the query and its options.
   * @param options The options parameters.
   */
  resourcesHistory(
    request: ResourcesHistoryRequest,
    options?: ResourcesHistoryOptionalParams,
  ): Promise<ResourcesHistoryResponse> {
    return this.sendOperationRequest(
      { request, options },
      resourcesHistoryOperationSpec,
    );
  }

  /**
   * List changes to a resource for a given time interval.
   * @param parameters the parameters for this request for changes.
   * @param options The options parameters.
   */
  resourceChanges(
    parameters: ResourceChangesRequestParameters,
    options?: ResourceChangesOptionalParams,
  ): Promise<ResourceChangesResponse> {
    return this.sendOperationRequest(
      { parameters, options },
      resourceChangesOperationSpec,
    );
  }

  /**
   * Get resource change details.
   * @param parameters The parameters for this request for resource change details.
   * @param options The options parameters.
   */
  resourceChangeDetails(
    parameters: ResourceChangeDetailsRequestParameters,
    options?: ResourceChangeDetailsOptionalParams,
  ): Promise<ResourceChangeDetailsResponse> {
    return this.sendOperationRequest(
      { parameters, options },
      resourceChangeDetailsOperationSpec,
    );
  }

  query: Query;
  operations: Operations;
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const resourcesOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.ResourceGraph/resources",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.QueryResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.query,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const resourcesHistoryOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.ResourceGraph/resourcesHistory",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: {
        type: { name: "Dictionary", value: { type: { name: "any" } } },
      },
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.request,
  queryParameters: [Parameters.apiVersion1],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const resourceChangesOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.ResourceGraph/resourceChanges",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ResourceChangeList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters,
  queryParameters: [Parameters.apiVersion2],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
const resourceChangeDetailsOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.ResourceGraph/resourceChangeDetails",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: {
            type: { name: "Composite", className: "ResourceChangeData" },
          },
        },
      },
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters1,
  queryParameters: [Parameters.apiVersion2],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
