/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ErrorSummaries } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { OffAzureSpringBoot } from "../offAzureSpringBoot";
import {
  ErrorSummary,
  ErrorSummariesListBySiteNextOptionalParams,
  ErrorSummariesListBySiteOptionalParams,
  ErrorSummariesListBySiteResponse,
  ErrorSummariesGetOptionalParams,
  ErrorSummariesGetResponse,
  ErrorSummariesCreateOrUpdateOptionalParams,
  ErrorSummariesCreateOrUpdateResponse,
  ErrorSummariesDeleteOptionalParams,
  ErrorSummariesResourcePatch,
  ErrorSummariesUpdateOptionalParams,
  ErrorSummariesUpdateResponse,
  ErrorSummariesListBySiteNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ErrorSummaries operations. */
export class ErrorSummariesImpl implements ErrorSummaries {
  private readonly client: OffAzureSpringBoot;

  /**
   * Initialize a new instance of the class ErrorSummaries class.
   * @param client Reference to the service client
   */
  constructor(client: OffAzureSpringBoot) {
    this.client = client;
  }

  /**
   * Lists the ErrorSummaries resource in springbootsites.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  public listBySite(
    resourceGroupName: string,
    options?: ErrorSummariesListBySiteOptionalParams
  ): PagedAsyncIterableIterator<ErrorSummary> {
    const iter = this.listBySitePagingAll(resourceGroupName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listBySitePagingPage(resourceGroupName, options, settings);
      }
    };
  }

  private async *listBySitePagingPage(
    resourceGroupName: string,
    options?: ErrorSummariesListBySiteOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<ErrorSummary[]> {
    let result: ErrorSummariesListBySiteResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listBySite(resourceGroupName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listBySiteNext(
        resourceGroupName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listBySitePagingAll(
    resourceGroupName: string,
    options?: ErrorSummariesListBySiteOptionalParams
  ): AsyncIterableIterator<ErrorSummary> {
    for await (const page of this.listBySitePagingPage(
      resourceGroupName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets the ErrorSummaries resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    options?: ErrorSummariesGetOptionalParams
  ): Promise<ErrorSummariesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      getOperationSpec
    );
  }

  /**
   * Puts the ErrorSummaries resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param body The ErrorSummaries of discovered springbootsites
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    body: ErrorSummary,
    options?: ErrorSummariesCreateOrUpdateOptionalParams
  ): Promise<ErrorSummariesCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, body, options },
      createOrUpdateOperationSpec
    );
  }

  /**
   * Deletes the ErrorSummaries resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    options?: ErrorSummariesDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      deleteOperationSpec
    );
  }

  /**
   * Patch the ErrorSummaries resource.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param body Clouds patch payload.
   * @param options The options parameters.
   */
  update(
    resourceGroupName: string,
    body: ErrorSummariesResourcePatch,
    options?: ErrorSummariesUpdateOptionalParams
  ): Promise<ErrorSummariesUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, body, options },
      updateOperationSpec
    );
  }

  /**
   * Lists the ErrorSummaries resource in springbootsites.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param options The options parameters.
   */
  private _listBySite(
    resourceGroupName: string,
    options?: ErrorSummariesListBySiteOptionalParams
  ): Promise<ErrorSummariesListBySiteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, options },
      listBySiteOperationSpec
    );
  }

  /**
   * ListBySiteNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param nextLink The nextLink from the previous successful call to the ListBySite method.
   * @param options The options parameters.
   */
  private _listBySiteNext(
    resourceGroupName: string,
    nextLink: string,
    options?: ErrorSummariesListBySiteNextOptionalParams
  ): Promise<ErrorSummariesListBySiteNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, nextLink, options },
      listBySiteNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries/{errorSummaryName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ErrorSummary
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.errorSummaryName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries/{errorSummaryName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.ErrorSummary
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body2,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.errorSummaryName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries/{errorSummaryName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.errorSummaryName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const updateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries/{errorSummaryName}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.ErrorSummary
    },
    201: {
      bodyMapper: Mappers.ErrorSummary
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body3,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName,
    Parameters.errorSummaryName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listBySiteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OffAzureSpringBoot/springbootsites/{siteName}/ErrorSummaries",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ErrorSummaryList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listBySiteNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ErrorSummaryList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.siteName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
