/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { DeployedResource } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateEngineAPIs } from "../azureMigrateEngineAPIs.js";
import {
  DeployedResourceModel,
  DeployedResourceListNextOptionalParams,
  DeployedResourceListOptionalParams,
  DeployedResourceListResponse,
  DeployedResourceGetOptionalParams,
  DeployedResourceGetResponse,
  DeployedResourceListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing DeployedResource operations. */
export class DeployedResourceImpl implements DeployedResource {
  private readonly client: AzureMigrateEngineAPIs;

  /**
   * Initialize a new instance of the class DeployedResource class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateEngineAPIs) {
    this.client = client;
  }

  /**
   * Gets the list of deployed resources in the given modernizeProject.
   * @param subscriptionId Azure Subscription Id in which project was created.
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param modernizeProjectName ModernizeProject name.
   * @param options The options parameters.
   */
  public list(
    subscriptionId: string,
    resourceGroupName: string,
    modernizeProjectName: string,
    options?: DeployedResourceListOptionalParams,
  ): PagedAsyncIterableIterator<DeployedResourceModel> {
    const iter = this.listPagingAll(
      subscriptionId,
      resourceGroupName,
      modernizeProjectName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          subscriptionId,
          resourceGroupName,
          modernizeProjectName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    subscriptionId: string,
    resourceGroupName: string,
    modernizeProjectName: string,
    options?: DeployedResourceListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<DeployedResourceModel[]> {
    let result: DeployedResourceListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        subscriptionId,
        resourceGroupName,
        modernizeProjectName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        subscriptionId,
        resourceGroupName,
        modernizeProjectName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    subscriptionId: string,
    resourceGroupName: string,
    modernizeProjectName: string,
    options?: DeployedResourceListOptionalParams,
  ): AsyncIterableIterator<DeployedResourceModel> {
    for await (const page of this.listPagingPage(
      subscriptionId,
      resourceGroupName,
      modernizeProjectName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets the details of the deployed resource.
   * @param subscriptionId Azure Subscription Id in which project was created.
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param modernizeProjectName ModernizeProject name.
   * @param deployedResourceName Workload deployment name.
   * @param options The options parameters.
   */
  get(
    subscriptionId: string,
    resourceGroupName: string,
    modernizeProjectName: string,
    deployedResourceName: string,
    options?: DeployedResourceGetOptionalParams,
  ): Promise<DeployedResourceGetResponse> {
    return this.client.sendOperationRequest(
      {
        subscriptionId,
        resourceGroupName,
        modernizeProjectName,
        deployedResourceName,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * Gets the list of deployed resources in the given modernizeProject.
   * @param subscriptionId Azure Subscription Id in which project was created.
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param modernizeProjectName ModernizeProject name.
   * @param options The options parameters.
   */
  private _list(
    subscriptionId: string,
    resourceGroupName: string,
    modernizeProjectName: string,
    options?: DeployedResourceListOptionalParams,
  ): Promise<DeployedResourceListResponse> {
    return this.client.sendOperationRequest(
      { subscriptionId, resourceGroupName, modernizeProjectName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param subscriptionId Azure Subscription Id in which project was created.
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param modernizeProjectName ModernizeProject name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    subscriptionId: string,
    resourceGroupName: string,
    modernizeProjectName: string,
    nextLink: string,
    options?: DeployedResourceListNextOptionalParams,
  ): Promise<DeployedResourceListNextResponse> {
    return this.client.sendOperationRequest(
      {
        subscriptionId,
        resourceGroupName,
        modernizeProjectName,
        nextLink,
        options,
      },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/modernizeProjects/{modernizeProjectName}/deployedResources/{deployedResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DeployedResourceModel,
    },
    default: {
      bodyMapper: Mappers.ArmError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.modernizeProjectName,
    Parameters.deployedResourceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/modernizeProjects/{modernizeProjectName}/deployedResources",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DeployedResourceModelCollection,
    },
    default: {
      bodyMapper: Mappers.ArmError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.modernizeProjectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DeployedResourceModelCollection,
    },
    default: {
      bodyMapper: Mappers.ArmError,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.modernizeProjectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
