/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { MigrateAgentOperationStatus } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateEngineAPIs } from "../azureMigrateEngineAPIs.js";
import {
  MigrateAgentOperationStatusGetOptionalParams,
  MigrateAgentOperationStatusGetResponse,
} from "../models/index.js";

/** Class containing MigrateAgentOperationStatus operations. */
export class MigrateAgentOperationStatusImpl
  implements MigrateAgentOperationStatus
{
  private readonly client: AzureMigrateEngineAPIs;

  /**
   * Initialize a new instance of the class MigrateAgentOperationStatus class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateEngineAPIs) {
    this.client = client;
  }

  /**
   * Tracks the results of an asynchronous operation on the modernizeProject agent.
   * @param subscriptionId Azure Subscription Id in which project was created.
   * @param resourceGroupName Name of the Azure Resource Group that project is part of.
   * @param modernizeProjectName ModernizeProject name.
   * @param agentName MigrateAgent name.
   * @param operationId Operation Id.
   * @param options The options parameters.
   */
  get(
    subscriptionId: string,
    resourceGroupName: string,
    modernizeProjectName: string,
    agentName: string,
    operationId: string,
    options?: MigrateAgentOperationStatusGetOptionalParams,
  ): Promise<MigrateAgentOperationStatusGetResponse> {
    return this.client.sendOperationRequest(
      {
        subscriptionId,
        resourceGroupName,
        modernizeProjectName,
        agentName,
        operationId,
        options,
      },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/modernizeProjects/{modernizeProjectName}/migrateAgents/{agentName}/operations/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationStatus,
    },
    default: {
      bodyMapper: Mappers.ArmError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.modernizeProjectName,
    Parameters.agentName,
    Parameters.operationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
