/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { SolutionsDiscoverability } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AgriFoodMgmtClient } from "../agriFoodMgmtClient";
import {
  FarmBeatsSolution,
  SolutionsDiscoverabilityListNextOptionalParams,
  SolutionsDiscoverabilityListOptionalParams,
  SolutionsDiscoverabilityListResponse,
  SolutionsDiscoverabilityGetOptionalParams,
  SolutionsDiscoverabilityGetResponse,
  SolutionsDiscoverabilityListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing SolutionsDiscoverability operations. */
export class SolutionsDiscoverabilityImpl implements SolutionsDiscoverability {
  private readonly client: AgriFoodMgmtClient;

  /**
   * Initialize a new instance of the class SolutionsDiscoverability class.
   * @param client Reference to the service client
   */
  constructor(client: AgriFoodMgmtClient) {
    this.client = client;
  }

  /**
   * Get list of farmBeats solutions.
   * @param options The options parameters.
   */
  public list(
    options?: SolutionsDiscoverabilityListOptionalParams
  ): PagedAsyncIterableIterator<FarmBeatsSolution> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(options);
      }
    };
  }

  private async *listPagingPage(
    options?: SolutionsDiscoverabilityListOptionalParams
  ): AsyncIterableIterator<FarmBeatsSolution[]> {
    let result = await this._list(options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    options?: SolutionsDiscoverabilityListOptionalParams
  ): AsyncIterableIterator<FarmBeatsSolution> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Get list of farmBeats solutions.
   * @param options The options parameters.
   */
  private _list(
    options?: SolutionsDiscoverabilityListOptionalParams
  ): Promise<SolutionsDiscoverabilityListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Get farmBeats solution by id.
   * @param farmBeatsSolutionId farmBeatsSolutionId to be queried.
   * @param options The options parameters.
   */
  get(
    farmBeatsSolutionId: string,
    options?: SolutionsDiscoverabilityGetOptionalParams
  ): Promise<SolutionsDiscoverabilityGetResponse> {
    return this.client.sendOperationRequest(
      { farmBeatsSolutionId, options },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: SolutionsDiscoverabilityListNextOptionalParams
  ): Promise<SolutionsDiscoverabilityListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.AgFoodPlatform/farmBeatsSolutionDefinitions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.FarmBeatsSolutionListResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.maxPageSize,
    Parameters.farmBeatsSolutionIds,
    Parameters.farmBeatsSolutionNames
  ],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.AgFoodPlatform/farmBeatsSolutionDefinitions/{farmBeatsSolutionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.FarmBeatsSolution
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.farmBeatsSolutionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.FarmBeatsSolutionListResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.maxPageSize,
    Parameters.farmBeatsSolutionIds,
    Parameters.farmBeatsSolutionNames
  ],
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer
};
