/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { Solutions } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AgriFoodMgmtClient } from "../agriFoodMgmtClient";
import {
  Solution,
  SolutionsListNextOptionalParams,
  SolutionsListOptionalParams,
  SolutionsListResponse,
  SolutionsCreateOrUpdateOptionalParams,
  SolutionsCreateOrUpdateResponse,
  SolutionsGetOptionalParams,
  SolutionsGetResponse,
  SolutionsDeleteOptionalParams,
  SolutionsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Solutions operations. */
export class SolutionsImpl implements Solutions {
  private readonly client: AgriFoodMgmtClient;

  /**
   * Initialize a new instance of the class Solutions class.
   * @param client Reference to the service client
   */
  constructor(client: AgriFoodMgmtClient) {
    this.client = client;
  }

  /**
   * Get installed Solutions details.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param farmBeatsResourceName FarmBeats resource name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    farmBeatsResourceName: string,
    options?: SolutionsListOptionalParams
  ): PagedAsyncIterableIterator<Solution> {
    const iter = this.listPagingAll(
      resourceGroupName,
      farmBeatsResourceName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          farmBeatsResourceName,
          options,
          settings
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    farmBeatsResourceName: string,
    options?: SolutionsListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<Solution[]> {
    let result: SolutionsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        farmBeatsResourceName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        farmBeatsResourceName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    farmBeatsResourceName: string,
    options?: SolutionsListOptionalParams
  ): AsyncIterableIterator<Solution> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      farmBeatsResourceName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Install Or Update Solution.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param farmBeatsResourceName FarmBeats resource name.
   * @param solutionId Solution Id of the solution.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    farmBeatsResourceName: string,
    solutionId: string,
    options?: SolutionsCreateOrUpdateOptionalParams
  ): Promise<SolutionsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, farmBeatsResourceName, solutionId, options },
      createOrUpdateOperationSpec
    );
  }

  /**
   * Get installed Solution details by Solution id.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param farmBeatsResourceName FarmBeats resource name.
   * @param solutionId Solution Id of the solution.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    farmBeatsResourceName: string,
    solutionId: string,
    options?: SolutionsGetOptionalParams
  ): Promise<SolutionsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, farmBeatsResourceName, solutionId, options },
      getOperationSpec
    );
  }

  /**
   * Uninstall Solution.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param farmBeatsResourceName FarmBeats resource name.
   * @param solutionId Solution Id of the solution.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    farmBeatsResourceName: string,
    solutionId: string,
    options?: SolutionsDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, farmBeatsResourceName, solutionId, options },
      deleteOperationSpec
    );
  }

  /**
   * Get installed Solutions details.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param farmBeatsResourceName FarmBeats resource name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    farmBeatsResourceName: string,
    options?: SolutionsListOptionalParams
  ): Promise<SolutionsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, farmBeatsResourceName, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param farmBeatsResourceName FarmBeats resource name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    farmBeatsResourceName: string,
    nextLink: string,
    options?: SolutionsListNextOptionalParams
  ): Promise<SolutionsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, farmBeatsResourceName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{farmBeatsResourceName}/solutions/{solutionId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.Solution
    },
    201: {
      bodyMapper: Mappers.Solution
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body4,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.farmBeatsResourceName,
    Parameters.solutionId
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{farmBeatsResourceName}/solutions/{solutionId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Solution
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.farmBeatsResourceName,
    Parameters.solutionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{farmBeatsResourceName}/solutions/{solutionId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.farmBeatsResourceName,
    Parameters.solutionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AgFoodPlatform/farmBeats/{farmBeatsResourceName}/solutions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SolutionListResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.maxPageSize,
    Parameters.skipToken,
    Parameters.solutionIds,
    Parameters.ids,
    Parameters.names,
    Parameters.propertyFilters,
    Parameters.statuses,
    Parameters.minCreatedDateTime,
    Parameters.maxCreatedDateTime,
    Parameters.minLastModifiedDateTime,
    Parameters.maxLastModifiedDateTime
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.farmBeatsResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SolutionListResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.farmBeatsResourceName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
