/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { AlertTemplates } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { WorkloadsClient } from "../workloadsClient";
import {
  AlertTemplate,
  AlertTemplatesListByMonitorNextOptionalParams,
  AlertTemplatesListByMonitorOptionalParams,
  AlertTemplatesListByMonitorResponse,
  AlertTemplatesGetOptionalParams,
  AlertTemplatesGetResponse,
  AlertTemplatesListByMonitorNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AlertTemplates operations. */
export class AlertTemplatesImpl implements AlertTemplates {
  private readonly client: WorkloadsClient;

  /**
   * Initialize a new instance of the class AlertTemplates class.
   * @param client Reference to the service client
   */
  constructor(client: WorkloadsClient) {
    this.client = client;
  }

  /**
   * Gets a list of Alert Template in the specified SAP monitor. The operations returns various
   * properties of each provider instances.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Name of the SAP monitor resource.
   * @param options The options parameters.
   */
  public listByMonitor(
    resourceGroupName: string,
    monitorName: string,
    options?: AlertTemplatesListByMonitorOptionalParams,
  ): PagedAsyncIterableIterator<AlertTemplate> {
    const iter = this.listByMonitorPagingAll(
      resourceGroupName,
      monitorName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByMonitorPagingPage(
          resourceGroupName,
          monitorName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByMonitorPagingPage(
    resourceGroupName: string,
    monitorName: string,
    options?: AlertTemplatesListByMonitorOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AlertTemplate[]> {
    let result: AlertTemplatesListByMonitorResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByMonitor(
        resourceGroupName,
        monitorName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByMonitorNext(
        resourceGroupName,
        monitorName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByMonitorPagingAll(
    resourceGroupName: string,
    monitorName: string,
    options?: AlertTemplatesListByMonitorOptionalParams,
  ): AsyncIterableIterator<AlertTemplate> {
    for await (const page of this.listByMonitorPagingPage(
      resourceGroupName,
      monitorName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of Alert Template in the specified SAP monitor. The operations returns various
   * properties of each provider instances.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Name of the SAP monitor resource.
   * @param options The options parameters.
   */
  private _listByMonitor(
    resourceGroupName: string,
    monitorName: string,
    options?: AlertTemplatesListByMonitorOptionalParams,
  ): Promise<AlertTemplatesListByMonitorResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, options },
      listByMonitorOperationSpec,
    );
  }

  /**
   * Gets an Alert Template in the specified SAP monitor. The operations returns various properties of
   * each provider instances.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Name of the SAP monitor resource.
   * @param alertTemplate Name of the Alert Template instance.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    monitorName: string,
    alertTemplate: string,
    options?: AlertTemplatesGetOptionalParams,
  ): Promise<AlertTemplatesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, alertTemplate, options },
      getOperationSpec,
    );
  }

  /**
   * ListByMonitorNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Name of the SAP monitor resource.
   * @param nextLink The nextLink from the previous successful call to the ListByMonitor method.
   * @param options The options parameters.
   */
  private _listByMonitorNext(
    resourceGroupName: string,
    monitorName: string,
    nextLink: string,
    options?: AlertTemplatesListByMonitorNextOptionalParams,
  ): Promise<AlertTemplatesListByMonitorNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, nextLink, options },
      listByMonitorNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByMonitorOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertTemplateListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates/{alertTemplate}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertTemplate,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
    Parameters.alertTemplate,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByMonitorNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertTemplateListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
