/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { AlertTemplates } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { WorkloadsClient } from "../workloadsClient";
import {
  AlertTemplate,
  AlertTemplatesListNextOptionalParams,
  AlertTemplatesListOptionalParams,
  AlertTemplatesListResponse,
  AlertTemplatesGetOptionalParams,
  AlertTemplatesGetResponse,
  AlertTemplatesListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AlertTemplates operations. */
export class AlertTemplatesImpl implements AlertTemplates {
  private readonly client: WorkloadsClient;

  /**
   * Initialize a new instance of the class AlertTemplates class.
   * @param client Reference to the service client
   */
  constructor(client: WorkloadsClient) {
    this.client = client;
  }

  /**
   * Gets a list of alert templates in the specified SAP monitor. The operations returns various
   * properties of each alert template.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Name of the SAP monitor resource.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    monitorName: string,
    options?: AlertTemplatesListOptionalParams,
  ): PagedAsyncIterableIterator<AlertTemplate> {
    const iter = this.listPagingAll(resourceGroupName, monitorName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          monitorName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    monitorName: string,
    options?: AlertTemplatesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AlertTemplate[]> {
    let result: AlertTemplatesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, monitorName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        monitorName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    monitorName: string,
    options?: AlertTemplatesListOptionalParams,
  ): AsyncIterableIterator<AlertTemplate> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      monitorName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of alert templates in the specified SAP monitor. The operations returns various
   * properties of each alert template.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Name of the SAP monitor resource.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    monitorName: string,
    options?: AlertTemplatesListOptionalParams,
  ): Promise<AlertTemplatesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, options },
      listOperationSpec,
    );
  }

  /**
   * Gets properties of an alert template for the specified subscription, resource group, SAP monitor
   * name, and resource name.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Name of the SAP monitor resource.
   * @param alertTemplateName SAP monitor alert template resource name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    monitorName: string,
    alertTemplateName: string,
    options?: AlertTemplatesGetOptionalParams,
  ): Promise<AlertTemplatesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, alertTemplateName, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param monitorName Name of the SAP monitor resource.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    monitorName: string,
    nextLink: string,
    options?: AlertTemplatesListNextOptionalParams,
  ): Promise<AlertTemplatesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, monitorName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertTemplateListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.providerType],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Workloads/monitors/{monitorName}/alertTemplates/{alertTemplateName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertTemplate,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
    Parameters.alertTemplateName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AlertTemplateListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.monitorName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
