/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AlertRuleOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  AnalyticsRuleRunTrigger,
  AlertRuleTriggerRuleRunOptionalParams,
  AlertRuleTriggerRuleRunResponse
} from "../models";

/** Class containing AlertRuleOperations operations. */
export class AlertRuleOperationsImpl implements AlertRuleOperations {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class AlertRuleOperations class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * triggers analytics rule run
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param ruleId Alert rule ID
   * @param analyticsRuleRunTriggerParameter The Analytics Rule Run Trigger parameter
   * @param options The options parameters.
   */
  async beginTriggerRuleRun(
    resourceGroupName: string,
    workspaceName: string,
    ruleId: string,
    analyticsRuleRunTriggerParameter: AnalyticsRuleRunTrigger,
    options?: AlertRuleTriggerRuleRunOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<AlertRuleTriggerRuleRunResponse>,
      AlertRuleTriggerRuleRunResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<AlertRuleTriggerRuleRunResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: {
        resourceGroupName,
        workspaceName,
        ruleId,
        analyticsRuleRunTriggerParameter,
        options
      },
      spec: triggerRuleRunOperationSpec
    });
    const poller = await createHttpPoller<
      AlertRuleTriggerRuleRunResponse,
      OperationState<AlertRuleTriggerRuleRunResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * triggers analytics rule run
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param ruleId Alert rule ID
   * @param analyticsRuleRunTriggerParameter The Analytics Rule Run Trigger parameter
   * @param options The options parameters.
   */
  async beginTriggerRuleRunAndWait(
    resourceGroupName: string,
    workspaceName: string,
    ruleId: string,
    analyticsRuleRunTriggerParameter: AnalyticsRuleRunTrigger,
    options?: AlertRuleTriggerRuleRunOptionalParams
  ): Promise<AlertRuleTriggerRuleRunResponse> {
    const poller = await this.beginTriggerRuleRun(
      resourceGroupName,
      workspaceName,
      ruleId,
      analyticsRuleRunTriggerParameter,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const triggerRuleRunOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/alertRules/{ruleId}/triggerRuleRun",
  httpMethod: "POST",
  responses: {
    200: {
      headersMapper: Mappers.AlertRuleTriggerRuleRunHeaders
    },
    201: {
      headersMapper: Mappers.AlertRuleTriggerRuleRunHeaders
    },
    202: {
      headersMapper: Mappers.AlertRuleTriggerRuleRunHeaders
    },
    204: {
      headersMapper: Mappers.AlertRuleTriggerRuleRunHeaders
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.analyticsRuleRunTriggerParameter,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.ruleId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
