/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ContentPackages } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  Package,
  ContentPackagesListNextOptionalParams,
  ContentPackagesListOptionalParams,
  ContentPackagesListResponse,
  ContentPackagesGetOptionalParams,
  ContentPackagesGetResponse,
  PackageInstallationProperties,
  ContentPackagesInstallOptionalParams,
  ContentPackagesInstallResponse,
  ContentPackagesUninstallOptionalParams,
  ContentPackagesUninstallResponse,
  ContentPackagesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ContentPackages operations. */
export class ContentPackagesImpl implements ContentPackages {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class ContentPackages class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets all available packages.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    options?: ContentPackagesListOptionalParams
  ): PagedAsyncIterableIterator<Package> {
    const iter = this.listPagingAll(
      resourceGroupName,
      sentinelWorkspaceName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          sentinelWorkspaceName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    options?: ContentPackagesListOptionalParams
  ): AsyncIterableIterator<Package[]> {
    let result = await this._list(
      resourceGroupName,
      sentinelWorkspaceName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        sentinelWorkspaceName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    options?: ContentPackagesListOptionalParams
  ): AsyncIterableIterator<Package> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      sentinelWorkspaceName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets all available packages.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    options?: ContentPackagesListOptionalParams
  ): Promise<ContentPackagesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, sentinelWorkspaceName, options },
      listOperationSpec
    );
  }

  /**
   * Gets a package byt its identifier.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param packageId package Id
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    packageId: string,
    options?: ContentPackagesGetOptionalParams
  ): Promise<ContentPackagesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, sentinelWorkspaceName, packageId, options },
      getOperationSpec
    );
  }

  /**
   * Install a package to the workspace.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param packageId package Id
   * @param packageInstallationProperties Package installation properties
   * @param options The options parameters.
   */
  install(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    packageId: string,
    packageInstallationProperties: PackageInstallationProperties,
    options?: ContentPackagesInstallOptionalParams
  ): Promise<ContentPackagesInstallResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        sentinelWorkspaceName,
        packageId,
        packageInstallationProperties,
        options
      },
      installOperationSpec
    );
  }

  /**
   * Uninstall a package from the workspace.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param packageId package Id
   * @param options The options parameters.
   */
  uninstall(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    packageId: string,
    options?: ContentPackagesUninstallOptionalParams
  ): Promise<ContentPackagesUninstallResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, sentinelWorkspaceName, packageId, options },
      uninstallOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    nextLink: string,
    options?: ContentPackagesListNextOptionalParams
  ): Promise<ContentPackagesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, sentinelWorkspaceName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentPackages",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PackageList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.filter,
    Parameters.orderby,
    Parameters.top,
    Parameters.skip,
    Parameters.apiVersion1
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.sentinelWorkspaceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentPackages/{packageId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Package
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion1],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.sentinelWorkspaceName,
    Parameters.packageId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const installOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentPackages/{packageId}/install",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.Package
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.packageInstallationProperties,
  queryParameters: [Parameters.apiVersion1],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.sentinelWorkspaceName,
    Parameters.packageId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const uninstallOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentPackages/{packageId}/uninstall",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.Package
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion1],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.sentinelWorkspaceName,
    Parameters.packageId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PackageList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.filter,
    Parameters.orderby,
    Parameters.top,
    Parameters.skip,
    Parameters.apiVersion1
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.sentinelWorkspaceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
