/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ContentTemplate } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  ContentTemplateGetOptionalParams,
  ContentTemplateGetResponse,
  ContentTemplateDeleteOptionalParams
} from "../models";

/** Class containing ContentTemplate operations. */
export class ContentTemplateImpl implements ContentTemplate {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class ContentTemplate class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets a template byt its identifier.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
   *                                            Microsoft.OperationalInsights.
   * @param workspaceName The name of the workspace.
   * @param templateId template Id
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    operationalInsightsResourceProvider: string,
    workspaceName: string,
    templateId: string,
    options?: ContentTemplateGetOptionalParams
  ): Promise<ContentTemplateGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        operationalInsightsResourceProvider,
        workspaceName,
        templateId,
        options
      },
      getOperationSpec
    );
  }

  /**
   * Delete an installed template.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
   *                                            Microsoft.OperationalInsights.
   * @param workspaceName The name of the workspace.
   * @param templateId template Id
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    operationalInsightsResourceProvider: string,
    workspaceName: string,
    templateId: string,
    options?: ContentTemplateDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        operationalInsightsResourceProvider,
        workspaceName,
        templateId,
        options
      },
      deleteOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentTemplates/{templateId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TemplateModel
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.operationalInsightsResourceProvider,
    Parameters.templateId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/contentTemplates/{templateId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.operationalInsightsResourceProvider,
    Parameters.templateId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
