/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { ContentTemplates } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  Template,
  ContentTemplatesListNextOptionalParams,
  ContentTemplatesListOptionalParams,
  ContentTemplatesListResponse,
  ContentTemplatesGetOptionalParams,
  ContentTemplatesGetResponse,
  ContentTemplatesDeleteOptionalParams,
  ContentTemplatesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ContentTemplates operations. */
export class ContentTemplatesImpl implements ContentTemplates {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class ContentTemplates class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets all installed templates.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    options?: ContentTemplatesListOptionalParams
  ): PagedAsyncIterableIterator<Template> {
    const iter = this.listPagingAll(
      resourceGroupName,
      sentinelWorkspaceName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          sentinelWorkspaceName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    options?: ContentTemplatesListOptionalParams
  ): AsyncIterableIterator<Template[]> {
    let result = await this._list(
      resourceGroupName,
      sentinelWorkspaceName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        sentinelWorkspaceName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    options?: ContentTemplatesListOptionalParams
  ): AsyncIterableIterator<Template> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      sentinelWorkspaceName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets all installed templates.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    options?: ContentTemplatesListOptionalParams
  ): Promise<ContentTemplatesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, sentinelWorkspaceName, options },
      listOperationSpec
    );
  }

  /**
   * Gets a template byt its identifier.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param templateId template Id
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    templateId: string,
    options?: ContentTemplatesGetOptionalParams
  ): Promise<ContentTemplatesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, sentinelWorkspaceName, templateId, options },
      getOperationSpec
    );
  }

  /**
   * Delete an installed template.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param templateId template Id
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    templateId: string,
    options?: ContentTemplatesDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, sentinelWorkspaceName, templateId, options },
      deleteOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param sentinelWorkspaceName The name of the workspace.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    sentinelWorkspaceName: string,
    nextLink: string,
    options?: ContentTemplatesListNextOptionalParams
  ): Promise<ContentTemplatesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, sentinelWorkspaceName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentTemplates",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TemplateList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.orderby,
    Parameters.top,
    Parameters.skip
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.sentinelWorkspaceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentTemplates/{templateId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Template
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.sentinelWorkspaceName,
    Parameters.templateId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{sentinelWorkspaceName}/providers/Microsoft.SecurityInsights/contentTemplates/{templateId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.sentinelWorkspaceName,
    Parameters.templateId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TemplateList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.orderby,
    Parameters.top,
    Parameters.skip
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.sentinelWorkspaceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
