/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ExportJobs } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  ExportJob,
  ExportJobsListNextOptionalParams,
  ExportJobsListOptionalParams,
  ExportJobsListResponse,
  ExportJobsGetOptionalParams,
  ExportJobsGetResponse,
  ExportJobsCreateOptionalParams,
  ExportJobsCreateResponse,
  ExportJobsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ExportJobs operations. */
export class ExportJobsImpl implements ExportJobs {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class ExportJobs class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets all export jobs, without export jobs items.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param exportConnectionId Export connection Id
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workspaceName: string,
    exportConnectionId: string,
    options?: ExportJobsListOptionalParams
  ): PagedAsyncIterableIterator<ExportJob> {
    const iter = this.listPagingAll(
      resourceGroupName,
      workspaceName,
      exportConnectionId,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          workspaceName,
          exportConnectionId,
          options,
          settings
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workspaceName: string,
    exportConnectionId: string,
    options?: ExportJobsListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<ExportJob[]> {
    let result: ExportJobsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        workspaceName,
        exportConnectionId,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workspaceName,
        exportConnectionId,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workspaceName: string,
    exportConnectionId: string,
    options?: ExportJobsListOptionalParams
  ): AsyncIterableIterator<ExportJob> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workspaceName,
      exportConnectionId,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets all export jobs, without export jobs items.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param exportConnectionId Export connection Id
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workspaceName: string,
    exportConnectionId: string,
    options?: ExportJobsListOptionalParams
  ): Promise<ExportJobsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, exportConnectionId, options },
      listOperationSpec
    );
  }

  /**
   * Gets an export job by its identifier.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param exportConnectionId Export connection Id
   * @param exportJobId Export job Id
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workspaceName: string,
    exportConnectionId: string,
    exportJobId: string,
    options?: ExportJobsGetOptionalParams
  ): Promise<ExportJobsGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        exportConnectionId,
        exportJobId,
        options
      },
      getOperationSpec
    );
  }

  /**
   * Creates an export job.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param exportConnectionId Export connection Id
   * @param exportJobId Export job Id
   * @param exportJob The ExportJob
   * @param options The options parameters.
   */
  create(
    resourceGroupName: string,
    workspaceName: string,
    exportConnectionId: string,
    exportJobId: string,
    exportJob: ExportJob,
    options?: ExportJobsCreateOptionalParams
  ): Promise<ExportJobsCreateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        exportConnectionId,
        exportJobId,
        exportJob,
        options
      },
      createOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param exportConnectionId Export connection Id
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workspaceName: string,
    exportConnectionId: string,
    nextLink: string,
    options?: ExportJobsListNextOptionalParams
  ): Promise<ExportJobsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        exportConnectionId,
        nextLink,
        options
      },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/exportConnections/{exportConnectionId}/exportJobs",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExportJobList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.exportConnectionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/exportConnections/{exportConnectionId}/exportJobs/{exportJobId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExportJob
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.exportConnectionId,
    Parameters.exportJobId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/exportConnections/{exportConnectionId}/exportJobs/{exportJobId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.ExportJob
    },
    201: {
      bodyMapper: Mappers.ExportJob
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.exportJob,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.exportConnectionId,
    Parameters.exportJobId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExportJobList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.nextLink,
    Parameters.exportConnectionId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
