/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Get } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  GetRecommendationsOptionalParams,
  GetRecommendationsResponse,
  GetSingleRecommendationOptionalParams,
  GetSingleRecommendationResponse
} from "../models";

/** Class containing Get operations. */
export class GetImpl implements Get {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class Get class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets a list of all recommendations.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param options The options parameters.
   */
  recommendations(
    resourceGroupName: string,
    workspaceName: string,
    options?: GetRecommendationsOptionalParams
  ): Promise<GetRecommendationsResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, options },
      recommendationsOperationSpec
    );
  }

  /**
   * Gets a recommendation by its id.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param recommendationId Recommendation Id.
   * @param options The options parameters.
   */
  singleRecommendation(
    resourceGroupName: string,
    workspaceName: string,
    recommendationId: string,
    options?: GetSingleRecommendationOptionalParams
  ): Promise<GetSingleRecommendationResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, recommendationId, options },
      singleRecommendationOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const recommendationsOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/recommendations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: {
        type: {
          name: "Sequence",
          element: { type: { name: "Composite", className: "Recommendation" } }
        }
      }
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const singleRecommendationOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/recommendations/{recommendationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Recommendation
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.recommendationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
