/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { HuntComments } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  HuntComment,
  HuntCommentsListNextOptionalParams,
  HuntCommentsListOptionalParams,
  HuntCommentsListResponse,
  HuntCommentsGetOptionalParams,
  HuntCommentsGetResponse,
  HuntCommentsDeleteOptionalParams,
  HuntCommentsCreateOrUpdateOptionalParams,
  HuntCommentsCreateOrUpdateResponse,
  HuntCommentsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing HuntComments operations. */
export class HuntCommentsImpl implements HuntComments {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class HuntComments class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets all hunt comments
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param huntId The hunt id (GUID)
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workspaceName: string,
    huntId: string,
    options?: HuntCommentsListOptionalParams
  ): PagedAsyncIterableIterator<HuntComment> {
    const iter = this.listPagingAll(
      resourceGroupName,
      workspaceName,
      huntId,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          workspaceName,
          huntId,
          options,
          settings
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workspaceName: string,
    huntId: string,
    options?: HuntCommentsListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<HuntComment[]> {
    let result: HuntCommentsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        workspaceName,
        huntId,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workspaceName,
        huntId,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workspaceName: string,
    huntId: string,
    options?: HuntCommentsListOptionalParams
  ): AsyncIterableIterator<HuntComment> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workspaceName,
      huntId,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets all hunt comments
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param huntId The hunt id (GUID)
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workspaceName: string,
    huntId: string,
    options?: HuntCommentsListOptionalParams
  ): Promise<HuntCommentsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, huntId, options },
      listOperationSpec
    );
  }

  /**
   * Gets a hunt comment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param huntId The hunt id (GUID)
   * @param huntCommentId The hunt comment id (GUID)
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workspaceName: string,
    huntId: string,
    huntCommentId: string,
    options?: HuntCommentsGetOptionalParams
  ): Promise<HuntCommentsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, huntId, huntCommentId, options },
      getOperationSpec
    );
  }

  /**
   * Delete a hunt comment.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param huntId The hunt id (GUID)
   * @param huntCommentId The hunt comment id (GUID)
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    workspaceName: string,
    huntId: string,
    huntCommentId: string,
    options?: HuntCommentsDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, huntId, huntCommentId, options },
      deleteOperationSpec
    );
  }

  /**
   * Creates or updates a hunt relation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param huntId The hunt id (GUID)
   * @param huntCommentId The hunt comment id (GUID)
   * @param huntComment The hunt  comment
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    workspaceName: string,
    huntId: string,
    huntCommentId: string,
    huntComment: HuntComment,
    options?: HuntCommentsCreateOrUpdateOptionalParams
  ): Promise<HuntCommentsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        huntId,
        huntCommentId,
        huntComment,
        options
      },
      createOrUpdateOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param huntId The hunt id (GUID)
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workspaceName: string,
    huntId: string,
    nextLink: string,
    options?: HuntCommentsListNextOptionalParams
  ): Promise<HuntCommentsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, huntId, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/hunts/{huntId}/comments",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HuntCommentList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.orderby,
    Parameters.top,
    Parameters.skipToken
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.huntId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/hunts/{huntId}/comments/{huntCommentId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HuntComment
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.huntId,
    Parameters.huntCommentId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/hunts/{huntId}/comments/{huntCommentId}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.huntId,
    Parameters.huntCommentId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/hunts/{huntId}/comments/{huntCommentId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.HuntComment
    },
    201: {
      bodyMapper: Mappers.HuntComment
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.huntComment,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.huntId,
    Parameters.huntCommentId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HuntCommentList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.nextLink,
    Parameters.huntId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
