/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Reevaluate } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  ReevaluateRecommendationOptionalParams,
  ReevaluateRecommendationResponse,
} from "../models";

/** Class containing Reevaluate operations. */
export class ReevaluateImpl implements Reevaluate {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class Reevaluate class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Reevaluate a recommendation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param recommendationId Recommendation Id.
   * @param options The options parameters.
   */
  async beginRecommendation(
    resourceGroupName: string,
    workspaceName: string,
    recommendationId: string,
    options?: ReevaluateRecommendationOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<ReevaluateRecommendationResponse>,
      ReevaluateRecommendationResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<ReevaluateRecommendationResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, workspaceName, recommendationId, options },
      spec: recommendationOperationSpec,
    });
    const poller = await createHttpPoller<
      ReevaluateRecommendationResponse,
      OperationState<ReevaluateRecommendationResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
    });
    await poller.poll();
    return poller;
  }

  /**
   * Reevaluate a recommendation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param recommendationId Recommendation Id.
   * @param options The options parameters.
   */
  async beginRecommendationAndWait(
    resourceGroupName: string,
    workspaceName: string,
    recommendationId: string,
    options?: ReevaluateRecommendationOptionalParams,
  ): Promise<ReevaluateRecommendationResponse> {
    const poller = await this.beginRecommendation(
      resourceGroupName,
      workspaceName,
      recommendationId,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const recommendationOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/recommendations/{recommendationId}/triggerEvaluation",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ReevaluateResponse,
    },
    201: {
      bodyMapper: Mappers.ReevaluateResponse,
    },
    202: {
      bodyMapper: Mappers.ReevaluateResponse,
    },
    204: {
      bodyMapper: Mappers.ReevaluateResponse,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.recommendationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
