/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { Templates } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  Template,
  TemplatesListNextOptionalParams,
  TemplatesListOptionalParams,
  TemplatesListResponse,
  TemplatesGetOptionalParams,
  TemplatesGetResponse,
  TemplatesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing Templates operations. */
export class TemplatesImpl implements Templates {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class Templates class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets all installed templates.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
   *                                            Microsoft.OperationalInsights.
   * @param workspaceName The name of the workspace.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    operationalInsightsResourceProvider: string,
    workspaceName: string,
    options?: TemplatesListOptionalParams
  ): PagedAsyncIterableIterator<Template> {
    const iter = this.listPagingAll(
      resourceGroupName,
      operationalInsightsResourceProvider,
      workspaceName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          operationalInsightsResourceProvider,
          workspaceName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    operationalInsightsResourceProvider: string,
    workspaceName: string,
    options?: TemplatesListOptionalParams
  ): AsyncIterableIterator<Template[]> {
    let result = await this._list(
      resourceGroupName,
      operationalInsightsResourceProvider,
      workspaceName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        operationalInsightsResourceProvider,
        workspaceName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    operationalInsightsResourceProvider: string,
    workspaceName: string,
    options?: TemplatesListOptionalParams
  ): AsyncIterableIterator<Template> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      operationalInsightsResourceProvider,
      workspaceName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Gets all installed templates.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
   *                                            Microsoft.OperationalInsights.
   * @param workspaceName The name of the workspace.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    operationalInsightsResourceProvider: string,
    workspaceName: string,
    options?: TemplatesListOptionalParams
  ): Promise<TemplatesListResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        operationalInsightsResourceProvider,
        workspaceName,
        options
      },
      listOperationSpec
    );
  }

  /**
   * Gets a template byt its identifier.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
   *                                            Microsoft.OperationalInsights.
   * @param workspaceName The name of the workspace.
   * @param templateId template Id
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    operationalInsightsResourceProvider: string,
    workspaceName: string,
    templateId: string,
    options?: TemplatesGetOptionalParams
  ): Promise<TemplatesGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        operationalInsightsResourceProvider,
        workspaceName,
        templateId,
        options
      },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param operationalInsightsResourceProvider The namespace of workspaces resource provider-
   *                                            Microsoft.OperationalInsights.
   * @param workspaceName The name of the workspace.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    operationalInsightsResourceProvider: string,
    workspaceName: string,
    nextLink: string,
    options?: TemplatesListNextOptionalParams
  ): Promise<TemplatesListNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        operationalInsightsResourceProvider,
        workspaceName,
        nextLink,
        options
      },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/templates",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TemplateList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.orderby,
    Parameters.top,
    Parameters.skipToken
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.operationalInsightsResourceProvider
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/{operationalInsightsResourceProvider}/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/templates/{templateId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Template
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.operationalInsightsResourceProvider,
    Parameters.templateId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TemplateList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.orderby,
    Parameters.top,
    Parameters.skipToken
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.nextLink,
    Parameters.operationalInsightsResourceProvider
  ],
  headerParameters: [Parameters.accept],
  serializer
};
