/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { TriggeredAnalyticsRuleRunOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  TriggeredAnalyticsRuleRunGetOptionalParams,
  TriggeredAnalyticsRuleRunGetResponse
} from "../models";

/** Class containing TriggeredAnalyticsRuleRunOperations operations. */
export class TriggeredAnalyticsRuleRunOperationsImpl
  implements TriggeredAnalyticsRuleRunOperations {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class TriggeredAnalyticsRuleRunOperations class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Gets the triggered analytics rule run.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param ruleRunId the triggered rule id
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workspaceName: string,
    ruleRunId: string,
    options?: TriggeredAnalyticsRuleRunGetOptionalParams
  ): Promise<TriggeredAnalyticsRuleRunGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, ruleRunId, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/triggeredAnalyticsRuleRuns/{ruleRunId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TriggeredAnalyticsRuleRun
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.ruleRunId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
