/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Update } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityInsights } from "../securityInsights";
import {
  RecommendationPatch,
  UpdateRecommendationOptionalParams,
  UpdateRecommendationResponse
} from "../models";

/** Class containing Update operations. */
export class UpdateImpl implements Update {
  private readonly client: SecurityInsights;

  /**
   * Initialize a new instance of the class Update class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityInsights) {
    this.client = client;
  }

  /**
   * Patch a recommendation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param recommendationId Recommendation Id.
   * @param recommendationPatch Recommendation Fields to Update.
   * @param options The options parameters.
   */
  recommendation(
    resourceGroupName: string,
    workspaceName: string,
    recommendationId: string,
    recommendationPatch: RecommendationPatch[],
    options?: UpdateRecommendationOptionalParams
  ): Promise<UpdateRecommendationResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        recommendationId,
        recommendationPatch,
        options
      },
      recommendationOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const recommendationOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.OperationalInsights/workspaces/{workspaceName}/providers/Microsoft.SecurityInsights/recommendations/{recommendationId}",
  httpMethod: "PATCH",
  responses: {
    202: {
      bodyMapper: Mappers.Recommendation
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.recommendationPatch,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.recommendationId
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
