/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { WorkflowOperationStatus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureSiteRecoveryManagementServiceAPI } from "../azureSiteRecoveryManagementServiceAPI";
import {
  WorkflowOperationStatusGetOptionalParams,
  WorkflowOperationStatusGetResponse
} from "../models";

/** Class containing WorkflowOperationStatus operations. */
export class WorkflowOperationStatusImpl implements WorkflowOperationStatus {
  private readonly client: AzureSiteRecoveryManagementServiceAPI;

  /**
   * Initialize a new instance of the class WorkflowOperationStatus class.
   * @param client Reference to the service client
   */
  constructor(client: AzureSiteRecoveryManagementServiceAPI) {
    this.client = client;
  }

  /**
   * Tracks the results of an asynchronous operation on the job.
   * @param subscriptionId The subscription Id.
   * @param resourceGroupName Resource group name.
   * @param vaultName Vault name.
   * @param workflowName Workflow name.
   * @param operationId Operation Id.
   * @param options The options parameters.
   */
  get(
    subscriptionId: string,
    resourceGroupName: string,
    vaultName: string,
    workflowName: string,
    operationId: string,
    options?: WorkflowOperationStatusGetOptionalParams
  ): Promise<WorkflowOperationStatusGetResponse> {
    return this.client.sendOperationRequest(
      {
        subscriptionId,
        resourceGroupName,
        vaultName,
        workflowName,
        operationId,
        options
      },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/replicationVaults/{vaultName}/jobs/{workflowName}/operations/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationStatus
    },
    default: {
      bodyMapper: Mappers.ArmError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.operationId,
    Parameters.vaultName,
    Parameters.workflowName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
