/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Environment } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ConfluentManagementClient } from "../confluentManagementClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  EnvironmentCreateOrUpdateOptionalParams,
  EnvironmentCreateOrUpdateResponse,
  EnvironmentDeleteOptionalParams,
  EnvironmentDeleteResponse,
} from "../models";

/** Class containing Environment operations. */
export class EnvironmentImpl implements Environment {
  private readonly client: ConfluentManagementClient;

  /**
   * Initialize a new instance of the class Environment class.
   * @param client Reference to the service client
   */
  constructor(client: ConfluentManagementClient) {
    this.client = client;
  }

  /**
   * Create confluent environment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param organizationName Organization resource name
   * @param environmentId Confluent environment id
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    organizationName: string,
    environmentId: string,
    options?: EnvironmentCreateOrUpdateOptionalParams,
  ): Promise<EnvironmentCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, organizationName, environmentId, options },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Delete confluent environment by id
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param organizationName Organization resource name
   * @param environmentId Confluent environment id
   * @param options The options parameters.
   */
  async beginDelete(
    resourceGroupName: string,
    organizationName: string,
    environmentId: string,
    options?: EnvironmentDeleteOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<EnvironmentDeleteResponse>,
      EnvironmentDeleteResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<EnvironmentDeleteResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, organizationName, environmentId, options },
      spec: deleteOperationSpec,
    });
    const poller = await createHttpPoller<
      EnvironmentDeleteResponse,
      OperationState<EnvironmentDeleteResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Delete confluent environment by id
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param organizationName Organization resource name
   * @param environmentId Confluent environment id
   * @param options The options parameters.
   */
  async beginDeleteAndWait(
    resourceGroupName: string,
    organizationName: string,
    environmentId: string,
    options?: EnvironmentDeleteOptionalParams,
  ): Promise<EnvironmentDeleteResponse> {
    const poller = await this.beginDelete(
      resourceGroupName,
      organizationName,
      environmentId,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.SCEnvironmentRecord,
    },
    201: {
      bodyMapper: Mappers.SCEnvironmentRecord,
    },
    default: {
      bodyMapper: Mappers.ResourceProviderDefaultErrorResponse,
    },
  },
  requestBody: Parameters.body8,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.organizationName,
    Parameters.resourceGroupName1,
    Parameters.environmentId,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Confluent/organizations/{organizationName}/environments/{environmentId}",
  httpMethod: "DELETE",
  responses: {
    200: {
      headersMapper: Mappers.EnvironmentDeleteHeaders,
    },
    201: {
      headersMapper: Mappers.EnvironmentDeleteHeaders,
    },
    202: {
      headersMapper: Mappers.EnvironmentDeleteHeaders,
    },
    204: {
      headersMapper: Mappers.EnvironmentDeleteHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.organizationName,
    Parameters.resourceGroupName1,
    Parameters.environmentId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
