/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { TwelveRecommendationssMetadata } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AdvisorManagementClient } from "../advisorManagementClient";
import {
  TwelveRecommendationssMetadataGetOptionalParams,
  TwelveRecommendationssMetadataGetResponse
} from "../models";

/** Class containing TwelveRecommendationssMetadata operations. */
export class TwelveRecommendationssMetadataImpl
  implements TwelveRecommendationssMetadata {
  private readonly client: AdvisorManagementClient;

  /**
   * Initialize a new instance of the class TwelveRecommendationssMetadata class.
   * @param client Reference to the service client
   */
  constructor(client: AdvisorManagementClient) {
    this.client = client;
  }

  /**
   * Gets the metadata entity.
   * @param name Name of metadata entity.
   * @param options The options parameters.
   */
  get(
    name: string,
    options?: TwelveRecommendationssMetadataGetOptionalParams
  ): Promise<TwelveRecommendationssMetadataGetResponse> {
    return this.client.sendOperationRequest(
      { name, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Advisor/metadata/{name}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MetadataEntity
    },
    404: {
      bodyMapper: Mappers.ARMErrorResponseBody,
      isError: true
    },
    default: {
      bodyMapper: Mappers.ArmErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.name],
  headerParameters: [Parameters.accept],
  serializer
};
