/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Onboard } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureAPIForManagingScomManagedInstancesAndMonitoredResources } from "../azureAPIForManagingScomManagedInstancesAndMonitoredResources";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  GatewayOnboardingProperties,
  OnboardGatewayOptionalParams,
  OnboardGatewayResponse,
} from "../models";

/** Class containing Onboard operations. */
export class OnboardImpl implements Onboard {
  private readonly client: AzureAPIForManagingScomManagedInstancesAndMonitoredResources;

  /**
   * Initialize a new instance of the class Onboard class.
   * @param client Reference to the service client
   */
  constructor(
    client: AzureAPIForManagingScomManagedInstancesAndMonitoredResources,
  ) {
    this.client = client;
  }

  /**
   * Gateway approval for onboarding gateway.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param instanceName Name of the Azure Monitor Operations Manager Managed Instance (SCOM MI)
   * @param body Properties for approval of gateway
   * @param options The options parameters.
   */
  async beginGateway(
    resourceGroupName: string,
    instanceName: string,
    body: GatewayOnboardingProperties,
    options?: OnboardGatewayOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<OnboardGatewayResponse>,
      OnboardGatewayResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<OnboardGatewayResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, instanceName, body, options },
      spec: gatewayOperationSpec,
    });
    const poller = await createHttpPoller<
      OnboardGatewayResponse,
      OperationState<OnboardGatewayResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Gateway approval for onboarding gateway.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param instanceName Name of the Azure Monitor Operations Manager Managed Instance (SCOM MI)
   * @param body Properties for approval of gateway
   * @param options The options parameters.
   */
  async beginGatewayAndWait(
    resourceGroupName: string,
    instanceName: string,
    body: GatewayOnboardingProperties,
    options?: OnboardGatewayOptionalParams,
  ): Promise<OnboardGatewayResponse> {
    const poller = await this.beginGateway(
      resourceGroupName,
      instanceName,
      body,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const gatewayOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Scom/managedInstances/{instanceName}/onboardGateway",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CommonResponseProperties,
    },
    201: {
      bodyMapper: Mappers.CommonResponseProperties,
    },
    202: {
      bodyMapper: Mappers.CommonResponseProperties,
    },
    204: {
      bodyMapper: Mappers.CommonResponseProperties,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.body4,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.instanceName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
