/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { RpUnbilledPrefixes } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PeeringManagementClient } from "../peeringManagementClient";
import {
  RpUnbilledPrefix,
  RpUnbilledPrefixesListNextOptionalParams,
  RpUnbilledPrefixesListOptionalParams,
  RpUnbilledPrefixesListResponse,
  RpUnbilledPrefixesListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing RpUnbilledPrefixes operations. */
export class RpUnbilledPrefixesImpl implements RpUnbilledPrefixes {
  private readonly client: PeeringManagementClient;

  /**
   * Initialize a new instance of the class RpUnbilledPrefixes class.
   * @param client Reference to the service client
   */
  constructor(client: PeeringManagementClient) {
    this.client = client;
  }

  /**
   * Lists all of the RP unbilled prefixes for the specified peering
   * @param resourceGroupName The Azure resource group name.
   * @param peeringName The peering name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    peeringName: string,
    options?: RpUnbilledPrefixesListOptionalParams
  ): PagedAsyncIterableIterator<RpUnbilledPrefix> {
    const iter = this.listPagingAll(resourceGroupName, peeringName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(resourceGroupName, peeringName, options);
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    peeringName: string,
    options?: RpUnbilledPrefixesListOptionalParams
  ): AsyncIterableIterator<RpUnbilledPrefix[]> {
    let result = await this._list(resourceGroupName, peeringName, options);
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        peeringName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    peeringName: string,
    options?: RpUnbilledPrefixesListOptionalParams
  ): AsyncIterableIterator<RpUnbilledPrefix> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      peeringName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Lists all of the RP unbilled prefixes for the specified peering
   * @param resourceGroupName The Azure resource group name.
   * @param peeringName The peering name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    peeringName: string,
    options?: RpUnbilledPrefixesListOptionalParams
  ): Promise<RpUnbilledPrefixesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringName, options },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The Azure resource group name.
   * @param peeringName The peering name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    peeringName: string,
    nextLink: string,
    options?: RpUnbilledPrefixesListNextOptionalParams
  ): Promise<RpUnbilledPrefixesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, peeringName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Peering/peerings/{peeringName}/rpUnbilledPrefixes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RpUnbilledPrefixListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.consolidate],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.peeringName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RpUnbilledPrefixListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.consolidate],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceGroupName,
    Parameters.peeringName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
