/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { EnterpriseDetailsOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DashboardManagementClient } from "../dashboardManagementClient";
import {
  EnterpriseDetailsPostOptionalParams,
  EnterpriseDetailsPostResponse
} from "../models";

/** Class containing EnterpriseDetailsOperations operations. */
export class EnterpriseDetailsOperationsImpl
  implements EnterpriseDetailsOperations {
  private readonly client: DashboardManagementClient;

  /**
   * Initialize a new instance of the class EnterpriseDetailsOperations class.
   * @param client Reference to the service client
   */
  constructor(client: DashboardManagementClient) {
    this.client = client;
  }

  /**
   * Retrieve enterprise add-on details information
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The workspace name of Azure Managed Grafana.
   * @param options The options parameters.
   */
  post(
    resourceGroupName: string,
    workspaceName: string,
    options?: EnterpriseDetailsPostOptionalParams
  ): Promise<EnterpriseDetailsPostResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, options },
      postOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const postOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Dashboard/grafana/{workspaceName}/checkEnterpriseDetails",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.EnterpriseDetails
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
