/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { DeploymentPreflight } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureSiteRecoveryManagementServiceAPI } from "../azureSiteRecoveryManagementServiceAPI.js";
import {
  DeploymentPreflightPostOptionalParams,
  DeploymentPreflightPostResponse,
} from "../models/index.js";

/** Class containing DeploymentPreflight operations. */
export class DeploymentPreflightImpl implements DeploymentPreflight {
  private readonly client: AzureSiteRecoveryManagementServiceAPI;

  /**
   * Initialize a new instance of the class DeploymentPreflight class.
   * @param client Reference to the service client
   */
  constructor(client: AzureSiteRecoveryManagementServiceAPI) {
    this.client = client;
  }

  /**
   * Performs resource deployment preflight validation.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deploymentId Deployment Id.
   * @param options The options parameters.
   */
  post(
    resourceGroupName: string,
    deploymentId: string,
    options?: DeploymentPreflightPostOptionalParams,
  ): Promise<DeploymentPreflightPostResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deploymentId, options },
      postOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const postOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataReplication/deployments/{deploymentId}/preflight",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.DeploymentPreflightModel,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.body5,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deploymentId,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
