/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { UpgradeWindowHistory } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { EventHubManagementClient } from "../eventHubManagementClient";
import {
  ClusterUpgradeHistory,
  UpgradeWindowHistoryGetNextOptionalParams,
  UpgradeWindowHistoryGetOptionalParams,
  UpgradeWindowHistoryGetResponse,
  UpgradeWindowHistoryGetNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing UpgradeWindowHistory operations. */
export class UpgradeWindowHistoryImpl implements UpgradeWindowHistory {
  private readonly client: EventHubManagementClient;

  /**
   * Initialize a new instance of the class UpgradeWindowHistory class.
   * @param client Reference to the service client
   */
  constructor(client: EventHubManagementClient) {
    this.client = client;
  }

  /**
   * Get Event Hubs Cluster upgrade window history
   * @param resourceGroupName Name of the resource group within the azure subscription.
   * @param clusterName The name of the Event Hubs Cluster.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    clusterName: string,
    options?: UpgradeWindowHistoryGetOptionalParams
  ): PagedAsyncIterableIterator<ClusterUpgradeHistory> {
    const iter = this.getPagingAll(resourceGroupName, clusterName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.getPagingPage(
          resourceGroupName,
          clusterName,
          options,
          settings
        );
      }
    };
  }

  private async *getPagingPage(
    resourceGroupName: string,
    clusterName: string,
    options?: UpgradeWindowHistoryGetOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<ClusterUpgradeHistory[]> {
    let result: UpgradeWindowHistoryGetResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._get(resourceGroupName, clusterName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._getNext(
        resourceGroupName,
        clusterName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *getPagingAll(
    resourceGroupName: string,
    clusterName: string,
    options?: UpgradeWindowHistoryGetOptionalParams
  ): AsyncIterableIterator<ClusterUpgradeHistory> {
    for await (const page of this.getPagingPage(
      resourceGroupName,
      clusterName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Get Event Hubs Cluster upgrade window history
   * @param resourceGroupName Name of the resource group within the azure subscription.
   * @param clusterName The name of the Event Hubs Cluster.
   * @param options The options parameters.
   */
  private _get(
    resourceGroupName: string,
    clusterName: string,
    options?: UpgradeWindowHistoryGetOptionalParams
  ): Promise<UpgradeWindowHistoryGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterName, options },
      getOperationSpec
    );
  }

  /**
   * GetNext
   * @param resourceGroupName Name of the resource group within the azure subscription.
   * @param clusterName The name of the Event Hubs Cluster.
   * @param nextLink The nextLink from the previous successful call to the Get method.
   * @param options The options parameters.
   */
  private _getNext(
    resourceGroupName: string,
    clusterName: string,
    nextLink: string,
    options?: UpgradeWindowHistoryGetNextOptionalParams
  ): Promise<UpgradeWindowHistoryGetNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterName, nextLink, options },
      getNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.EventHub/clusters/{clusterName}/upgradewindowhistory",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ClusterUpgradeHistoryList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ClusterUpgradeHistoryList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
