/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ControlSessionHostUpdate } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DesktopVirtualizationAPIClient } from "../desktopVirtualizationAPIClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  HostPoolControlParameter,
  ControlSessionHostUpdatePostOptionalParams,
  ControlSessionHostUpdatePostResponse,
} from "../models";

/** Class containing ControlSessionHostUpdate operations. */
export class ControlSessionHostUpdateImpl implements ControlSessionHostUpdate {
  private readonly client: DesktopVirtualizationAPIClient;

  /**
   * Initialize a new instance of the class ControlSessionHostUpdate class.
   * @param client Reference to the service client
   */
  constructor(client: DesktopVirtualizationAPIClient) {
    this.client = client;
  }

  /**
   * Control update of a hostpool.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param hostPoolName The name of the host pool within the specified resource group
   * @param hostPoolControlParameter Object containing control action for hostpool update.
   * @param options The options parameters.
   */
  async beginPost(
    resourceGroupName: string,
    hostPoolName: string,
    hostPoolControlParameter: HostPoolControlParameter,
    options?: ControlSessionHostUpdatePostOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<ControlSessionHostUpdatePostResponse>,
      ControlSessionHostUpdatePostResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<ControlSessionHostUpdatePostResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: {
        resourceGroupName,
        hostPoolName,
        hostPoolControlParameter,
        options,
      },
      spec: postOperationSpec,
    });
    const poller = await createHttpPoller<
      ControlSessionHostUpdatePostResponse,
      OperationState<ControlSessionHostUpdatePostResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Control update of a hostpool.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param hostPoolName The name of the host pool within the specified resource group
   * @param hostPoolControlParameter Object containing control action for hostpool update.
   * @param options The options parameters.
   */
  async beginPostAndWait(
    resourceGroupName: string,
    hostPoolName: string,
    hostPoolControlParameter: HostPoolControlParameter,
    options?: ControlSessionHostUpdatePostOptionalParams,
  ): Promise<ControlSessionHostUpdatePostResponse> {
    const poller = await this.beginPost(
      resourceGroupName,
      hostPoolName,
      hostPoolControlParameter,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const postOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default/controlSessionHostUpdate",
  httpMethod: "POST",
  responses: {
    200: {
      headersMapper: Mappers.ControlSessionHostUpdatePostHeaders,
    },
    201: {
      headersMapper: Mappers.ControlSessionHostUpdatePostHeaders,
    },
    202: {
      headersMapper: Mappers.ControlSessionHostUpdatePostHeaders,
    },
    204: {
      headersMapper: Mappers.ControlSessionHostUpdatePostHeaders,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.hostPoolControlParameter,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.hostPoolName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
