/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Desktops } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DesktopVirtualizationAPIClient } from "../desktopVirtualizationAPIClient";
import {
  DesktopsGetOptionalParams,
  DesktopsGetResponse,
  DesktopsUpdateOptionalParams,
  DesktopsUpdateResponse,
  DesktopsListOptionalParams,
  DesktopsListResponse
} from "../models";

/** Class containing Desktops operations. */
export class DesktopsImpl implements Desktops {
  private readonly client: DesktopVirtualizationAPIClient;

  /**
   * Initialize a new instance of the class Desktops class.
   * @param client Reference to the service client
   */
  constructor(client: DesktopVirtualizationAPIClient) {
    this.client = client;
  }

  /**
   * Get a desktop.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param applicationGroupName The name of the application group
   * @param desktopName The name of the desktop within the specified desktop group
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    applicationGroupName: string,
    desktopName: string,
    options?: DesktopsGetOptionalParams
  ): Promise<DesktopsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, applicationGroupName, desktopName, options },
      getOperationSpec
    );
  }

  /**
   * Update a desktop.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param applicationGroupName The name of the application group
   * @param desktopName The name of the desktop within the specified desktop group
   * @param options The options parameters.
   */
  update(
    resourceGroupName: string,
    applicationGroupName: string,
    desktopName: string,
    options?: DesktopsUpdateOptionalParams
  ): Promise<DesktopsUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, applicationGroupName, desktopName, options },
      updateOperationSpec
    );
  }

  /**
   * List desktops.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param applicationGroupName The name of the application group
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    applicationGroupName: string,
    options?: DesktopsListOptionalParams
  ): Promise<DesktopsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, applicationGroupName, options },
      listOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops/{desktopName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Desktop
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationGroupName,
    Parameters.desktopName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const updateOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops/{desktopName}",
  httpMethod: "PATCH",
  responses: {
    200: {
      bodyMapper: Mappers.Desktop
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.desktop,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationGroupName,
    Parameters.desktopName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/applicationGroups/{applicationGroupName}/desktops",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DesktopList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.applicationGroupName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
