/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { SessionHostConfigurationsOperationStatus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DesktopVirtualizationAPIClient } from "../desktopVirtualizationAPIClient";
import {
  SessionHostConfigurationOperationStatus,
  SessionHostConfigurationsOperationStatusListNextOptionalParams,
  SessionHostConfigurationsOperationStatusListOptionalParams,
  SessionHostConfigurationsOperationStatusListResponse,
  SessionHostConfigurationsOperationStatusGetOptionalParams,
  SessionHostConfigurationsOperationStatusGetResponse,
  SessionHostConfigurationsOperationStatusListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing SessionHostConfigurationsOperationStatus operations. */
export class SessionHostConfigurationsOperationStatusImpl
  implements SessionHostConfigurationsOperationStatus
{
  private readonly client: DesktopVirtualizationAPIClient;

  /**
   * Initialize a new instance of the class SessionHostConfigurationsOperationStatus class.
   * @param client Reference to the service client
   */
  constructor(client: DesktopVirtualizationAPIClient) {
    this.client = client;
  }

  /**
   * Get Operation status for SessionHostConfiguration
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param hostPoolName The name of the host pool within the specified resource group
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    hostPoolName: string,
    options?: SessionHostConfigurationsOperationStatusListOptionalParams,
  ): PagedAsyncIterableIterator<SessionHostConfigurationOperationStatus> {
    const iter = this.listPagingAll(resourceGroupName, hostPoolName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          hostPoolName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    hostPoolName: string,
    options?: SessionHostConfigurationsOperationStatusListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<SessionHostConfigurationOperationStatus[]> {
    let result: SessionHostConfigurationsOperationStatusListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, hostPoolName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        hostPoolName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    hostPoolName: string,
    options?: SessionHostConfigurationsOperationStatusListOptionalParams,
  ): AsyncIterableIterator<SessionHostConfigurationOperationStatus> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      hostPoolName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get Operation status for SessionHostManagement
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param hostPoolName The name of the host pool within the specified resource group
   * @param operationId The Guid of the operation.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    hostPoolName: string,
    operationId: string,
    options?: SessionHostConfigurationsOperationStatusGetOptionalParams,
  ): Promise<SessionHostConfigurationsOperationStatusGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, hostPoolName, operationId, options },
      getOperationSpec,
    );
  }

  /**
   * Get Operation status for SessionHostConfiguration
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param hostPoolName The name of the host pool within the specified resource group
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    hostPoolName: string,
    options?: SessionHostConfigurationsOperationStatusListOptionalParams,
  ): Promise<SessionHostConfigurationsOperationStatusListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, hostPoolName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param hostPoolName The name of the host pool within the specified resource group
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    hostPoolName: string,
    nextLink: string,
    options?: SessionHostConfigurationsOperationStatusListNextOptionalParams,
  ): Promise<SessionHostConfigurationsOperationStatusListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, hostPoolName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostConfigurations/default/operationStatuses/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SessionHostConfigurationOperationStatus,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.hostPoolName,
    Parameters.operationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostConfigurations/default/operationStatuses",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SessionHostConfigurationOperationStatusList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.isLatest,
    Parameters.isNonTerminal,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.hostPoolName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SessionHostConfigurationOperationStatusList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.hostPoolName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
