/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ValidateSessionHostUpdate } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DesktopVirtualizationAPIClient } from "../desktopVirtualizationAPIClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  ValidateSessionHostUpdatePostOptionalParams,
  ValidateSessionHostUpdatePostResponse
} from "../models";

/** Class containing ValidateSessionHostUpdate operations. */
export class ValidateSessionHostUpdateImpl
  implements ValidateSessionHostUpdate {
  private readonly client: DesktopVirtualizationAPIClient;

  /**
   * Initialize a new instance of the class ValidateSessionHostUpdate class.
   * @param client Reference to the service client
   */
  constructor(client: DesktopVirtualizationAPIClient) {
    this.client = client;
  }

  /**
   * Validates a session host update operation for validation errors. When Session Host Configuration and
   * Session Host Management values are not provided the ones saved in the Host Pool will be used.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param hostPoolName The name of the host pool within the specified resource group
   * @param options The options parameters.
   */
  async beginPost(
    resourceGroupName: string,
    hostPoolName: string,
    options?: ValidateSessionHostUpdatePostOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<ValidateSessionHostUpdatePostResponse>,
      ValidateSessionHostUpdatePostResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<ValidateSessionHostUpdatePostResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, hostPoolName, options },
      spec: postOperationSpec
    });
    const poller = await createHttpPoller<
      ValidateSessionHostUpdatePostResponse,
      OperationState<ValidateSessionHostUpdatePostResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Validates a session host update operation for validation errors. When Session Host Configuration and
   * Session Host Management values are not provided the ones saved in the Host Pool will be used.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param hostPoolName The name of the host pool within the specified resource group
   * @param options The options parameters.
   */
  async beginPostAndWait(
    resourceGroupName: string,
    hostPoolName: string,
    options?: ValidateSessionHostUpdatePostOptionalParams
  ): Promise<ValidateSessionHostUpdatePostResponse> {
    const poller = await this.beginPost(
      resourceGroupName,
      hostPoolName,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const postOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DesktopVirtualization/hostPools/{hostPoolName}/sessionHostManagements/default/validateSessionHostUpdate",
  httpMethod: "POST",
  responses: {
    200: {
      headersMapper: Mappers.ValidateSessionHostUpdatePostHeaders
    },
    201: {
      headersMapper: Mappers.ValidateSessionHostUpdatePostHeaders
    },
    202: {
      headersMapper: Mappers.ValidateSessionHostUpdatePostHeaders
    },
    204: {
      headersMapper: Mappers.ValidateSessionHostUpdatePostHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.validateSessionHostUpdateRequestBody,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.hostPoolName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
