/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SitesCreate } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { EdgeSites } from "../edgeSites";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  Site,
  SitesCreateAtSubscriptionOptionalParams,
  SitesCreateAtSubscriptionResponse,
  SitesCreateByResourceGroupOptionalParams,
  SitesCreateByResourceGroupResponse
} from "../models";

/** Class containing SitesCreate operations. */
export class SitesCreateImpl implements SitesCreate {
  private readonly client: EdgeSites;

  /**
   * Initialize a new instance of the class SitesCreate class.
   * @param client Reference to the service client
   */
  constructor(client: EdgeSites) {
    this.client = client;
  }

  /**
   * Create a Site at Subscription scope
   * @param site Resource create parameters.
   * @param options The options parameters.
   */
  async beginAtSubscription(
    site: Site,
    options?: SitesCreateAtSubscriptionOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<SitesCreateAtSubscriptionResponse>,
      SitesCreateAtSubscriptionResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<SitesCreateAtSubscriptionResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { site, options },
      spec: atSubscriptionOperationSpec
    });
    const poller = await createHttpPoller<
      SitesCreateAtSubscriptionResponse,
      OperationState<SitesCreateAtSubscriptionResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "azure-async-operation"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Create a Site at Subscription scope
   * @param site Resource create parameters.
   * @param options The options parameters.
   */
  async beginAtSubscriptionAndWait(
    site: Site,
    options?: SitesCreateAtSubscriptionOptionalParams
  ): Promise<SitesCreateAtSubscriptionResponse> {
    const poller = await this.beginAtSubscription(site, options);
    return poller.pollUntilDone();
  }

  /**
   * Create a Site at Resource Group scope
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param site Resource create parameters.
   * @param options The options parameters.
   */
  async beginByResourceGroup(
    resourceGroupName: string,
    site: Site,
    options?: SitesCreateByResourceGroupOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<SitesCreateByResourceGroupResponse>,
      SitesCreateByResourceGroupResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<SitesCreateByResourceGroupResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, site, options },
      spec: byResourceGroupOperationSpec
    });
    const poller = await createHttpPoller<
      SitesCreateByResourceGroupResponse,
      OperationState<SitesCreateByResourceGroupResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "azure-async-operation"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Create a Site at Resource Group scope
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param site Resource create parameters.
   * @param options The options parameters.
   */
  async beginByResourceGroupAndWait(
    resourceGroupName: string,
    site: Site,
    options?: SitesCreateByResourceGroupOptionalParams
  ): Promise<SitesCreateByResourceGroupResponse> {
    const poller = await this.beginByResourceGroup(
      resourceGroupName,
      site,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const atSubscriptionOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.Edge/sites/{siteName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.Site
    },
    201: {
      bodyMapper: Mappers.Site
    },
    202: {
      bodyMapper: Mappers.Site
    },
    204: {
      bodyMapper: Mappers.Site
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.site,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.siteName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const byResourceGroupOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Edge/sites/{siteName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.Site
    },
    201: {
      bodyMapper: Mappers.Site
    },
    202: {
      bodyMapper: Mappers.Site
    },
    204: {
      bodyMapper: Mappers.Site
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.site,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.siteName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
