/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { PrivateLinks } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { MicrosoftHealthDataAIServices } from "../microsoftHealthDataAIServices.js";
import {
  PrivateLinkResource,
  PrivateLinksListByDeidServiceNextOptionalParams,
  PrivateLinksListByDeidServiceOptionalParams,
  PrivateLinksListByDeidServiceResponse,
  PrivateLinksListByDeidServiceNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing PrivateLinks operations. */
export class PrivateLinksImpl implements PrivateLinks {
  private readonly client: MicrosoftHealthDataAIServices;

  /**
   * Initialize a new instance of the class PrivateLinks class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftHealthDataAIServices) {
    this.client = client;
  }

  /**
   * List private links on the given resource
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deidServiceName The name of the deid service
   * @param options The options parameters.
   */
  public listByDeidService(
    resourceGroupName: string,
    deidServiceName: string,
    options?: PrivateLinksListByDeidServiceOptionalParams,
  ): PagedAsyncIterableIterator<PrivateLinkResource> {
    const iter = this.listByDeidServicePagingAll(
      resourceGroupName,
      deidServiceName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByDeidServicePagingPage(
          resourceGroupName,
          deidServiceName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByDeidServicePagingPage(
    resourceGroupName: string,
    deidServiceName: string,
    options?: PrivateLinksListByDeidServiceOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<PrivateLinkResource[]> {
    let result: PrivateLinksListByDeidServiceResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByDeidService(
        resourceGroupName,
        deidServiceName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByDeidServiceNext(
        resourceGroupName,
        deidServiceName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByDeidServicePagingAll(
    resourceGroupName: string,
    deidServiceName: string,
    options?: PrivateLinksListByDeidServiceOptionalParams,
  ): AsyncIterableIterator<PrivateLinkResource> {
    for await (const page of this.listByDeidServicePagingPage(
      resourceGroupName,
      deidServiceName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List private links on the given resource
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deidServiceName The name of the deid service
   * @param options The options parameters.
   */
  private _listByDeidService(
    resourceGroupName: string,
    deidServiceName: string,
    options?: PrivateLinksListByDeidServiceOptionalParams,
  ): Promise<PrivateLinksListByDeidServiceResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deidServiceName, options },
      listByDeidServiceOperationSpec,
    );
  }

  /**
   * ListByDeidServiceNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param deidServiceName The name of the deid service
   * @param nextLink The nextLink from the previous successful call to the ListByDeidService method.
   * @param options The options parameters.
   */
  private _listByDeidServiceNext(
    resourceGroupName: string,
    deidServiceName: string,
    nextLink: string,
    options?: PrivateLinksListByDeidServiceNextOptionalParams,
  ): Promise<PrivateLinksListByDeidServiceNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, deidServiceName, nextLink, options },
      listByDeidServiceNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByDeidServiceOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.HealthDataAIServices/deidServices/{deidServiceName}/privateLinkResources",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourceListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deidServiceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByDeidServiceNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourceListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.deidServiceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
