/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { GroupQuotaLimitsRequests } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureQuotaExtensionAPI } from "../azureQuotaExtensionAPI";
import {
  SubmittedResourceRequestStatus,
  GroupQuotaLimitsRequestsListNextOptionalParams,
  GroupQuotaLimitsRequestsListOptionalParams,
  GroupQuotaLimitsRequestsListResponse,
  GroupQuotaLimitsRequestsGetOptionalParams,
  GroupQuotaLimitsRequestsGetResponse,
  GroupQuotaLimitsRequestsListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing GroupQuotaLimitsRequests operations. */
export class GroupQuotaLimitsRequestsImpl implements GroupQuotaLimitsRequests {
  private readonly client: AzureQuotaExtensionAPI;

  /**
   * Initialize a new instance of the class GroupQuotaLimitsRequests class.
   * @param client Reference to the service client
   */
  constructor(client: AzureQuotaExtensionAPI) {
    this.client = client;
  }

  /**
   * List API to check the status of a GroupQuota requests by requestId. The groupQuotaRequest history is
   * maintained for 1 year. Use the $filter parameter to filter out the specific resource based on the
   * ResourceProvider/Location.
   * @param managementGroupId Management Group Id.
   * @param groupQuotaName The GroupQuota name. The name should be unique for the provided context
   *                       tenantId/MgId.
   * @param filter | Field                    | Supported operators
   *               |---------------------|------------------------
   *
   *               |provider  eq {resourceProvider}  and location eq {location}
   *                Example: $filter= provider eq Microsoft.Compute and location eq eastus
   * @param options The options parameters.
   */
  public list(
    managementGroupId: string,
    groupQuotaName: string,
    filter: string,
    options?: GroupQuotaLimitsRequestsListOptionalParams,
  ): PagedAsyncIterableIterator<SubmittedResourceRequestStatus> {
    const iter = this.listPagingAll(
      managementGroupId,
      groupQuotaName,
      filter,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          managementGroupId,
          groupQuotaName,
          filter,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    managementGroupId: string,
    groupQuotaName: string,
    filter: string,
    options?: GroupQuotaLimitsRequestsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<SubmittedResourceRequestStatus[]> {
    let result: GroupQuotaLimitsRequestsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        managementGroupId,
        groupQuotaName,
        filter,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        managementGroupId,
        groupQuotaName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    managementGroupId: string,
    groupQuotaName: string,
    filter: string,
    options?: GroupQuotaLimitsRequestsListOptionalParams,
  ): AsyncIterableIterator<SubmittedResourceRequestStatus> {
    for await (const page of this.listPagingPage(
      managementGroupId,
      groupQuotaName,
      filter,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List API to check the status of a GroupQuota requests by requestId. The groupQuotaRequest history is
   * maintained for 1 year. Use the $filter parameter to filter out the specific resource based on the
   * ResourceProvider/Location.
   * @param managementGroupId Management Group Id.
   * @param groupQuotaName The GroupQuota name. The name should be unique for the provided context
   *                       tenantId/MgId.
   * @param filter | Field                    | Supported operators
   *               |---------------------|------------------------
   *
   *               |provider  eq {resourceProvider}  and location eq {location}
   *                Example: $filter= provider eq Microsoft.Compute and location eq eastus
   * @param options The options parameters.
   */
  private _list(
    managementGroupId: string,
    groupQuotaName: string,
    filter: string,
    options?: GroupQuotaLimitsRequestsListOptionalParams,
  ): Promise<GroupQuotaLimitsRequestsListResponse> {
    return this.client.sendOperationRequest(
      { managementGroupId, groupQuotaName, filter, options },
      listOperationSpec,
    );
  }

  /**
   * Get API to check the status of a GroupQuota request by requestId.  Use the polling API -
   * OperationsStatus URI specified in Azure-AsyncOperation header field, with retry-after duration in
   * seconds to check the intermediate status. This API provides the finals status with the request
   * details and status.
   * @param managementGroupId Management Group Id.
   * @param groupQuotaName The GroupQuota name. The name should be unique for the provided context
   *                       tenantId/MgId.
   * @param requestId Request Id.
   * @param filter | Field                    | Supported operators
   *               |---------------------|------------------------
   *
   *               |provider  eq {resourceProvider}  and location eq {location}
   *                Example: $filter= provider eq Microsoft.Compute and location eq eastus
   * @param options The options parameters.
   */
  get(
    managementGroupId: string,
    groupQuotaName: string,
    requestId: string,
    filter: string,
    options?: GroupQuotaLimitsRequestsGetOptionalParams,
  ): Promise<GroupQuotaLimitsRequestsGetResponse> {
    return this.client.sendOperationRequest(
      { managementGroupId, groupQuotaName, requestId, filter, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param managementGroupId Management Group Id.
   * @param groupQuotaName The GroupQuota name. The name should be unique for the provided context
   *                       tenantId/MgId.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    managementGroupId: string,
    groupQuotaName: string,
    nextLink: string,
    options?: GroupQuotaLimitsRequestsListNextOptionalParams,
  ): Promise<GroupQuotaLimitsRequestsListNextResponse> {
    return this.client.sendOperationRequest(
      { managementGroupId, groupQuotaName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Quota/groupQuotas/{groupQuotaName}/groupQuotaRequests",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SubmittedResourceRequestStatusList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.managementGroupId,
    Parameters.groupQuotaName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Quota/groupQuotas/{groupQuotaName}/groupQuotaRequests/{requestId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SubmittedResourceRequestStatus,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.managementGroupId,
    Parameters.groupQuotaName,
    Parameters.requestId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.SubmittedResourceRequestStatusList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.managementGroupId,
    Parameters.groupQuotaName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
