/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { GroupQuotaSubscriptionQuotaAllocationRequests } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureQuotaExtensionAPI } from "../azureQuotaExtensionAPI";
import {
  QuotaAllocationRequestStatus,
  GroupQuotaSubscriptionQuotaAllocationRequestsListNextOptionalParams,
  GroupQuotaSubscriptionQuotaAllocationRequestsListOptionalParams,
  GroupQuotaSubscriptionQuotaAllocationRequestsListResponse,
  GroupQuotaSubscriptionQuotaAllocationRequestsGetOptionalParams,
  GroupQuotaSubscriptionQuotaAllocationRequestsGetResponse,
  GroupQuotaSubscriptionQuotaAllocationRequestsListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing GroupQuotaSubscriptionQuotaAllocationRequests operations. */
export class GroupQuotaSubscriptionQuotaAllocationRequestsImpl
  implements GroupQuotaSubscriptionQuotaAllocationRequests
{
  private readonly client: AzureQuotaExtensionAPI;

  /**
   * Initialize a new instance of the class GroupQuotaSubscriptionQuotaAllocationRequests class.
   * @param client Reference to the service client
   */
  constructor(client: AzureQuotaExtensionAPI) {
    this.client = client;
  }

  /**
   * Lists all the allocation requests.
   * @param managementGroupId Management Group Id.
   * @param groupQuotaName The GroupQuota name. The name should be unique for the provided context
   *                       tenantId/MgId.
   * @param filter | Field                    | Supported operators
   *               |---------------------|------------------------
   *
   *               |provider  eq {resourceProvider}  and location eq {location}
   *                Example: $filter= provider eq Microsoft.Compute and location eq eastus
   * @param options The options parameters.
   */
  public list(
    managementGroupId: string,
    groupQuotaName: string,
    filter: string,
    options?: GroupQuotaSubscriptionQuotaAllocationRequestsListOptionalParams,
  ): PagedAsyncIterableIterator<QuotaAllocationRequestStatus> {
    const iter = this.listPagingAll(
      managementGroupId,
      groupQuotaName,
      filter,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          managementGroupId,
          groupQuotaName,
          filter,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    managementGroupId: string,
    groupQuotaName: string,
    filter: string,
    options?: GroupQuotaSubscriptionQuotaAllocationRequestsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<QuotaAllocationRequestStatus[]> {
    let result: GroupQuotaSubscriptionQuotaAllocationRequestsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        managementGroupId,
        groupQuotaName,
        filter,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        managementGroupId,
        groupQuotaName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    managementGroupId: string,
    groupQuotaName: string,
    filter: string,
    options?: GroupQuotaSubscriptionQuotaAllocationRequestsListOptionalParams,
  ): AsyncIterableIterator<QuotaAllocationRequestStatus> {
    for await (const page of this.listPagingPage(
      managementGroupId,
      groupQuotaName,
      filter,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get the quota allocation request status for the subscriptionId by allocationId.
   * @param managementGroupId Management Group Id.
   * @param groupQuotaName The GroupQuota name. The name should be unique for the provided context
   *                       tenantId/MgId.
   * @param allocationId Resource allocation Id.
   * @param options The options parameters.
   */
  get(
    managementGroupId: string,
    groupQuotaName: string,
    allocationId: string,
    options?: GroupQuotaSubscriptionQuotaAllocationRequestsGetOptionalParams,
  ): Promise<GroupQuotaSubscriptionQuotaAllocationRequestsGetResponse> {
    return this.client.sendOperationRequest(
      { managementGroupId, groupQuotaName, allocationId, options },
      getOperationSpec,
    );
  }

  /**
   * Lists all the allocation requests.
   * @param managementGroupId Management Group Id.
   * @param groupQuotaName The GroupQuota name. The name should be unique for the provided context
   *                       tenantId/MgId.
   * @param filter | Field                    | Supported operators
   *               |---------------------|------------------------
   *
   *               |provider  eq {resourceProvider}  and location eq {location}
   *                Example: $filter= provider eq Microsoft.Compute and location eq eastus
   * @param options The options parameters.
   */
  private _list(
    managementGroupId: string,
    groupQuotaName: string,
    filter: string,
    options?: GroupQuotaSubscriptionQuotaAllocationRequestsListOptionalParams,
  ): Promise<GroupQuotaSubscriptionQuotaAllocationRequestsListResponse> {
    return this.client.sendOperationRequest(
      { managementGroupId, groupQuotaName, filter, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param managementGroupId Management Group Id.
   * @param groupQuotaName The GroupQuota name. The name should be unique for the provided context
   *                       tenantId/MgId.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    managementGroupId: string,
    groupQuotaName: string,
    nextLink: string,
    options?: GroupQuotaSubscriptionQuotaAllocationRequestsListNextOptionalParams,
  ): Promise<GroupQuotaSubscriptionQuotaAllocationRequestsListNextResponse> {
    return this.client.sendOperationRequest(
      { managementGroupId, groupQuotaName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Management/managementGroups/{managementGroupId}/subscriptions/{subscriptionId}/providers/Microsoft.Quota/groupQuotas/{groupQuotaName}/quotaAllocationRequests/{allocationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.QuotaAllocationRequestStatus,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.managementGroupId,
    Parameters.groupQuotaName,
    Parameters.subscriptionId,
    Parameters.allocationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Management/managementGroups/{managementGroupId}/subscriptions/{subscriptionId}/providers/Microsoft.Quota/groupQuotas/{groupQuotaName}/quotaAllocationRequests",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.QuotaAllocationRequestStatusList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.managementGroupId,
    Parameters.groupQuotaName,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.QuotaAllocationRequestStatusList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.managementGroupId,
    Parameters.groupQuotaName,
    Parameters.nextLink,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
