/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { HybridIdentityMetadatas } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { Scvmm } from "../scvmm";
import {
  HybridIdentityMetadata,
  HybridIdentityMetadatasListByVmNextOptionalParams,
  HybridIdentityMetadatasListByVmOptionalParams,
  HybridIdentityMetadatasListByVmResponse,
  HybridIdentityMetadatasCreateOptionalParams,
  HybridIdentityMetadatasCreateResponse,
  HybridIdentityMetadatasGetOptionalParams,
  HybridIdentityMetadatasGetResponse,
  HybridIdentityMetadatasDeleteOptionalParams,
  HybridIdentityMetadatasListByVmNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing HybridIdentityMetadatas operations. */
export class HybridIdentityMetadatasImpl implements HybridIdentityMetadatas {
  private readonly client: Scvmm;

  /**
   * Initialize a new instance of the class HybridIdentityMetadatas class.
   * @param client Reference to the service client
   */
  constructor(client: Scvmm) {
    this.client = client;
  }

  /**
   * Returns the list of HybridIdentityMetadata of the given vm.
   * @param resourceGroupName The name of the resource group.
   * @param virtualMachineName Name of the vm.
   * @param options The options parameters.
   */
  public listByVm(
    resourceGroupName: string,
    virtualMachineName: string,
    options?: HybridIdentityMetadatasListByVmOptionalParams
  ): PagedAsyncIterableIterator<HybridIdentityMetadata> {
    const iter = this.listByVmPagingAll(
      resourceGroupName,
      virtualMachineName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByVmPagingPage(
          resourceGroupName,
          virtualMachineName,
          options,
          settings
        );
      }
    };
  }

  private async *listByVmPagingPage(
    resourceGroupName: string,
    virtualMachineName: string,
    options?: HybridIdentityMetadatasListByVmOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<HybridIdentityMetadata[]> {
    let result: HybridIdentityMetadatasListByVmResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByVm(
        resourceGroupName,
        virtualMachineName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByVmNext(
        resourceGroupName,
        virtualMachineName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByVmPagingAll(
    resourceGroupName: string,
    virtualMachineName: string,
    options?: HybridIdentityMetadatasListByVmOptionalParams
  ): AsyncIterableIterator<HybridIdentityMetadata> {
    for await (const page of this.listByVmPagingPage(
      resourceGroupName,
      virtualMachineName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Create Or Update HybridIdentityMetadata.
   * @param resourceGroupName The name of the resource group.
   * @param virtualMachineName Name of the vm.
   * @param metadataName Name of the hybridIdentityMetadata.
   * @param options The options parameters.
   */
  create(
    resourceGroupName: string,
    virtualMachineName: string,
    metadataName: string,
    options?: HybridIdentityMetadatasCreateOptionalParams
  ): Promise<HybridIdentityMetadatasCreateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, virtualMachineName, metadataName, options },
      createOperationSpec
    );
  }

  /**
   * Implements HybridIdentityMetadata GET method.
   * @param resourceGroupName The name of the resource group.
   * @param virtualMachineName Name of the vm.
   * @param metadataName Name of the HybridIdentityMetadata.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    virtualMachineName: string,
    metadataName: string,
    options?: HybridIdentityMetadatasGetOptionalParams
  ): Promise<HybridIdentityMetadatasGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, virtualMachineName, metadataName, options },
      getOperationSpec
    );
  }

  /**
   * Implements HybridIdentityMetadata DELETE method.
   * @param resourceGroupName The name of the resource group.
   * @param virtualMachineName Name of the vm.
   * @param metadataName Name of the HybridIdentityMetadata.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    virtualMachineName: string,
    metadataName: string,
    options?: HybridIdentityMetadatasDeleteOptionalParams
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, virtualMachineName, metadataName, options },
      deleteOperationSpec
    );
  }

  /**
   * Returns the list of HybridIdentityMetadata of the given vm.
   * @param resourceGroupName The name of the resource group.
   * @param virtualMachineName Name of the vm.
   * @param options The options parameters.
   */
  private _listByVm(
    resourceGroupName: string,
    virtualMachineName: string,
    options?: HybridIdentityMetadatasListByVmOptionalParams
  ): Promise<HybridIdentityMetadatasListByVmResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, virtualMachineName, options },
      listByVmOperationSpec
    );
  }

  /**
   * ListByVmNext
   * @param resourceGroupName The name of the resource group.
   * @param virtualMachineName Name of the vm.
   * @param nextLink The nextLink from the previous successful call to the ListByVm method.
   * @param options The options parameters.
   */
  private _listByVmNext(
    resourceGroupName: string,
    virtualMachineName: string,
    nextLink: string,
    options?: HybridIdentityMetadatasListByVmNextOptionalParams
  ): Promise<HybridIdentityMetadatasListByVmNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, virtualMachineName, nextLink, options },
      listByVmNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachines/{virtualMachineName}/hybridIdentityMetadata/{metadataName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.HybridIdentityMetadata
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body13,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.virtualMachineName,
    Parameters.metadataName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachines/{virtualMachineName}/hybridIdentityMetadata/{metadataName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HybridIdentityMetadata
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.virtualMachineName,
    Parameters.metadataName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachines/{virtualMachineName}/hybridIdentityMetadata/{metadataName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.virtualMachineName,
    Parameters.metadataName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByVmOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ScVmm/virtualMachines/{virtualMachineName}/hybridIdentityMetadata",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HybridIdentityMetadataList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.virtualMachineName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listByVmNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.HybridIdentityMetadataList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.virtualMachineName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
