/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { MachineOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ContainerServiceClient } from "../containerServiceClient";
import { MachineGetOptionalParams, MachineGetResponse } from "../models";

/** Class containing MachineOperations operations. */
export class MachineOperationsImpl implements MachineOperations {
  private readonly client: ContainerServiceClient;

  /**
   * Initialize a new instance of the class MachineOperations class.
   * @param client Reference to the service client
   */
  constructor(client: ContainerServiceClient) {
    this.client = client;
  }

  /**
   * Get info of spec machine in the specified managed cluster adn specified agentpool.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param resourceName The name of the managed cluster resource.
   * @param machineName host name of the machine
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    resourceName: string,
    machineName: string,
    options?: MachineGetOptionalParams
  ): Promise<MachineGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, resourceName, machineName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/managedClusters/{resourceName}/agentPools/{agentPoolName}/machines/{machineName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Machine
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.resourceName,
    Parameters.agentPoolName,
    Parameters.machineName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
