/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Decompile } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { BicepClient } from "../bicepClient.js";
import {
  DecompileOperationRequest,
  DecompileBicepOptionalParams,
  DecompileBicepResponse,
} from "../models/index.js";

/** Class containing Decompile operations. */
export class DecompileImpl implements Decompile {
  private readonly client: BicepClient;

  /**
   * Initialize a new instance of the class Decompile class.
   * @param client Reference to the service client
   */
  constructor(client: BicepClient) {
    this.client = client;
  }

  /**
   * Decompiles an ARM json template into a Bicep template
   * @param decompileOperationRequest Decompile operation request supplied to the operation.
   * @param options The options parameters.
   */
  bicep(
    decompileOperationRequest: DecompileOperationRequest,
    options?: DecompileBicepOptionalParams,
  ): Promise<DecompileBicepResponse> {
    return this.client.sendOperationRequest(
      { decompileOperationRequest, options },
      bicepOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const bicepOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Resources/decompileBicep",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.DecompileOperationSuccessResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.decompileOperationRequest,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
