/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { CrossRegionRestoreJob } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataProtectionClient } from "../dataProtectionClient";
import {
  CrossRegionRestoreJobRequest,
  CrossRegionRestoreJobGetOptionalParams,
  CrossRegionRestoreJobGetResponse
} from "../models";

/** Class containing CrossRegionRestoreJob operations. */
export class CrossRegionRestoreJobImpl implements CrossRegionRestoreJob {
  private readonly client: DataProtectionClient;

  /**
   * Initialize a new instance of the class CrossRegionRestoreJob class.
   * @param client Reference to the service client
   */
  constructor(client: DataProtectionClient) {
    this.client = client;
  }

  /**
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param location
   * @param parameters Request body for operation
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    location: string,
    parameters: CrossRegionRestoreJobRequest,
    options?: CrossRegionRestoreJobGetOptionalParams
  ): Promise<CrossRegionRestoreJobGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, location, parameters, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataProtection/locations/{location}/fetchCrossRegionRestoreJob",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AzureBackupJobResource
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  requestBody: Parameters.parameters15,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.location
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
