/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { FileRequest } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftModSimWorkbench } from "../microsoftModSimWorkbench";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  FileRequestGetDownloadUriOptionalParams,
  FileRequestGetDownloadUriResponse
} from "../models";

/** Class containing FileRequest operations. */
export class FileRequestImpl implements FileRequest {
  private readonly client: MicrosoftModSimWorkbench;

  /**
   * Initialize a new instance of the class FileRequest class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftModSimWorkbench) {
    this.client = client;
  }

  /**
   * Get SAS URI to download a file from an ModSim Workbench chamber data pipeline.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workbenchName the workbench name.
   * @param chamberName the chamber name.
   * @param requestName the file request name.
   * @param options The options parameters.
   */
  async beginGetDownloadUri(
    resourceGroupName: string,
    workbenchName: string,
    chamberName: string,
    requestName: string,
    options?: FileRequestGetDownloadUriOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<FileRequestGetDownloadUriResponse>,
      FileRequestGetDownloadUriResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<FileRequestGetDownloadUriResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: {
        resourceGroupName,
        workbenchName,
        chamberName,
        requestName,
        options
      },
      spec: getDownloadUriOperationSpec
    });
    const poller = await createHttpPoller<
      FileRequestGetDownloadUriResponse,
      OperationState<FileRequestGetDownloadUriResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Get SAS URI to download a file from an ModSim Workbench chamber data pipeline.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workbenchName the workbench name.
   * @param chamberName the chamber name.
   * @param requestName the file request name.
   * @param options The options parameters.
   */
  async beginGetDownloadUriAndWait(
    resourceGroupName: string,
    workbenchName: string,
    chamberName: string,
    requestName: string,
    options?: FileRequestGetDownloadUriOptionalParams
  ): Promise<FileRequestGetDownloadUriResponse> {
    const poller = await this.beginGetDownloadUri(
      resourceGroupName,
      workbenchName,
      chamberName,
      requestName,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getDownloadUriOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/fileRequests/{requestName}/getDownloadUri",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.FileDownloadSasUri
    },
    201: {
      bodyMapper: Mappers.FileDownloadSasUri
    },
    202: {
      bodyMapper: Mappers.FileDownloadSasUri
    },
    204: {
      bodyMapper: Mappers.FileDownloadSasUri
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.workbenchName,
    Parameters.chamberName,
    Parameters.resourceGroupName,
    Parameters.requestName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
