/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { FileOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftModSimWorkbench } from "../microsoftModSimWorkbench";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import { FileManageOptionalParams, FileManageResponse } from "../models";

/** Class containing FileOperations operations. */
export class FileOperationsImpl implements FileOperations {
  private readonly client: MicrosoftModSimWorkbench;

  /**
   * Initialize a new instance of the class FileOperations class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftModSimWorkbench) {
    this.client = client;
  }

  /**
   * Manage files in an ModSim Workbench chamber data pipeline.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workbenchName the workbench name.
   * @param chamberName the chamber name.
   * @param fileName the file name.
   * @param options The options parameters.
   */
  async beginManage(
    resourceGroupName: string,
    workbenchName: string,
    chamberName: string,
    fileName: string,
    options?: FileManageOptionalParams
  ): Promise<
    SimplePollerLike<OperationState<FileManageResponse>, FileManageResponse>
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<FileManageResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: {
        resourceGroupName,
        workbenchName,
        chamberName,
        fileName,
        options
      },
      spec: manageOperationSpec
    });
    const poller = await createHttpPoller<
      FileManageResponse,
      OperationState<FileManageResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Manage files in an ModSim Workbench chamber data pipeline.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workbenchName the workbench name.
   * @param chamberName the chamber name.
   * @param fileName the file name.
   * @param options The options parameters.
   */
  async beginManageAndWait(
    resourceGroupName: string,
    workbenchName: string,
    chamberName: string,
    fileName: string,
    options?: FileManageOptionalParams
  ): Promise<FileManageResponse> {
    const poller = await this.beginManage(
      resourceGroupName,
      workbenchName,
      chamberName,
      fileName,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const manageOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ModSimWorkbench/workbenches/{workbenchName}/chambers/{chamberName}/files/{fileName}/manage",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.FilesManage
    },
    201: {
      bodyMapper: Mappers.FilesManage
    },
    202: {
      bodyMapper: Mappers.FilesManage
    },
    204: {
      bodyMapper: Mappers.FilesManage
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.body6,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.workbenchName,
    Parameters.chamberName,
    Parameters.resourceGroupName,
    Parameters.fileName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
