/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { GuestConfigurationAssignmentsVmss } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { GuestConfigurationClient } from "../guestConfigurationClient.js";
import {
  GuestConfigurationAssignmentsVmssListOptionalParams,
  GuestConfigurationAssignmentsVmssListResponse,
  GuestConfigurationAssignmentsVmssGetOptionalParams,
  GuestConfigurationAssignmentsVmssGetResponse,
  GuestConfigurationAssignment,
  GuestConfigurationAssignmentsVmssCreateOrUpdateOptionalParams,
  GuestConfigurationAssignmentsVmssCreateOrUpdateResponse,
  GuestConfigurationAssignmentsVmssDeleteOptionalParams,
  GuestConfigurationAssignmentsVmssDeleteResponse,
} from "../models/index.js";

/** Class containing GuestConfigurationAssignmentsVmss operations. */
export class GuestConfigurationAssignmentsVmssImpl implements GuestConfigurationAssignmentsVmss {
  private readonly client: GuestConfigurationClient;

  /**
   * Initialize a new instance of the class GuestConfigurationAssignmentsVmss class.
   * @param client Reference to the service client
   */
  constructor(client: GuestConfigurationClient) {
    this.client = client;
  }

  /**
   * List all guest configuration assignments for VMSS.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmssName virtualMachineScaleSets
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    vmssName: string,
    options?: GuestConfigurationAssignmentsVmssListOptionalParams,
  ): Promise<GuestConfigurationAssignmentsVmssListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmssName, options },
      listOperationSpec,
    );
  }

  /**
   * Get information about a guest configuration assignment for VMSS
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmssName virtualMachineScaleSets
   * @param name The name of the GuestConfigurationAssignment
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    vmssName: string,
    name: string,
    options?: GuestConfigurationAssignmentsVmssGetOptionalParams,
  ): Promise<GuestConfigurationAssignmentsVmssGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmssName, name, options },
      getOperationSpec,
    );
  }

  /**
   * Creates an association between a VMSS and guest configuration
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmssName virtualMachineScaleSets
   * @param name The name of the GuestConfigurationAssignment
   * @param parameters Parameters supplied to the create or update guest configuration assignment.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    vmssName: string,
    name: string,
    parameters: GuestConfigurationAssignment,
    options?: GuestConfigurationAssignmentsVmssCreateOrUpdateOptionalParams,
  ): Promise<GuestConfigurationAssignmentsVmssCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmssName, name, parameters, options },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Delete a guest configuration assignment for VMSS
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmssName virtualMachineScaleSets
   * @param name The name of the GuestConfigurationAssignment
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    vmssName: string,
    name: string,
    options?: GuestConfigurationAssignmentsVmssDeleteOptionalParams,
  ): Promise<GuestConfigurationAssignmentsVmssDeleteResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmssName, name, options },
      deleteOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/virtualMachineScaleSets/{vmssName}/guestConfigurationAssignments",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignmentList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.vmssName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/virtualMachineScaleSets/{vmssName}/guestConfigurationAssignments/{name}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.vmssName,
    Parameters.name,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/virtualMachineScaleSets/{vmssName}/guestConfigurationAssignments/{name}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    201: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.vmssName,
    Parameters.name,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/virtualMachineScaleSets/{vmssName}/guestConfigurationAssignments/{name}",
  httpMethod: "DELETE",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.vmssName,
    Parameters.name,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
