/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { GuestConfigurationAssignmentReportsVmss } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { GuestConfigurationClient } from "../guestConfigurationClient.js";
import {
  GuestConfigurationAssignmentReportsVmssGetOptionalParams,
  GuestConfigurationAssignmentReportsVmssGetResponse,
  GuestConfigurationAssignmentReportsVmssListOptionalParams,
  GuestConfigurationAssignmentReportsVmssListResponse,
} from "../models/index.js";

/** Class containing GuestConfigurationAssignmentReportsVmss operations. */
export class GuestConfigurationAssignmentReportsVmssImpl
  implements GuestConfigurationAssignmentReportsVmss
{
  private readonly client: GuestConfigurationClient;

  /**
   * Initialize a new instance of the class GuestConfigurationAssignmentReportsVmss class.
   * @param client Reference to the service client
   */
  constructor(client: GuestConfigurationClient) {
    this.client = client;
  }

  /**
   * Get a report for the VMSS guest configuration assignment, by reportId.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmssName virtualMachineScaleSets
   * @param name The name of the GuestConfigurationAssignment
   * @param id The GUID for the guest configuration assignment report.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    vmssName: string,
    name: string,
    id: string,
    options?: GuestConfigurationAssignmentReportsVmssGetOptionalParams,
  ): Promise<GuestConfigurationAssignmentReportsVmssGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmssName, name, id, options },
      getOperationSpec,
    );
  }

  /**
   * List all reports for the VMSS guest configuration assignment, latest report first.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param vmssName virtualMachineScaleSets
   * @param name The name of the GuestConfigurationAssignment
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    vmssName: string,
    name: string,
    options?: GuestConfigurationAssignmentReportsVmssListOptionalParams,
  ): Promise<GuestConfigurationAssignmentReportsVmssListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, vmssName, name, options },
      listOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/virtualMachineScaleSets/{vmssName}/guestConfigurationAssignments/{name}/{id}/{id}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignmentReport,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.vmssName,
    Parameters.name,
    Parameters.id,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/virtualMachineScaleSets/{vmssName}/guestConfigurationAssignments/{name}/reports",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignmentReportList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.vmssName,
    Parameters.name,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
