/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { GuestConfigurationHcrpAssignmentReports } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { GuestConfigurationClient } from "../guestConfigurationClient.js";
import {
  GuestConfigurationHcrpAssignmentReportsGetOptionalParams,
  GuestConfigurationHcrpAssignmentReportsGetResponse,
  GuestConfigurationHcrpAssignmentReportsListOptionalParams,
  GuestConfigurationHcrpAssignmentReportsListResponse,
} from "../models/index.js";

/** Class containing GuestConfigurationHcrpAssignmentReports operations. */
export class GuestConfigurationHcrpAssignmentReportsImpl
  implements GuestConfigurationHcrpAssignmentReports
{
  private readonly client: GuestConfigurationClient;

  /**
   * Initialize a new instance of the class GuestConfigurationHcrpAssignmentReports class.
   * @param client Reference to the service client
   */
  constructor(client: GuestConfigurationClient) {
    this.client = client;
  }

  /**
   * Get a report for the guest configuration assignment, by reportId.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param machineName machines
   * @param guestConfigurationAssignmentName The name of the GuestConfigurationAssignment
   * @param reportId The GUID for the guest configuration assignment report.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    machineName: string,
    guestConfigurationAssignmentName: string,
    reportId: string,
    options?: GuestConfigurationHcrpAssignmentReportsGetOptionalParams,
  ): Promise<GuestConfigurationHcrpAssignmentReportsGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        machineName,
        guestConfigurationAssignmentName,
        reportId,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * List all reports for the guest configuration assignment, latest report first.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param machineName machines
   * @param guestConfigurationAssignmentName The name of the GuestConfigurationAssignment
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    machineName: string,
    guestConfigurationAssignmentName: string,
    options?: GuestConfigurationHcrpAssignmentReportsListOptionalParams,
  ): Promise<GuestConfigurationHcrpAssignmentReportsListResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        machineName,
        guestConfigurationAssignmentName,
        options,
      },
      listOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/machines/{machineName}/guestConfigurationAssignments/{guestConfigurationAssignmentName}/{reportId}/{reportId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignmentReport,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.guestConfigurationAssignmentName,
    Parameters.machineName,
    Parameters.reportId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/machines/{machineName}/guestConfigurationAssignments/{guestConfigurationAssignmentName}/reports",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignmentReportList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.guestConfigurationAssignmentName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
