/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { GuestConfigurationHcrpAssignments } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { GuestConfigurationClient } from "../guestConfigurationClient.js";
import {
  GuestConfigurationHcrpAssignmentsListOptionalParams,
  GuestConfigurationHcrpAssignmentsListResponse,
  GuestConfigurationHcrpAssignmentsGetOptionalParams,
  GuestConfigurationHcrpAssignmentsGetResponse,
  GuestConfigurationAssignment,
  GuestConfigurationHcrpAssignmentsCreateOrUpdateOptionalParams,
  GuestConfigurationHcrpAssignmentsCreateOrUpdateResponse,
  GuestConfigurationHcrpAssignmentsDeleteOptionalParams,
} from "../models/index.js";

/** Class containing GuestConfigurationHcrpAssignments operations. */
export class GuestConfigurationHcrpAssignmentsImpl implements GuestConfigurationHcrpAssignments {
  private readonly client: GuestConfigurationClient;

  /**
   * Initialize a new instance of the class GuestConfigurationHcrpAssignments class.
   * @param client Reference to the service client
   */
  constructor(client: GuestConfigurationClient) {
    this.client = client;
  }

  /**
   * List all guest configuration assignments for an ARC machine.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param machineName machines
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    machineName: string,
    options?: GuestConfigurationHcrpAssignmentsListOptionalParams,
  ): Promise<GuestConfigurationHcrpAssignmentsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, machineName, options },
      listOperationSpec,
    );
  }

  /**
   * Get information about a guest configuration assignment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param machineName machines
   * @param guestConfigurationAssignmentName The name of the GuestConfigurationAssignment
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    machineName: string,
    guestConfigurationAssignmentName: string,
    options?: GuestConfigurationHcrpAssignmentsGetOptionalParams,
  ): Promise<GuestConfigurationHcrpAssignmentsGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        machineName,
        guestConfigurationAssignmentName,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * Creates an association between a ARC machine and guest configuration
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param machineName machines
   * @param guestConfigurationAssignmentName The name of the GuestConfigurationAssignment
   * @param parameters Parameters supplied to the create or update guest configuration assignment.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    machineName: string,
    guestConfigurationAssignmentName: string,
    parameters: GuestConfigurationAssignment,
    options?: GuestConfigurationHcrpAssignmentsCreateOrUpdateOptionalParams,
  ): Promise<GuestConfigurationHcrpAssignmentsCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        machineName,
        guestConfigurationAssignmentName,
        parameters,
        options,
      },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Delete a guest configuration assignment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param machineName machines
   * @param guestConfigurationAssignmentName The name of the GuestConfigurationAssignment
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    machineName: string,
    guestConfigurationAssignmentName: string,
    options?: GuestConfigurationHcrpAssignmentsDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        machineName,
        guestConfigurationAssignmentName,
        options,
      },
      deleteOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/machines/{machineName}/guestConfigurationAssignments",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignmentList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/machines/{machineName}/guestConfigurationAssignments/{guestConfigurationAssignmentName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.guestConfigurationAssignmentName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/machines/{machineName}/guestConfigurationAssignments/{guestConfigurationAssignmentName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    201: {
      bodyMapper: Mappers.GuestConfigurationAssignment,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.parameters,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.guestConfigurationAssignmentName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.GuestConfiguration/machines/{machineName}/guestConfigurationAssignments/{guestConfigurationAssignmentName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.guestConfigurationAssignmentName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
