/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PredictiveMetric } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MonitorClient } from "../monitorClient";
import {
  PredictiveMetricGetOptionalParams,
  PredictiveMetricGetResponse
} from "../models";

/** Class containing PredictiveMetric operations. */
export class PredictiveMetricImpl implements PredictiveMetric {
  private readonly client: MonitorClient;

  /**
   * Initialize a new instance of the class PredictiveMetric class.
   * @param client Reference to the service client
   */
  constructor(client: MonitorClient) {
    this.client = client;
  }

  /**
   * get predictive autoscale metric future data
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param autoscaleSettingName The autoscale setting name.
   * @param aggregation The list of aggregation types (comma separated) to retrieve.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    autoscaleSettingName: string,
    aggregation: string,
    options?: PredictiveMetricGetOptionalParams
  ): Promise<PredictiveMetricGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, autoscaleSettingName, aggregation, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.Insights/autoscalesettings/{autoscaleSettingName}/predictiveMetrics",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PredictiveResponse
    },
    default: {
      bodyMapper: Mappers.AutoscaleErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.timespan,
    Parameters.interval,
    Parameters.metricnamespace,
    Parameters.metricnames,
    Parameters.aggregation
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.resourceGroupName,
    Parameters.subscriptionId,
    Parameters.autoscaleSettingName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
