/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AutoUpgradeProfileOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { ContainerServiceFleetClient } from "../containerServiceFleetClient.js";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl.js";
import {
  AutoUpgradeProfileOperationsGenerateOptionalParams,
  AutoUpgradeProfileOperationsGenerateResponse,
  GenerateUpdateRunRequest,
  AutoUpgradeProfileOperationsGenerateUpdateRunsOptionalParams,
  AutoUpgradeProfileOperationsGenerateUpdateRunsResponse,
} from "../models/index.js";

/** Class containing AutoUpgradeProfileOperations operations. */
export class AutoUpgradeProfileOperationsImpl
  implements AutoUpgradeProfileOperations
{
  private readonly client: ContainerServiceFleetClient;

  /**
   * Initialize a new instance of the class AutoUpgradeProfileOperations class.
   * @param client Reference to the service client
   */
  constructor(client: ContainerServiceFleetClient) {
    this.client = client;
  }

  /**
   * A long-running resource action.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param fleetName The name of the Fleet resource.
   * @param autoUpgradeProfileName The name of the AutoUpgradeProfile resource.
   * @param options The options parameters.
   */
  async beginGenerate(
    resourceGroupName: string,
    fleetName: string,
    autoUpgradeProfileName: string,
    options?: AutoUpgradeProfileOperationsGenerateOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<AutoUpgradeProfileOperationsGenerateResponse>,
      AutoUpgradeProfileOperationsGenerateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<AutoUpgradeProfileOperationsGenerateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, fleetName, autoUpgradeProfileName, options },
      spec: generateOperationSpec,
    });
    const poller = await createHttpPoller<
      AutoUpgradeProfileOperationsGenerateResponse,
      OperationState<AutoUpgradeProfileOperationsGenerateResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "azure-async-operation",
    });
    await poller.poll();
    return poller;
  }

  /**
   * A long-running resource action.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param fleetName The name of the Fleet resource.
   * @param autoUpgradeProfileName The name of the AutoUpgradeProfile resource.
   * @param options The options parameters.
   */
  async beginGenerateAndWait(
    resourceGroupName: string,
    fleetName: string,
    autoUpgradeProfileName: string,
    options?: AutoUpgradeProfileOperationsGenerateOptionalParams,
  ): Promise<AutoUpgradeProfileOperationsGenerateResponse> {
    const poller = await this.beginGenerate(
      resourceGroupName,
      fleetName,
      autoUpgradeProfileName,
      options,
    );
    return poller.pollUntilDone();
  }

  /**
   * A synchronous resource action.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param fleetName The name of the Fleet resource.
   * @param autoUpgradeProfileName The name of the AutoUpgradeProfile resource.
   * @param body The content of the action request
   * @param options The options parameters.
   */
  generateUpdateRuns(
    resourceGroupName: string,
    fleetName: string,
    autoUpgradeProfileName: string,
    body: GenerateUpdateRunRequest,
    options?: AutoUpgradeProfileOperationsGenerateUpdateRunsOptionalParams,
  ): Promise<AutoUpgradeProfileOperationsGenerateUpdateRunsResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, fleetName, autoUpgradeProfileName, body, options },
      generateUpdateRunsOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const generateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/autoUpgradeProfiles/{autoUpgradeProfileName}/generate",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.GenerateResponse,
    },
    201: {
      bodyMapper: Mappers.GenerateResponse,
    },
    202: {
      bodyMapper: Mappers.GenerateResponse,
    },
    204: {
      bodyMapper: Mappers.GenerateResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.fleetName,
    Parameters.autoUpgradeProfileName,
  ],
  headerParameters: [Parameters.accept, Parameters.startUpdateRun],
  serializer,
};
const generateUpdateRunsOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/autoUpgradeProfiles/{autoUpgradeProfileName}/generateUpdateRuns",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AutoUpgradeProfile,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.body,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.fleetName,
    Parameters.autoUpgradeProfileName,
  ],
  headerParameters: [
    Parameters.accept,
    Parameters.contentType,
    Parameters.ifMatch,
  ],
  mediaType: "json",
  serializer,
};
