/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AutoUpgradeProfileOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { ContainerServiceFleetClient } from "../containerServiceFleetClient.js";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl.js";
import {
  AutoUpgradeProfileOperationsGenerateUpdateRunOptionalParams,
  AutoUpgradeProfileOperationsGenerateUpdateRunResponse,
} from "../models/index.js";

/** Class containing AutoUpgradeProfileOperations operations. */
export class AutoUpgradeProfileOperationsImpl
  implements AutoUpgradeProfileOperations
{
  private readonly client: ContainerServiceFleetClient;

  /**
   * Initialize a new instance of the class AutoUpgradeProfileOperations class.
   * @param client Reference to the service client
   */
  constructor(client: ContainerServiceFleetClient) {
    this.client = client;
  }

  /**
   * Generates an update run for a given auto upgrade profile.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param fleetName The name of the Fleet resource.
   * @param autoUpgradeProfileName The name of the AutoUpgradeProfile resource.
   * @param options The options parameters.
   */
  async beginGenerateUpdateRun(
    resourceGroupName: string,
    fleetName: string,
    autoUpgradeProfileName: string,
    options?: AutoUpgradeProfileOperationsGenerateUpdateRunOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<AutoUpgradeProfileOperationsGenerateUpdateRunResponse>,
      AutoUpgradeProfileOperationsGenerateUpdateRunResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<AutoUpgradeProfileOperationsGenerateUpdateRunResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, fleetName, autoUpgradeProfileName, options },
      spec: generateUpdateRunOperationSpec,
    });
    const poller = await createHttpPoller<
      AutoUpgradeProfileOperationsGenerateUpdateRunResponse,
      OperationState<AutoUpgradeProfileOperationsGenerateUpdateRunResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "azure-async-operation",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Generates an update run for a given auto upgrade profile.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param fleetName The name of the Fleet resource.
   * @param autoUpgradeProfileName The name of the AutoUpgradeProfile resource.
   * @param options The options parameters.
   */
  async beginGenerateUpdateRunAndWait(
    resourceGroupName: string,
    fleetName: string,
    autoUpgradeProfileName: string,
    options?: AutoUpgradeProfileOperationsGenerateUpdateRunOptionalParams,
  ): Promise<AutoUpgradeProfileOperationsGenerateUpdateRunResponse> {
    const poller = await this.beginGenerateUpdateRun(
      resourceGroupName,
      fleetName,
      autoUpgradeProfileName,
      options,
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const generateUpdateRunOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerService/fleets/{fleetName}/autoUpgradeProfiles/{autoUpgradeProfileName}/generateUpdateRun",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.GenerateResponse,
    },
    201: {
      bodyMapper: Mappers.GenerateResponse,
    },
    202: {
      bodyMapper: Mappers.GenerateResponse,
    },
    204: {
      bodyMapper: Mappers.GenerateResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.fleetName,
    Parameters.autoUpgradeProfileName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
