/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { FirewallPoliciesDrafts } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { NetworkManagementClient } from "../networkManagementClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  FirewallPoliciesDraftsDeployOptionalParams,
  FirewallPoliciesDraftsDeployResponse
} from "../models";

/** Class containing FirewallPoliciesDrafts operations. */
export class FirewallPoliciesDraftsImpl implements FirewallPoliciesDrafts {
  private readonly client: NetworkManagementClient;

  /**
   * Initialize a new instance of the class FirewallPoliciesDrafts class.
   * @param client Reference to the service client
   */
  constructor(client: NetworkManagementClient) {
    this.client = client;
  }

  /**
   * Deploy the specified Firewall Policy draft to Azure Firewall Policy.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param firewallPolicyName The name of the Firewall Policy.
   * @param options The options parameters.
   */
  async beginDeploy(
    resourceGroupName: string,
    firewallPolicyName: string,
    options?: FirewallPoliciesDraftsDeployOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<FirewallPoliciesDraftsDeployResponse>,
      FirewallPoliciesDraftsDeployResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<FirewallPoliciesDraftsDeployResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { resourceGroupName, firewallPolicyName, options },
      spec: deployOperationSpec
    });
    const poller = await createHttpPoller<
      FirewallPoliciesDraftsDeployResponse,
      OperationState<FirewallPoliciesDraftsDeployResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Deploy the specified Firewall Policy draft to Azure Firewall Policy.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param firewallPolicyName The name of the Firewall Policy.
   * @param options The options parameters.
   */
  async beginDeployAndWait(
    resourceGroupName: string,
    firewallPolicyName: string,
    options?: FirewallPoliciesDraftsDeployOptionalParams
  ): Promise<FirewallPoliciesDraftsDeployResponse> {
    const poller = await this.beginDeploy(
      resourceGroupName,
      firewallPolicyName,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const deployOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/firewallPolicies/{firewallPolicyName}/draft/default/deploy",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.FirewallPolicyDraft
    },
    201: {
      bodyMapper: Mappers.FirewallPolicyDraft
    },
    202: {
      bodyMapper: Mappers.FirewallPolicyDraft
    },
    204: {
      bodyMapper: Mappers.FirewallPolicyDraft
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName1,
    Parameters.firewallPolicyName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
