/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { NspLoggingConfigurations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { NetworkManagementClient } from "../networkManagementClient.js";
import {
  NspLoggingConfiguration,
  NspLoggingConfigurationsListNextOptionalParams,
  NspLoggingConfigurationsListOptionalParams,
  NspLoggingConfigurationsListResponse,
  NspLoggingConfigurationsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing NspLoggingConfigurations operations. */
export class NspLoggingConfigurationsImpl implements NspLoggingConfigurations {
  private readonly client: NetworkManagementClient;

  /**
   * Initialize a new instance of the class NspLoggingConfigurations class.
   * @param client Reference to the service client
   */
  constructor(client: NetworkManagementClient) {
    this.client = client;
  }

  /**
   * Lists the NSP logging configuration.
   * @param resourceGroupName The name of the resource group.
   * @param networkSecurityPerimeterName The name of the network security perimeter.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    networkSecurityPerimeterName: string,
    options?: NspLoggingConfigurationsListOptionalParams,
  ): PagedAsyncIterableIterator<NspLoggingConfiguration> {
    const iter = this.listPagingAll(
      resourceGroupName,
      networkSecurityPerimeterName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          networkSecurityPerimeterName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    networkSecurityPerimeterName: string,
    options?: NspLoggingConfigurationsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<NspLoggingConfiguration[]> {
    let result: NspLoggingConfigurationsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        networkSecurityPerimeterName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        networkSecurityPerimeterName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    networkSecurityPerimeterName: string,
    options?: NspLoggingConfigurationsListOptionalParams,
  ): AsyncIterableIterator<NspLoggingConfiguration> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      networkSecurityPerimeterName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Lists the NSP logging configuration.
   * @param resourceGroupName The name of the resource group.
   * @param networkSecurityPerimeterName The name of the network security perimeter.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    networkSecurityPerimeterName: string,
    options?: NspLoggingConfigurationsListOptionalParams,
  ): Promise<NspLoggingConfigurationsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, networkSecurityPerimeterName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group.
   * @param networkSecurityPerimeterName The name of the network security perimeter.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    networkSecurityPerimeterName: string,
    nextLink: string,
    options?: NspLoggingConfigurationsListNextOptionalParams,
  ): Promise<NspLoggingConfigurationsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, networkSecurityPerimeterName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/loggingConfigurations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NspLoggingConfigurationListResult,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.networkSecurityPerimeterName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NspLoggingConfigurationListResult,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.networkSecurityPerimeterName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
