/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { NspLoggingConfigurationOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { NetworkManagementClient } from "../networkManagementClient.js";
import {
  NspLoggingConfigurationGetOptionalParams,
  NspLoggingConfigurationGetResponse,
  NspLoggingConfiguration,
  NspLoggingConfigurationCreateOrUpdateOptionalParams,
  NspLoggingConfigurationCreateOrUpdateResponse,
  NspLoggingConfigurationDeleteOptionalParams,
} from "../models/index.js";

/** Class containing NspLoggingConfigurationOperations operations. */
export class NspLoggingConfigurationOperationsImpl
  implements NspLoggingConfigurationOperations
{
  private readonly client: NetworkManagementClient;

  /**
   * Initialize a new instance of the class NspLoggingConfigurationOperations class.
   * @param client Reference to the service client
   */
  constructor(client: NetworkManagementClient) {
    this.client = client;
  }

  /**
   * Gets the NSP logging configuration.
   * @param resourceGroupName The name of the resource group.
   * @param networkSecurityPerimeterName The name of the network security perimeter.
   * @param loggingConfigurationName The name of the NSP logging configuration. Accepts 'instance' as
   *                                 name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    networkSecurityPerimeterName: string,
    loggingConfigurationName: string,
    options?: NspLoggingConfigurationGetOptionalParams,
  ): Promise<NspLoggingConfigurationGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        networkSecurityPerimeterName,
        loggingConfigurationName,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * Creates or updates NSP logging configuration.
   * @param resourceGroupName The name of the resource group.
   * @param networkSecurityPerimeterName The name of the network security perimeter.
   * @param loggingConfigurationName The name of the NSP logging configuration. Accepts 'instance' as
   *                                 name.
   * @param parameters Parameters that hold the NspLoggingConfiguration to be created/updated.
   * @param options The options parameters.
   */
  createOrUpdate(
    resourceGroupName: string,
    networkSecurityPerimeterName: string,
    loggingConfigurationName: string,
    parameters: NspLoggingConfiguration,
    options?: NspLoggingConfigurationCreateOrUpdateOptionalParams,
  ): Promise<NspLoggingConfigurationCreateOrUpdateResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        networkSecurityPerimeterName,
        loggingConfigurationName,
        parameters,
        options,
      },
      createOrUpdateOperationSpec,
    );
  }

  /**
   * Deletes an NSP Logging configuration.
   * @param resourceGroupName The name of the resource group.
   * @param networkSecurityPerimeterName The name of the network security perimeter.
   * @param loggingConfigurationName The name of the NSP logging configuration. Accepts 'instance' as
   *                                 name.
   * @param options The options parameters.
   */
  delete(
    resourceGroupName: string,
    networkSecurityPerimeterName: string,
    loggingConfigurationName: string,
    options?: NspLoggingConfigurationDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        networkSecurityPerimeterName,
        loggingConfigurationName,
        options,
      },
      deleteOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/loggingConfigurations/{loggingConfigurationName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NspLoggingConfiguration,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.networkSecurityPerimeterName,
    Parameters.loggingConfigurationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/loggingConfigurations/{loggingConfigurationName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.NspLoggingConfiguration,
    },
    201: {
      bodyMapper: Mappers.NspLoggingConfiguration,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  requestBody: Parameters.parameters7,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.networkSecurityPerimeterName,
    Parameters.loggingConfigurationName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/networkSecurityPerimeters/{networkSecurityPerimeterName}/loggingConfigurations/{loggingConfigurationName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.networkSecurityPerimeterName,
    Parameters.loggingConfigurationName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
