/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { DevCenterCatalogImageDefinitionBuilds } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { DevCenterClient } from "../devCenterClient.js";
import {
  ImageDefinitionBuild,
  DevCenterCatalogImageDefinitionBuildsListByImageDefinitionNextOptionalParams,
  DevCenterCatalogImageDefinitionBuildsListByImageDefinitionOptionalParams,
  DevCenterCatalogImageDefinitionBuildsListByImageDefinitionResponse,
  DevCenterCatalogImageDefinitionBuildsListByImageDefinitionNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing DevCenterCatalogImageDefinitionBuilds operations. */
export class DevCenterCatalogImageDefinitionBuildsImpl
  implements DevCenterCatalogImageDefinitionBuilds
{
  private readonly client: DevCenterClient;

  /**
   * Initialize a new instance of the class DevCenterCatalogImageDefinitionBuilds class.
   * @param client Reference to the service client
   */
  constructor(client: DevCenterClient) {
    this.client = client;
  }

  /**
   * Lists builds for a specified image definition.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param devCenterName The name of the devcenter.
   * @param catalogName The name of the Catalog.
   * @param imageDefinitionName The name of the Image Definition.
   * @param options The options parameters.
   */
  public listByImageDefinition(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    imageDefinitionName: string,
    options?: DevCenterCatalogImageDefinitionBuildsListByImageDefinitionOptionalParams,
  ): PagedAsyncIterableIterator<ImageDefinitionBuild> {
    const iter = this.listByImageDefinitionPagingAll(
      resourceGroupName,
      devCenterName,
      catalogName,
      imageDefinitionName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByImageDefinitionPagingPage(
          resourceGroupName,
          devCenterName,
          catalogName,
          imageDefinitionName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByImageDefinitionPagingPage(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    imageDefinitionName: string,
    options?: DevCenterCatalogImageDefinitionBuildsListByImageDefinitionOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ImageDefinitionBuild[]> {
    let result: DevCenterCatalogImageDefinitionBuildsListByImageDefinitionResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByImageDefinition(
        resourceGroupName,
        devCenterName,
        catalogName,
        imageDefinitionName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByImageDefinitionNext(
        resourceGroupName,
        devCenterName,
        catalogName,
        imageDefinitionName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByImageDefinitionPagingAll(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    imageDefinitionName: string,
    options?: DevCenterCatalogImageDefinitionBuildsListByImageDefinitionOptionalParams,
  ): AsyncIterableIterator<ImageDefinitionBuild> {
    for await (const page of this.listByImageDefinitionPagingPage(
      resourceGroupName,
      devCenterName,
      catalogName,
      imageDefinitionName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Lists builds for a specified image definition.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param devCenterName The name of the devcenter.
   * @param catalogName The name of the Catalog.
   * @param imageDefinitionName The name of the Image Definition.
   * @param options The options parameters.
   */
  private _listByImageDefinition(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    imageDefinitionName: string,
    options?: DevCenterCatalogImageDefinitionBuildsListByImageDefinitionOptionalParams,
  ): Promise<DevCenterCatalogImageDefinitionBuildsListByImageDefinitionResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        devCenterName,
        catalogName,
        imageDefinitionName,
        options,
      },
      listByImageDefinitionOperationSpec,
    );
  }

  /**
   * ListByImageDefinitionNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param devCenterName The name of the devcenter.
   * @param catalogName The name of the Catalog.
   * @param imageDefinitionName The name of the Image Definition.
   * @param nextLink The nextLink from the previous successful call to the ListByImageDefinition method.
   * @param options The options parameters.
   */
  private _listByImageDefinitionNext(
    resourceGroupName: string,
    devCenterName: string,
    catalogName: string,
    imageDefinitionName: string,
    nextLink: string,
    options?: DevCenterCatalogImageDefinitionBuildsListByImageDefinitionNextOptionalParams,
  ): Promise<DevCenterCatalogImageDefinitionBuildsListByImageDefinitionNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        devCenterName,
        catalogName,
        imageDefinitionName,
        nextLink,
        options,
      },
      listByImageDefinitionNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByImageDefinitionOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevCenter/devcenters/{devCenterName}/catalogs/{catalogName}/imageDefinitions/{imageDefinitionName}/builds",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ImageDefinitionBuildListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.devCenterName,
    Parameters.catalogName,
    Parameters.imageDefinitionName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByImageDefinitionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ImageDefinitionBuildListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.devCenterName,
    Parameters.nextLink,
    Parameters.catalogName,
    Parameters.imageDefinitionName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
