/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Grant } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { EducationManagementClient } from "../educationManagementClient";
import { GrantRenewalOptionalParams, GrantRenewalResponse } from "../models";

/** Class containing Grant operations. */
export class GrantImpl implements Grant {
  private readonly client: EducationManagementClient;

  /**
   * Initialize a new instance of the class Grant class.
   * @param client Reference to the service client
   */
  constructor(client: EducationManagementClient) {
    this.client = client;
  }

  /**
   * Request grant renewal
   * @param billingAccountName Billing account name.
   * @param billingProfileName Billing profile name.
   * @param options The options parameters.
   */
  renewal(
    billingAccountName: string,
    billingProfileName: string,
    options?: GrantRenewalOptionalParams
  ): Promise<GrantRenewalResponse> {
    return this.client.sendOperationRequest(
      { billingAccountName, billingProfileName, options },
      renewalOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const renewalOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/billingProfiles/{billingProfileName}/providers/Microsoft.Education/grants/default/renew",
  httpMethod: "POST",
  responses: {
    200: {},
    202: {
      headersMapper: Mappers.GrantRenewalHeaders
    },
    default: {
      bodyMapper: Mappers.ErrorResponseBody
    }
  },
  queryParameters: [Parameters.apiVersion1],
  urlParameters: [
    Parameters.$host,
    Parameters.billingAccountName,
    Parameters.billingProfileName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
