/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { AssessedWebApplicationOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMigrateAssessmentService } from "../azureMigrateAssessmentService";
import {
  AssessedWebApplication,
  AssessedWebApplicationOperationsListByAksAssessmentNextOptionalParams,
  AssessedWebApplicationOperationsListByAksAssessmentOptionalParams,
  AssessedWebApplicationOperationsListByAksAssessmentResponse,
  AssessedWebApplicationOperationsGetOptionalParams,
  AssessedWebApplicationOperationsGetResponse,
  AssessedWebApplicationOperationsListByAksAssessmentNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AssessedWebApplicationOperations operations. */
export class AssessedWebApplicationOperationsImpl
  implements AssessedWebApplicationOperations
{
  private readonly client: AzureMigrateAssessmentService;

  /**
   * Initialize a new instance of the class AssessedWebApplicationOperations class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateAssessmentService) {
    this.client = client;
  }

  /**
   * List AssessedWebApplication resources by AKSAssessment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param assessmentName AKS Assessment Name.
   * @param options The options parameters.
   */
  public listByAksAssessment(
    resourceGroupName: string,
    projectName: string,
    assessmentName: string,
    options?: AssessedWebApplicationOperationsListByAksAssessmentOptionalParams,
  ): PagedAsyncIterableIterator<AssessedWebApplication> {
    const iter = this.listByAksAssessmentPagingAll(
      resourceGroupName,
      projectName,
      assessmentName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByAksAssessmentPagingPage(
          resourceGroupName,
          projectName,
          assessmentName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByAksAssessmentPagingPage(
    resourceGroupName: string,
    projectName: string,
    assessmentName: string,
    options?: AssessedWebApplicationOperationsListByAksAssessmentOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AssessedWebApplication[]> {
    let result: AssessedWebApplicationOperationsListByAksAssessmentResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByAksAssessment(
        resourceGroupName,
        projectName,
        assessmentName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByAksAssessmentNext(
        resourceGroupName,
        projectName,
        assessmentName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByAksAssessmentPagingAll(
    resourceGroupName: string,
    projectName: string,
    assessmentName: string,
    options?: AssessedWebApplicationOperationsListByAksAssessmentOptionalParams,
  ): AsyncIterableIterator<AssessedWebApplication> {
    for await (const page of this.listByAksAssessmentPagingPage(
      resourceGroupName,
      projectName,
      assessmentName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List AssessedWebApplication resources by AKSAssessment
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param assessmentName AKS Assessment Name.
   * @param options The options parameters.
   */
  private _listByAksAssessment(
    resourceGroupName: string,
    projectName: string,
    assessmentName: string,
    options?: AssessedWebApplicationOperationsListByAksAssessmentOptionalParams,
  ): Promise<AssessedWebApplicationOperationsListByAksAssessmentResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, assessmentName, options },
      listByAksAssessmentOperationSpec,
    );
  }

  /**
   * Get a AssessedWebApplication
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param assessmentName AKS Assessment Name.
   * @param assessedWorkload Assessed Web Application Name.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    projectName: string,
    assessmentName: string,
    assessedWorkload: string,
    options?: AssessedWebApplicationOperationsGetOptionalParams,
  ): Promise<AssessedWebApplicationOperationsGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        projectName,
        assessmentName,
        assessedWorkload,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * ListByAksAssessmentNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param assessmentName AKS Assessment Name.
   * @param nextLink The nextLink from the previous successful call to the ListByAksAssessment method.
   * @param options The options parameters.
   */
  private _listByAksAssessmentNext(
    resourceGroupName: string,
    projectName: string,
    assessmentName: string,
    nextLink: string,
    options?: AssessedWebApplicationOperationsListByAksAssessmentNextOptionalParams,
  ): Promise<AssessedWebApplicationOperationsListByAksAssessmentNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, assessmentName, nextLink, options },
      listByAksAssessmentNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByAksAssessmentOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/assessedWebApps",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessedWebApplicationListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.continuationToken,
    Parameters.top,
    Parameters.filter,
    Parameters.totalRecordCount,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.assessmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/aksAssessments/{assessmentName}/assessedWebApps/{assessedWorkload}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessedWebApplication,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.assessmentName,
    Parameters.assessedWorkload,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByAksAssessmentNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AssessedWebApplicationListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.assessmentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
