/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { EvaluatedWebAppsOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateAssessmentService } from "../azureMigrateAssessmentService.js";
import {
  EvaluatedWebApp,
  EvaluatedWebAppsOperationsListByBusinessCaseNextOptionalParams,
  EvaluatedWebAppsOperationsListByBusinessCaseOptionalParams,
  EvaluatedWebAppsOperationsListByBusinessCaseResponse,
  EvaluatedWebAppsOperationsGetOptionalParams,
  EvaluatedWebAppsOperationsGetResponse,
  EvaluatedWebAppsOperationsListByBusinessCaseNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing EvaluatedWebAppsOperations operations. */
export class EvaluatedWebAppsOperationsImpl
  implements EvaluatedWebAppsOperations
{
  private readonly client: AzureMigrateAssessmentService;

  /**
   * Initialize a new instance of the class EvaluatedWebAppsOperations class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateAssessmentService) {
    this.client = client;
  }

  /**
   * List EvaluatedWebApp resources by BusinessCase
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param businessCaseName Business case ARM name
   * @param options The options parameters.
   */
  public listByBusinessCase(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    options?: EvaluatedWebAppsOperationsListByBusinessCaseOptionalParams,
  ): PagedAsyncIterableIterator<EvaluatedWebApp> {
    const iter = this.listByBusinessCasePagingAll(
      resourceGroupName,
      projectName,
      businessCaseName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByBusinessCasePagingPage(
          resourceGroupName,
          projectName,
          businessCaseName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByBusinessCasePagingPage(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    options?: EvaluatedWebAppsOperationsListByBusinessCaseOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<EvaluatedWebApp[]> {
    let result: EvaluatedWebAppsOperationsListByBusinessCaseResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByBusinessCase(
        resourceGroupName,
        projectName,
        businessCaseName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByBusinessCaseNext(
        resourceGroupName,
        projectName,
        businessCaseName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByBusinessCasePagingAll(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    options?: EvaluatedWebAppsOperationsListByBusinessCaseOptionalParams,
  ): AsyncIterableIterator<EvaluatedWebApp> {
    for await (const page of this.listByBusinessCasePagingPage(
      resourceGroupName,
      projectName,
      businessCaseName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List EvaluatedWebApp resources by BusinessCase
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param businessCaseName Business case ARM name
   * @param options The options parameters.
   */
  private _listByBusinessCase(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    options?: EvaluatedWebAppsOperationsListByBusinessCaseOptionalParams,
  ): Promise<EvaluatedWebAppsOperationsListByBusinessCaseResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, businessCaseName, options },
      listByBusinessCaseOperationSpec,
    );
  }

  /**
   * Get a EvaluatedWebApp
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param businessCaseName Business case ARM name
   * @param evaluatedWebAppName Business case Evaluated web App ARM name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    evaluatedWebAppName: string,
    options?: EvaluatedWebAppsOperationsGetOptionalParams,
  ): Promise<EvaluatedWebAppsOperationsGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        projectName,
        businessCaseName,
        evaluatedWebAppName,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * ListByBusinessCaseNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param businessCaseName Business case ARM name
   * @param nextLink The nextLink from the previous successful call to the ListByBusinessCase method.
   * @param options The options parameters.
   */
  private _listByBusinessCaseNext(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    nextLink: string,
    options?: EvaluatedWebAppsOperationsListByBusinessCaseNextOptionalParams,
  ): Promise<EvaluatedWebAppsOperationsListByBusinessCaseNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, businessCaseName, nextLink, options },
      listByBusinessCaseNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByBusinessCaseOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedWebApps",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EvaluatedWebAppListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.continuationToken,
    Parameters.filter,
    Parameters.totalRecordCount,
    Parameters.pageSize,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.businessCaseName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedWebApps/{evaluatedWebAppName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EvaluatedWebApp,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.businessCaseName,
    Parameters.evaluatedWebAppName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByBusinessCaseNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EvaluatedWebAppListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.businessCaseName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
