/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { EvaluatedSqlEntitiesOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMigrateAssessmentService } from "../azureMigrateAssessmentService";
import {
  EvaluatedSqlEntity,
  EvaluatedSqlEntitiesOperationsListByBusinessCaseNextOptionalParams,
  EvaluatedSqlEntitiesOperationsListByBusinessCaseOptionalParams,
  EvaluatedSqlEntitiesOperationsListByBusinessCaseResponse,
  EvaluatedSqlEntitiesOperationsGetOptionalParams,
  EvaluatedSqlEntitiesOperationsGetResponse,
  EvaluatedSqlEntitiesOperationsListByBusinessCaseNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing EvaluatedSqlEntitiesOperations operations. */
export class EvaluatedSqlEntitiesOperationsImpl
  implements EvaluatedSqlEntitiesOperations
{
  private readonly client: AzureMigrateAssessmentService;

  /**
   * Initialize a new instance of the class EvaluatedSqlEntitiesOperations class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateAssessmentService) {
    this.client = client;
  }

  /**
   * List EvaluatedSqlEntity resources by BusinessCase
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param businessCaseName Business case ARM name
   * @param options The options parameters.
   */
  public listByBusinessCase(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    options?: EvaluatedSqlEntitiesOperationsListByBusinessCaseOptionalParams,
  ): PagedAsyncIterableIterator<EvaluatedSqlEntity> {
    const iter = this.listByBusinessCasePagingAll(
      resourceGroupName,
      projectName,
      businessCaseName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByBusinessCasePagingPage(
          resourceGroupName,
          projectName,
          businessCaseName,
          options,
          settings,
        );
      },
    };
  }

  private async *listByBusinessCasePagingPage(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    options?: EvaluatedSqlEntitiesOperationsListByBusinessCaseOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<EvaluatedSqlEntity[]> {
    let result: EvaluatedSqlEntitiesOperationsListByBusinessCaseResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByBusinessCase(
        resourceGroupName,
        projectName,
        businessCaseName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByBusinessCaseNext(
        resourceGroupName,
        projectName,
        businessCaseName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByBusinessCasePagingAll(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    options?: EvaluatedSqlEntitiesOperationsListByBusinessCaseOptionalParams,
  ): AsyncIterableIterator<EvaluatedSqlEntity> {
    for await (const page of this.listByBusinessCasePagingPage(
      resourceGroupName,
      projectName,
      businessCaseName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List EvaluatedSqlEntity resources by BusinessCase
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param businessCaseName Business case ARM name
   * @param options The options parameters.
   */
  private _listByBusinessCase(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    options?: EvaluatedSqlEntitiesOperationsListByBusinessCaseOptionalParams,
  ): Promise<EvaluatedSqlEntitiesOperationsListByBusinessCaseResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, businessCaseName, options },
      listByBusinessCaseOperationSpec,
    );
  }

  /**
   * Get a EvaluatedSqlEntity
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param businessCaseName Business case ARM name
   * @param evaluatedSqlEntityName Business case Evaluated sql entity ARM name
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    evaluatedSqlEntityName: string,
    options?: EvaluatedSqlEntitiesOperationsGetOptionalParams,
  ): Promise<EvaluatedSqlEntitiesOperationsGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        projectName,
        businessCaseName,
        evaluatedSqlEntityName,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * ListByBusinessCaseNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param projectName Assessment Project Name
   * @param businessCaseName Business case ARM name
   * @param nextLink The nextLink from the previous successful call to the ListByBusinessCase method.
   * @param options The options parameters.
   */
  private _listByBusinessCaseNext(
    resourceGroupName: string,
    projectName: string,
    businessCaseName: string,
    nextLink: string,
    options?: EvaluatedSqlEntitiesOperationsListByBusinessCaseNextOptionalParams,
  ): Promise<EvaluatedSqlEntitiesOperationsListByBusinessCaseNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, projectName, businessCaseName, nextLink, options },
      listByBusinessCaseNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByBusinessCaseOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedSqlEntities",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EvaluatedSqlEntityListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.continuationToken,
    Parameters.filter,
    Parameters.totalRecordCount,
    Parameters.pageSize,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.businessCaseName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/assessmentProjects/{projectName}/businessCases/{businessCaseName}/evaluatedSqlEntities/{evaluatedSqlEntityName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EvaluatedSqlEntity,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.businessCaseName,
    Parameters.evaluatedSqlEntityName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByBusinessCaseNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.EvaluatedSqlEntityListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.projectName,
    Parameters.businessCaseName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
