/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ListFlowsByPipeline } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { Azuredatatransferrp } from "../azuredatatransferrp.js";
import {
  ListFlowsByPipelineListOptionalParams,
  ListFlowsByPipelineListResponse,
} from "../models/index.js";

/** Class containing ListFlowsByPipeline operations. */
export class ListFlowsByPipelineImpl implements ListFlowsByPipeline {
  private readonly client: Azuredatatransferrp;

  /**
   * Initialize a new instance of the class ListFlowsByPipeline class.
   * @param client Reference to the service client
   */
  constructor(client: Azuredatatransferrp) {
    this.client = client;
  }

  /**
   * Lists the flows in a pipeline.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param pipelineName The name for the pipeline that is to be requested.
   * @param options The options parameters.
   */
  list(
    resourceGroupName: string,
    pipelineName: string,
    options?: ListFlowsByPipelineListOptionalParams,
  ): Promise<ListFlowsByPipelineListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, pipelineName, options },
      listOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/pipelines/{pipelineName}/listFlows",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ListFlowsByPipelineResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.connections,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.pipelineName,
  ],
  headerParameters: [Parameters.contentType, Parameters.accept],
  mediaType: "json",
  serializer,
};
