/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { ListPendingConnections } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { Azuredatatransferrp } from "../azuredatatransferrp.js";
import {
  PendingConnection,
  ListPendingConnectionsListNextOptionalParams,
  ListPendingConnectionsListOptionalParams,
  ListPendingConnectionsListResponse,
  ListPendingConnectionsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing ListPendingConnections operations. */
export class ListPendingConnectionsImpl implements ListPendingConnections {
  private readonly client: Azuredatatransferrp;

  /**
   * Initialize a new instance of the class ListPendingConnections class.
   * @param client Reference to the service client
   */
  constructor(client: Azuredatatransferrp) {
    this.client = client;
  }

  /**
   * Lists all pending connections for a connection.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param connectionName The name for the connection that is to be requested.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    connectionName: string,
    options?: ListPendingConnectionsListOptionalParams,
  ): PagedAsyncIterableIterator<PendingConnection> {
    const iter = this.listPagingAll(resourceGroupName, connectionName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          connectionName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    connectionName: string,
    options?: ListPendingConnectionsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<PendingConnection[]> {
    let result: ListPendingConnectionsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, connectionName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        connectionName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    connectionName: string,
    options?: ListPendingConnectionsListOptionalParams,
  ): AsyncIterableIterator<PendingConnection> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      connectionName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Lists all pending connections for a connection.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param connectionName The name for the connection that is to be requested.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    connectionName: string,
    options?: ListPendingConnectionsListOptionalParams,
  ): Promise<ListPendingConnectionsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, connectionName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param connectionName The name for the connection that is to be requested.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    connectionName: string,
    nextLink: string,
    options?: ListPendingConnectionsListNextOptionalParams,
  ): Promise<ListPendingConnectionsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, connectionName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureDataTransfer/connections/{connectionName}/listPendingConnections",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.PendingConnectionsListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.connectionName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PendingConnectionsListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.connectionName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
