/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ReservationOrderOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { BillingManagementClient } from "../billingManagementClient";
import {
  ReservationOrderGetByBillingAccountOptionalParams,
  ReservationOrderGetByBillingAccountResponse
} from "../models";

/** Class containing ReservationOrderOperations operations. */
export class ReservationOrderOperationsImpl
  implements ReservationOrderOperations {
  private readonly client: BillingManagementClient;

  /**
   * Initialize a new instance of the class ReservationOrderOperations class.
   * @param client Reference to the service client
   */
  constructor(client: BillingManagementClient) {
    this.client = client;
  }

  /**
   * Get the details of the ReservationOrder in the billing account.
   * @param billingAccountName The ID that uniquely identifies a billing account.
   * @param reservationOrderId Order Id of the reservation
   * @param options The options parameters.
   */
  getByBillingAccount(
    billingAccountName: string,
    reservationOrderId: string,
    options?: ReservationOrderGetByBillingAccountOptionalParams
  ): Promise<ReservationOrderGetByBillingAccountResponse> {
    return this.client.sendOperationRequest(
      { billingAccountName, reservationOrderId, options },
      getByBillingAccountOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getByBillingAccountOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/reservationOrders/{reservationOrderId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ReservationOrder
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.expand1],
  urlParameters: [
    Parameters.$host,
    Parameters.billingAccountName,
    Parameters.reservationOrderId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
