/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator } from "@azure/core-paging";
import { UpdateRuns } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureStackHCIClient } from "../azureStackHCIClient";
import {
  UpdateRun,
  UpdateRunsListNextOptionalParams,
  UpdateRunsListOptionalParams,
  UpdateRunsListResponse,
  UpdateRunsGetOptionalParams,
  UpdateRunsGetResponse,
  UpdateRunsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing UpdateRuns operations. */
export class UpdateRunsImpl implements UpdateRuns {
  private readonly client: AzureStackHCIClient;

  /**
   * Initialize a new instance of the class UpdateRuns class.
   * @param client Reference to the service client
   */
  constructor(client: AzureStackHCIClient) {
    this.client = client;
  }

  /**
   * List all Update runs for a specified update
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterName The name of the cluster.
   * @param updateName The name of the Update
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    clusterName: string,
    updateName: string,
    options?: UpdateRunsListOptionalParams
  ): PagedAsyncIterableIterator<UpdateRun> {
    const iter = this.listPagingAll(
      resourceGroupName,
      clusterName,
      updateName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: () => {
        return this.listPagingPage(
          resourceGroupName,
          clusterName,
          updateName,
          options
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    clusterName: string,
    updateName: string,
    options?: UpdateRunsListOptionalParams
  ): AsyncIterableIterator<UpdateRun[]> {
    let result = await this._list(
      resourceGroupName,
      clusterName,
      updateName,
      options
    );
    yield result.value || [];
    let continuationToken = result.nextLink;
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        clusterName,
        updateName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      yield result.value || [];
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    clusterName: string,
    updateName: string,
    options?: UpdateRunsListOptionalParams
  ): AsyncIterableIterator<UpdateRun> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      clusterName,
      updateName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * List all Update runs for a specified update
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterName The name of the cluster.
   * @param updateName The name of the Update
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    clusterName: string,
    updateName: string,
    options?: UpdateRunsListOptionalParams
  ): Promise<UpdateRunsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterName, updateName, options },
      listOperationSpec
    );
  }

  /**
   * List all Update runs for a specified update
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterName The name of the cluster.
   * @param updateName The name of the Update
   * @param updateRunName The name of the Update Run
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    clusterName: string,
    updateName: string,
    updateRunName: string,
    options?: UpdateRunsGetOptionalParams
  ): Promise<UpdateRunsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterName, updateName, updateRunName, options },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterName The name of the cluster.
   * @param updateName The name of the Update
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    clusterName: string,
    updateName: string,
    nextLink: string,
    options?: UpdateRunsListNextOptionalParams
  ): Promise<UpdateRunsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterName, updateName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.UpdateRunList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterName,
    Parameters.updateName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.AzureStackHCI/clusters/{clusterName}/updates/{updateName}/updateRuns/{updateRunName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.UpdateRun
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterName,
    Parameters.updateName,
    Parameters.updateRunName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.UpdateRunList
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterName,
    Parameters.nextLink,
    Parameters.updateName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
