/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ManagementGroupGovernanceRulesExecuteStatus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityCenter } from "../securityCenter";
import {
  ManagementGroupGovernanceRulesExecuteStatusGetOptionalParams,
  ManagementGroupGovernanceRulesExecuteStatusGetResponse
} from "../models";

/** Class containing ManagementGroupGovernanceRulesExecuteStatus operations. */
export class ManagementGroupGovernanceRulesExecuteStatusImpl
  implements ManagementGroupGovernanceRulesExecuteStatus {
  private readonly client: SecurityCenter;

  /**
   * Initialize a new instance of the class ManagementGroupGovernanceRulesExecuteStatus class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityCenter) {
    this.client = client;
  }

  /**
   * Get a specific governance rule execution status for the requested scope by ruleId and operationId
   * @param ruleId The governance rule key - unique key for the standard governance rule (GUID)
   * @param operationId The governance rule execution key - unique key for the execution of governance
   *                    rule
   * @param options The options parameters.
   */
  get(
    ruleId: string,
    operationId: string,
    options?: ManagementGroupGovernanceRulesExecuteStatusGetOptionalParams
  ): Promise<ManagementGroupGovernanceRulesExecuteStatusGetResponse> {
    return this.client.sendOperationRequest(
      { ruleId, operationId, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Management/managementGroups/{managementGroupId}/providers/Microsoft.Security/governanceRules/{ruleId}/execute/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ExecuteRuleStatus
    },
    202: {
      headersMapper:
        Mappers.ManagementGroupGovernanceRulesExecuteStatusGetHeaders
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion18],
  urlParameters: [
    Parameters.$host,
    Parameters.ruleId,
    Parameters.managementGroupId,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
