/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { SecurityConnectorGovernanceRulesOperationResult } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SecurityCenter } from "../securityCenter";
import {
  SecurityConnectorGovernanceRulesOperationResultGetOptionalParams,
  SecurityConnectorGovernanceRulesOperationResultGetResponse
} from "../models";

/** Class containing SecurityConnectorGovernanceRulesOperationResult operations. */
export class SecurityConnectorGovernanceRulesOperationResultImpl
  implements SecurityConnectorGovernanceRulesOperationResult {
  private readonly client: SecurityCenter;

  /**
   * Initialize a new instance of the class SecurityConnectorGovernanceRulesOperationResult class.
   * @param client Reference to the service client
   */
  constructor(client: SecurityCenter) {
    this.client = client;
  }

  /**
   * Get governance rule long run operation result for the requested scope by ruleId and operationId
   * @param resourceGroupName The name of the resource group within the user's subscription. The name is
   *                          case insensitive.
   * @param securityConnectorName The security connector name.
   * @param ruleId The governance rule key - unique key for the standard governance rule (GUID)
   * @param operationId The governance rule execution key - unique key for the execution of governance
   *                    rule
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    securityConnectorName: string,
    ruleId: string,
    operationId: string,
    options?: SecurityConnectorGovernanceRulesOperationResultGetOptionalParams
  ): Promise<SecurityConnectorGovernanceRulesOperationResultGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        securityConnectorName,
        ruleId,
        operationId,
        options
      },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Security/securityConnectors/{securityConnectorName}/providers/Microsoft.Security/governanceRules/{ruleId}/operationResults/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationResultAutoGenerated
    },
    202: {
      headersMapper:
        Mappers.SecurityConnectorGovernanceRulesOperationResultGetHeaders
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion18],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.ruleId,
    Parameters.securityConnectorName1,
    Parameters.operationId
  ],
  headerParameters: [Parameters.accept],
  serializer
};
