/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { DiskInspection } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ComputeManagementClient } from "../computeManagementClient";
import {
  DiskInspectionGetOptionalParams,
  DiskInspectionGetResponse,
} from "../models";

/** Class containing DiskInspection operations. */
export class DiskInspectionImpl implements DiskInspection {
  private readonly client: ComputeManagementClient;

  /**
   * Initialize a new instance of the class DiskInspection class.
   * @param client Reference to the service client
   */
  constructor(client: ComputeManagementClient) {
    this.client = client;
  }

  /**
   * Gets a specific Compute diagnostic for a subscription in a location.
   * @param location The location used to execute the diagnostic operation.
   * @param options The options parameters.
   */
  get(
    location: string,
    options?: DiskInspectionGetOptionalParams,
  ): Promise<DiskInspectionGetResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Compute/locations/{location}/diagnostics/diskInspection",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ComputeDiagnosticBase,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
