/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { CloudConnectionsBySubscription } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { Hybridcloud } from "../hybridcloud";
import {
  CloudConnection,
  CloudConnectionsBySubscriptionListNextOptionalParams,
  CloudConnectionsBySubscriptionListOptionalParams,
  CloudConnectionsBySubscriptionListResponse,
  CloudConnectionsBySubscriptionListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing CloudConnectionsBySubscription operations. */
export class CloudConnectionsBySubscriptionImpl
  implements CloudConnectionsBySubscription {
  private readonly client: Hybridcloud;

  /**
   * Initialize a new instance of the class CloudConnectionsBySubscription class.
   * @param client Reference to the service client
   */
  constructor(client: Hybridcloud) {
    this.client = client;
  }

  /**
   * Return list of Cloud Connections in a subscription
   * @param options The options parameters.
   */
  public list(
    options?: CloudConnectionsBySubscriptionListOptionalParams
  ): PagedAsyncIterableIterator<CloudConnection> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      }
    };
  }

  private async *listPagingPage(
    options?: CloudConnectionsBySubscriptionListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<CloudConnection[]> {
    let result: CloudConnectionsBySubscriptionListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: CloudConnectionsBySubscriptionListOptionalParams
  ): AsyncIterableIterator<CloudConnection> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Return list of Cloud Connections in a subscription
   * @param options The options parameters.
   */
  private _list(
    options?: CloudConnectionsBySubscriptionListOptionalParams
  ): Promise<CloudConnectionsBySubscriptionListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: CloudConnectionsBySubscriptionListNextOptionalParams
  ): Promise<CloudConnectionsBySubscriptionListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/providers/Microsoft.HybridCloud/cloudConnections",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CloudConnectionListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CloudConnectionListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
