/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AadProperties } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RecoveryServicesBackupClient } from "../recoveryServicesBackupClient";
import {
  AadPropertiesGetOptionalParams,
  AadPropertiesGetResponse,
} from "../models";

/** Class containing AadProperties operations. */
export class AadPropertiesImpl implements AadProperties {
  private readonly client: RecoveryServicesBackupClient;

  /**
   * Initialize a new instance of the class AadProperties class.
   * @param client Reference to the service client
   */
  constructor(client: RecoveryServicesBackupClient) {
    this.client = client;
  }

  /**
   * Fetches the AAD properties from target region BCM stamp.
   * @param azureRegion Azure region to hit Api
   * @param options The options parameters.
   */
  get(
    azureRegion: string,
    options?: AadPropertiesGetOptionalParams,
  ): Promise<AadPropertiesGetResponse> {
    return this.client.sendOperationRequest(
      { azureRegion, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupAadProperties",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AADPropertiesResource,
    },
    default: {
      bodyMapper: Mappers.NewErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.azureRegion,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
