/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { CrrOperationStatus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RecoveryServicesBackupClient } from "../recoveryServicesBackupClient";
import {
  CrrOperationStatusGetOptionalParams,
  CrrOperationStatusGetResponse,
} from "../models";

/** Class containing CrrOperationStatus operations. */
export class CrrOperationStatusImpl implements CrrOperationStatus {
  private readonly client: RecoveryServicesBackupClient;

  /**
   * Initialize a new instance of the class CrrOperationStatus class.
   * @param client Reference to the service client
   */
  constructor(client: RecoveryServicesBackupClient) {
    this.client = client;
  }

  /**
   * @param azureRegion Azure region to hit Api
   * @param operationId
   * @param options The options parameters.
   */
  get(
    azureRegion: string,
    operationId: string,
    options?: CrrOperationStatusGetOptionalParams,
  ): Promise<CrrOperationStatusGetResponse> {
    return this.client.sendOperationRequest(
      { azureRegion, operationId, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.RecoveryServices/locations/{azureRegion}/backupCrrOperationsStatus/{operationId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.OperationStatus,
    },
    default: {
      bodyMapper: Mappers.NewErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.azureRegion,
    Parameters.operationId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
