/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { AdooAuthOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { DeveloperHubServiceClient } from "../developerHubServiceClient.js";
import {
  AdooAuthResponse,
  AdooAuthListNextOptionalParams,
  AdooAuthListOptionalParams,
  AdooAuthListOperationResponse,
  AdooAuthGetOptionalParams,
  AdooAuthGetResponse,
  AdooAuthListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing AdooAuthOperations operations. */
export class AdooAuthOperationsImpl implements AdooAuthOperations {
  private readonly client: DeveloperHubServiceClient;

  /**
   * Initialize a new instance of the class AdooAuthOperations class.
   * @param client Reference to the service client
   */
  constructor(client: DeveloperHubServiceClient) {
    this.client = client;
  }

  /**
   * Callback URL to hit once authenticated with ADO to have the service store the OAuth token.
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  public list(
    location: string,
    options?: AdooAuthListOptionalParams,
  ): PagedAsyncIterableIterator<AdooAuthResponse> {
    const iter = this.listPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(location, options, settings);
      },
    };
  }

  private async *listPagingPage(
    location: string,
    options?: AdooAuthListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AdooAuthResponse[]> {
    let result: AdooAuthListOperationResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(location, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    options?: AdooAuthListOptionalParams,
  ): AsyncIterableIterator<AdooAuthResponse> {
    for await (const page of this.listPagingPage(location, options)) {
      yield* page;
    }
  }

  /**
   * Callback URL to hit once authenticated with Entra ID to have the service store the OAuth token.
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  get(
    location: string,
    options?: AdooAuthGetOptionalParams,
  ): Promise<AdooAuthGetResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      getOperationSpec,
    );
  }

  /**
   * Callback URL to hit once authenticated with ADO to have the service store the OAuth token.
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    options?: AdooAuthListOptionalParams,
  ): Promise<AdooAuthListOperationResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param location The name of the Azure region.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    nextLink: string,
    options?: AdooAuthListNextOptionalParams,
  ): Promise<AdooAuthListNextResponse> {
    return this.client.sendOperationRequest(
      { location, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/adooauth/default",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AdooAuthResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/locations/{location}/adooauth",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AdooAuthListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AdooAuthListResponse,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
