/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { TemplateOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { DeveloperHubServiceClient } from "../developerHubServiceClient.js";
import {
  Template,
  TemplateListNextOptionalParams,
  TemplateListOptionalParams,
  TemplateListResponse,
  TemplateGetOptionalParams,
  TemplateGetResponse,
  TemplateListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing TemplateOperations operations. */
export class TemplateOperationsImpl implements TemplateOperations {
  private readonly client: DeveloperHubServiceClient;

  /**
   * Initialize a new instance of the class TemplateOperations class.
   * @param client Reference to the service client
   */
  constructor(client: DeveloperHubServiceClient) {
    this.client = client;
  }

  /**
   * Gets a list of supported templates.
   * @param options The options parameters.
   */
  public list(
    options?: TemplateListOptionalParams,
  ): PagedAsyncIterableIterator<Template> {
    const iter = this.listPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(options, settings);
      },
    };
  }

  private async *listPagingPage(
    options?: TemplateListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<Template[]> {
    let result: TemplateListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    options?: TemplateListOptionalParams,
  ): AsyncIterableIterator<Template> {
    for await (const page of this.listPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets a list of supported templates.
   * @param options The options parameters.
   */
  private _list(
    options?: TemplateListOptionalParams,
  ): Promise<TemplateListResponse> {
    return this.client.sendOperationRequest({ options }, listOperationSpec);
  }

  /**
   * Gets a list of supported templates.
   * @param templateName The name of the Template.
   * @param options The options parameters.
   */
  get(
    templateName: string,
    options?: TemplateGetOptionalParams,
  ): Promise<TemplateGetResponse> {
    return this.client.sendOperationRequest(
      { templateName, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    nextLink: string,
    options?: TemplateListNextOptionalParams,
  ): Promise<TemplateListNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/templates",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TemplateListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.DevHub/templates/{templateName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Template,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.templateName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TemplateListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
