/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { Get } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { SynapseManagementClient } from "../synapseManagementClient";
import {
  GetStop8A2431BC39114B709A447C12F99E3BB4OptionalParams,
  GetStop8A2431BC39114B709A447C12F99E3BB4Response
} from "../models";

/** Class containing Get operations. */
export class GetImpl implements Get {
  private readonly client: SynapseManagementClient;

  /**
   * Initialize a new instance of the class Get class.
   * @param client Reference to the service client
   */
  constructor(client: SynapseManagementClient) {
    this.client = client;
  }

  /**
   * Integration runtime for 8A2431BC39114B709A447C12F99E3BB4
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName The name of the workspace.
   * @param integrationRuntimeName Integration runtime name
   * @param options The options parameters.
   */
  stop8A2431BC39114B709A447C12F99E3BB4(
    resourceGroupName: string,
    workspaceName: string,
    integrationRuntimeName: string,
    options?: GetStop8A2431BC39114B709A447C12F99E3BB4OptionalParams
  ): Promise<GetStop8A2431BC39114B709A447C12F99E3BB4Response> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, integrationRuntimeName, options },
      stop8A2431BC39114B709A447C12F99E3BB4OperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const stop8A2431BC39114B709A447C12F99E3BB4OperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Synapse/workspaces/{workspaceName}/integrationRuntimes/{integrationRuntimeName}/stop/8A2431BC39114B709A447C12F99E3BB4",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.IntergrationruntimesOperationStatus
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion1],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.integrationRuntimeName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
