/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ProfessionalService } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ProfessionalService } from "../professionalService";
import { PollerLike, PollOperationState, LroEngine } from "@azure/core-lro";
import { LroImpl } from "../lroImpl";
import {
  GetOptionalParams,
  GetResponse,
  ProfessionalServiceResourceCreation,
  CreateOrUpdateOptionalParams,
  CreateOrUpdateResponse,
  DeleteOptionalParams
} from "../models";

/** Class containing ProfessionalService operations. */
export class ProfessionalServiceImpl implements ProfessionalService {
  private readonly client: ProfessionalService;

  /**
   * Initialize a new instance of the class ProfessionalService class.
   * @param client Reference to the service client
   */
  constructor(client: ProfessionalService) {
    this.client = client;
  }

  /**
   * Gets information about the specified Professional Service.
   * @param billingProfile The biling profile id.
   * @param invoiceSection The invoice section id.
   * @param resourceName The name of the resource.
   * @param options The options parameters.
   */
  get(
    billingProfile: string,
    invoiceSection: string,
    resourceName: string,
    options?: GetOptionalParams
  ): Promise<GetResponse> {
    return this.client.sendOperationRequest(
      { billingProfile, invoiceSection, resourceName, options },
      getOperationSpec
    );
  }

  /**
   * Creates or updates a ProfessionalService resource.
   * @param billingProfile The biling profile id.
   * @param invoiceSection The invoice section id.
   * @param resourceName The name of the resource.
   * @param parameters Parameters supplied to the create or update ProfessionalService operation.
   * @param options The options parameters.
   */
  async beginCreateOrUpdate(
    billingProfile: string,
    invoiceSection: string,
    resourceName: string,
    parameters: ProfessionalServiceResourceCreation,
    options?: CreateOrUpdateOptionalParams
  ): Promise<
    PollerLike<
      PollOperationState<CreateOrUpdateResponse>,
      CreateOrUpdateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<CreateOrUpdateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      { billingProfile, invoiceSection, resourceName, parameters, options },
      createOrUpdateOperationSpec
    );
    const poller = new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      lroResourceLocationConfig: "azure-async-operation"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Creates or updates a ProfessionalService resource.
   * @param billingProfile The biling profile id.
   * @param invoiceSection The invoice section id.
   * @param resourceName The name of the resource.
   * @param parameters Parameters supplied to the create or update ProfessionalService operation.
   * @param options The options parameters.
   */
  async beginCreateOrUpdateAndWait(
    billingProfile: string,
    invoiceSection: string,
    resourceName: string,
    parameters: ProfessionalServiceResourceCreation,
    options?: CreateOrUpdateOptionalParams
  ): Promise<CreateOrUpdateResponse> {
    const poller = await this.beginCreateOrUpdate(
      billingProfile,
      invoiceSection,
      resourceName,
      parameters,
      options
    );
    return poller.pollUntilDone();
  }

  /**
   * Deletes the specified ProfessionalService.
   * @param billingProfile The biling profile id.
   * @param invoiceSection The invoice section id.
   * @param resourceName The name of the resource.
   * @param options The options parameters.
   */
  async beginDelete(
    billingProfile: string,
    invoiceSection: string,
    resourceName: string,
    options?: DeleteOptionalParams
  ): Promise<PollerLike<PollOperationState<void>, void>> {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<void> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = new LroImpl(
      sendOperation,
      { billingProfile, invoiceSection, resourceName, options },
      deleteOperationSpec
    );
    const poller = new LroEngine(lro, {
      resumeFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      lroResourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Deletes the specified ProfessionalService.
   * @param billingProfile The biling profile id.
   * @param invoiceSection The invoice section id.
   * @param resourceName The name of the resource.
   * @param options The options parameters.
   */
  async beginDeleteAndWait(
    billingProfile: string,
    invoiceSection: string,
    resourceName: string,
    options?: DeleteOptionalParams
  ): Promise<void> {
    const poller = await this.beginDelete(
      billingProfile,
      invoiceSection,
      resourceName,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Billing/billingAccounts/{billingAccount}/billingProfiles/{billingProfile}/invoiceSections/{invoiceSection}/providers/Microsoft.ProfessionalService/resources/{resourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ProfessionalServiceResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.billingAccount,
    Parameters.billingProfile,
    Parameters.invoiceSection,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const createOrUpdateOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Billing/billingAccounts/{billingAccount}/billingProfiles/{billingProfile}/invoiceSections/{invoiceSection}/providers/Microsoft.ProfessionalService/resources/{resourceName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.ProfessionalServiceResource
    },
    201: {
      bodyMapper: Mappers.ProfessionalServiceResource
    },
    202: {
      bodyMapper: Mappers.ProfessionalServiceResource
    },
    204: {
      bodyMapper: Mappers.ProfessionalServiceResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.parameters,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.billingAccount,
    Parameters.billingProfile,
    Parameters.invoiceSection,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path:
    "/providers/Microsoft.Billing/billingAccounts/{billingAccount}/billingProfiles/{billingProfile}/invoiceSections/{invoiceSection}/providers/Microsoft.ProfessionalService/resources/{resourceName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    201: {},
    202: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.billingAccount,
    Parameters.billingProfile,
    Parameters.invoiceSection,
    Parameters.resourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
