/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { DbServers } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { OracleDatabaseResourceManager } from "../oracleDatabaseResourceManager.js";
import {
  DbServer,
  DbServersListByParentNextOptionalParams,
  DbServersListByParentOptionalParams,
  DbServersListByParentResponse,
  DbServersGetOptionalParams,
  DbServersGetResponse,
  DbServersListByParentNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing DbServers operations. */
export class DbServersImpl implements DbServers {
  private readonly client: OracleDatabaseResourceManager;

  /**
   * Initialize a new instance of the class DbServers class.
   * @param client Reference to the service client
   */
  constructor(client: OracleDatabaseResourceManager) {
    this.client = client;
  }

  /**
   * List DbServer resources by CloudExadataInfrastructure
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param cloudexadatainfrastructurename CloudExadataInfrastructure name
   * @param options The options parameters.
   */
  public listByParent(
    resourceGroupName: string,
    cloudexadatainfrastructurename: string,
    options?: DbServersListByParentOptionalParams,
  ): PagedAsyncIterableIterator<DbServer> {
    const iter = this.listByParentPagingAll(
      resourceGroupName,
      cloudexadatainfrastructurename,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByParentPagingPage(
          resourceGroupName,
          cloudexadatainfrastructurename,
          options,
          settings,
        );
      },
    };
  }

  private async *listByParentPagingPage(
    resourceGroupName: string,
    cloudexadatainfrastructurename: string,
    options?: DbServersListByParentOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<DbServer[]> {
    let result: DbServersListByParentResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByParent(
        resourceGroupName,
        cloudexadatainfrastructurename,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByParentNext(
        resourceGroupName,
        cloudexadatainfrastructurename,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByParentPagingAll(
    resourceGroupName: string,
    cloudexadatainfrastructurename: string,
    options?: DbServersListByParentOptionalParams,
  ): AsyncIterableIterator<DbServer> {
    for await (const page of this.listByParentPagingPage(
      resourceGroupName,
      cloudexadatainfrastructurename,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List DbServer resources by CloudExadataInfrastructure
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param cloudexadatainfrastructurename CloudExadataInfrastructure name
   * @param options The options parameters.
   */
  private _listByParent(
    resourceGroupName: string,
    cloudexadatainfrastructurename: string,
    options?: DbServersListByParentOptionalParams,
  ): Promise<DbServersListByParentResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, cloudexadatainfrastructurename, options },
      listByParentOperationSpec,
    );
  }

  /**
   * Get a DbServer
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param cloudexadatainfrastructurename CloudExadataInfrastructure name
   * @param dbserverocid DbServer OCID.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    cloudexadatainfrastructurename: string,
    dbserverocid: string,
    options?: DbServersGetOptionalParams,
  ): Promise<DbServersGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        cloudexadatainfrastructurename,
        dbserverocid,
        options,
      },
      getOperationSpec,
    );
  }

  /**
   * ListByParentNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param cloudexadatainfrastructurename CloudExadataInfrastructure name
   * @param nextLink The nextLink from the previous successful call to the ListByParent method.
   * @param options The options parameters.
   */
  private _listByParentNext(
    resourceGroupName: string,
    cloudexadatainfrastructurename: string,
    nextLink: string,
    options?: DbServersListByParentNextOptionalParams,
  ): Promise<DbServersListByParentNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, cloudexadatainfrastructurename, nextLink, options },
      listByParentNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByParentOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudExadataInfrastructures/{cloudexadatainfrastructurename}/dbServers",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DbServerListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.cloudexadatainfrastructurename,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Oracle.Database/cloudExadataInfrastructures/{cloudexadatainfrastructurename}/dbServers/{dbserverocid}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DbServer,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.cloudexadatainfrastructurename,
    Parameters.dbserverocid,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByParentNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DbServerListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.cloudexadatainfrastructurename,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
