/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { FlexComponents } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { OracleDatabaseResourceManager } from "../oracleDatabaseResourceManager.js";
import {
  FlexComponent,
  FlexComponentsListByParentNextOptionalParams,
  FlexComponentsListByParentOptionalParams,
  FlexComponentsListByParentResponse,
  FlexComponentsGetOptionalParams,
  FlexComponentsGetResponse,
  FlexComponentsListByParentNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing FlexComponents operations. */
export class FlexComponentsImpl implements FlexComponents {
  private readonly client: OracleDatabaseResourceManager;

  /**
   * Initialize a new instance of the class FlexComponents class.
   * @param client Reference to the service client
   */
  constructor(client: OracleDatabaseResourceManager) {
    this.client = client;
  }

  /**
   * List FlexComponent resources by SubscriptionLocationResource
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  public listByParent(
    location: string,
    options?: FlexComponentsListByParentOptionalParams,
  ): PagedAsyncIterableIterator<FlexComponent> {
    const iter = this.listByParentPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByParentPagingPage(location, options, settings);
      },
    };
  }

  private async *listByParentPagingPage(
    location: string,
    options?: FlexComponentsListByParentOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<FlexComponent[]> {
    let result: FlexComponentsListByParentResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByParent(location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByParentNext(
        location,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByParentPagingAll(
    location: string,
    options?: FlexComponentsListByParentOptionalParams,
  ): AsyncIterableIterator<FlexComponent> {
    for await (const page of this.listByParentPagingPage(location, options)) {
      yield* page;
    }
  }

  /**
   * List FlexComponent resources by SubscriptionLocationResource
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  private _listByParent(
    location: string,
    options?: FlexComponentsListByParentOptionalParams,
  ): Promise<FlexComponentsListByParentResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      listByParentOperationSpec,
    );
  }

  /**
   * Get a FlexComponent
   * @param location The name of the Azure region.
   * @param flexComponentName The name of the FlexComponent
   * @param options The options parameters.
   */
  get(
    location: string,
    flexComponentName: string,
    options?: FlexComponentsGetOptionalParams,
  ): Promise<FlexComponentsGetResponse> {
    return this.client.sendOperationRequest(
      { location, flexComponentName, options },
      getOperationSpec,
    );
  }

  /**
   * ListByParentNext
   * @param location The name of the Azure region.
   * @param nextLink The nextLink from the previous successful call to the ListByParent method.
   * @param options The options parameters.
   */
  private _listByParentNext(
    location: string,
    nextLink: string,
    options?: FlexComponentsListByParentNextOptionalParams,
  ): Promise<FlexComponentsListByParentNextResponse> {
    return this.client.sendOperationRequest(
      { location, nextLink, options },
      listByParentNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByParentOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Oracle.Database/locations/{location}/flexComponents",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.FlexComponentListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.shape],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Oracle.Database/locations/{location}/flexComponents/{flexComponentName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.FlexComponent,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.flexComponentName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByParentNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.FlexComponentListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
