/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { MarketplaceImagePublisherOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataBoxEdgeManagementClient } from "../dataBoxEdgeManagementClient";
import {
  MarketplaceImagePublisher,
  MarketplaceImagePublisherListPublishersNextOptionalParams,
  MarketplaceImagePublisherListPublishersOptionalParams,
  MarketplaceImagePublisherListPublishersResponse,
  MarketplaceImagePublisherListPublishersNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing MarketplaceImagePublisherOperations operations. */
export class MarketplaceImagePublisherOperationsImpl
  implements MarketplaceImagePublisherOperations {
  private readonly client: DataBoxEdgeManagementClient;

  /**
   * Initialize a new instance of the class MarketplaceImagePublisherOperations class.
   * @param client Reference to the service client
   */
  constructor(client: DataBoxEdgeManagementClient) {
    this.client = client;
  }

  /**
   * Returns list of publishers
   * @param deviceName
   * @param resourceGroupName The resource group name.
   * @param options The options parameters.
   */
  public listPublishers(
    deviceName: string,
    resourceGroupName: string,
    options?: MarketplaceImagePublisherListPublishersOptionalParams
  ): PagedAsyncIterableIterator<MarketplaceImagePublisher> {
    const iter = this.listPublishersPagingAll(
      deviceName,
      resourceGroupName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPublishersPagingPage(
          deviceName,
          resourceGroupName,
          options,
          settings
        );
      }
    };
  }

  private async *listPublishersPagingPage(
    deviceName: string,
    resourceGroupName: string,
    options?: MarketplaceImagePublisherListPublishersOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<MarketplaceImagePublisher[]> {
    let result: MarketplaceImagePublisherListPublishersResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listPublishers(
        deviceName,
        resourceGroupName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listPublishersNext(
        deviceName,
        resourceGroupName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPublishersPagingAll(
    deviceName: string,
    resourceGroupName: string,
    options?: MarketplaceImagePublisherListPublishersOptionalParams
  ): AsyncIterableIterator<MarketplaceImagePublisher> {
    for await (const page of this.listPublishersPagingPage(
      deviceName,
      resourceGroupName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Returns list of publishers
   * @param deviceName
   * @param resourceGroupName The resource group name.
   * @param options The options parameters.
   */
  private _listPublishers(
    deviceName: string,
    resourceGroupName: string,
    options?: MarketplaceImagePublisherListPublishersOptionalParams
  ): Promise<MarketplaceImagePublisherListPublishersResponse> {
    return this.client.sendOperationRequest(
      { deviceName, resourceGroupName, options },
      listPublishersOperationSpec
    );
  }

  /**
   * ListPublishersNext
   * @param deviceName
   * @param resourceGroupName The resource group name.
   * @param nextLink The nextLink from the previous successful call to the ListPublishers method.
   * @param options The options parameters.
   */
  private _listPublishersNext(
    deviceName: string,
    resourceGroupName: string,
    nextLink: string,
    options?: MarketplaceImagePublisherListPublishersNextOptionalParams
  ): Promise<MarketplaceImagePublisherListPublishersNextResponse> {
    return this.client.sendOperationRequest(
      { deviceName, resourceGroupName, nextLink, options },
      listPublishersNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listPublishersOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/publishers",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MarketplaceImagePublisherList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.deviceName,
    Parameters.subscriptionId,
    Parameters.resourceGroupName
  ],
  headerParameters: [Parameters.accept1],
  serializer
};
const listPublishersNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MarketplaceImagePublisherList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.deviceName,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept1],
  serializer
};
