/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { MarketplaceImageSkuOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataBoxEdgeManagementClient } from "../dataBoxEdgeManagementClient";
import {
  MarketplaceImageSku,
  MarketplaceImageSkuListSKUsWithinOfferNextOptionalParams,
  MarketplaceImageSkuListSKUsWithinOfferOptionalParams,
  MarketplaceImageSkuListSKUsWithinOfferResponse,
  MarketplaceImageSkuListSKUsWithinOfferNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing MarketplaceImageSkuOperations operations. */
export class MarketplaceImageSkuOperationsImpl
  implements MarketplaceImageSkuOperations {
  private readonly client: DataBoxEdgeManagementClient;

  /**
   * Initialize a new instance of the class MarketplaceImageSkuOperations class.
   * @param client Reference to the service client
   */
  constructor(client: DataBoxEdgeManagementClient) {
    this.client = client;
  }

  /**
   * Returns List of SKUs Within Offer
   * @param deviceName
   * @param publisherName
   * @param offerName
   * @param resourceGroupName The resource group name.
   * @param options The options parameters.
   */
  public listSKUsWithinOffer(
    deviceName: string,
    publisherName: string,
    offerName: string,
    resourceGroupName: string,
    options?: MarketplaceImageSkuListSKUsWithinOfferOptionalParams
  ): PagedAsyncIterableIterator<MarketplaceImageSku> {
    const iter = this.listSKUsWithinOfferPagingAll(
      deviceName,
      publisherName,
      offerName,
      resourceGroupName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listSKUsWithinOfferPagingPage(
          deviceName,
          publisherName,
          offerName,
          resourceGroupName,
          options,
          settings
        );
      }
    };
  }

  private async *listSKUsWithinOfferPagingPage(
    deviceName: string,
    publisherName: string,
    offerName: string,
    resourceGroupName: string,
    options?: MarketplaceImageSkuListSKUsWithinOfferOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<MarketplaceImageSku[]> {
    let result: MarketplaceImageSkuListSKUsWithinOfferResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listSKUsWithinOffer(
        deviceName,
        publisherName,
        offerName,
        resourceGroupName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listSKUsWithinOfferNext(
        deviceName,
        publisherName,
        offerName,
        resourceGroupName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listSKUsWithinOfferPagingAll(
    deviceName: string,
    publisherName: string,
    offerName: string,
    resourceGroupName: string,
    options?: MarketplaceImageSkuListSKUsWithinOfferOptionalParams
  ): AsyncIterableIterator<MarketplaceImageSku> {
    for await (const page of this.listSKUsWithinOfferPagingPage(
      deviceName,
      publisherName,
      offerName,
      resourceGroupName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Returns List of SKUs Within Offer
   * @param deviceName
   * @param publisherName
   * @param offerName
   * @param resourceGroupName The resource group name.
   * @param options The options parameters.
   */
  private _listSKUsWithinOffer(
    deviceName: string,
    publisherName: string,
    offerName: string,
    resourceGroupName: string,
    options?: MarketplaceImageSkuListSKUsWithinOfferOptionalParams
  ): Promise<MarketplaceImageSkuListSKUsWithinOfferResponse> {
    return this.client.sendOperationRequest(
      { deviceName, publisherName, offerName, resourceGroupName, options },
      listSKUsWithinOfferOperationSpec
    );
  }

  /**
   * ListSKUsWithinOfferNext
   * @param deviceName
   * @param publisherName
   * @param offerName
   * @param resourceGroupName The resource group name.
   * @param nextLink The nextLink from the previous successful call to the ListSKUsWithinOffer method.
   * @param options The options parameters.
   */
  private _listSKUsWithinOfferNext(
    deviceName: string,
    publisherName: string,
    offerName: string,
    resourceGroupName: string,
    nextLink: string,
    options?: MarketplaceImageSkuListSKUsWithinOfferNextOptionalParams
  ): Promise<MarketplaceImageSkuListSKUsWithinOfferNextResponse> {
    return this.client.sendOperationRequest(
      {
        deviceName,
        publisherName,
        offerName,
        resourceGroupName,
        nextLink,
        options
      },
      listSKUsWithinOfferNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listSKUsWithinOfferOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/publishers/{publisherName}/offers/{offerName}/skus",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MarketplaceImageSkuList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.deviceName,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.publisherName,
    Parameters.offerName
  ],
  headerParameters: [Parameters.accept1],
  serializer
};
const listSKUsWithinOfferNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MarketplaceImageSkuList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.deviceName,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.publisherName,
    Parameters.offerName
  ],
  headerParameters: [Parameters.accept1],
  serializer
};
