/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { MarketplaceImageSasToken } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataBoxEdgeManagementClient } from "../dataBoxEdgeManagementClient";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  MarketplaceImageSasTokenGetSASTokenOptionalParams,
  MarketplaceImageSasTokenGetSASTokenResponse
} from "../models";

/** Class containing MarketplaceImageSasToken operations. */
export class MarketplaceImageSasTokenImpl implements MarketplaceImageSasToken {
  private readonly client: DataBoxEdgeManagementClient;

  /**
   * Initialize a new instance of the class MarketplaceImageSasToken class.
   * @param client Reference to the service client
   */
  constructor(client: DataBoxEdgeManagementClient) {
    this.client = client;
  }

  /**
   * Returns SASToken
   * @param deviceName
   * @param publisherName
   * @param offerName
   * @param skuName
   * @param versionName
   * @param resourceGroupName The resource group name.
   * @param options The options parameters.
   */
  async beginGetSASToken(
    deviceName: string,
    publisherName: string,
    offerName: string,
    skuName: string,
    versionName: string,
    resourceGroupName: string,
    options?: MarketplaceImageSasTokenGetSASTokenOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<MarketplaceImageSasTokenGetSASTokenResponse>,
      MarketplaceImageSasTokenGetSASTokenResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<MarketplaceImageSasTokenGetSASTokenResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: {
        deviceName,
        publisherName,
        offerName,
        skuName,
        versionName,
        resourceGroupName,
        options
      },
      spec: getSASTokenOperationSpec
    });
    const poller = await createHttpPoller<
      MarketplaceImageSasTokenGetSASTokenResponse,
      OperationState<MarketplaceImageSasTokenGetSASTokenResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs
    });
    await poller.poll();
    return poller;
  }

  /**
   * Returns SASToken
   * @param deviceName
   * @param publisherName
   * @param offerName
   * @param skuName
   * @param versionName
   * @param resourceGroupName The resource group name.
   * @param options The options parameters.
   */
  async beginGetSASTokenAndWait(
    deviceName: string,
    publisherName: string,
    offerName: string,
    skuName: string,
    versionName: string,
    resourceGroupName: string,
    options?: MarketplaceImageSasTokenGetSASTokenOptionalParams
  ): Promise<MarketplaceImageSasTokenGetSASTokenResponse> {
    const poller = await this.beginGetSASToken(
      deviceName,
      publisherName,
      offerName,
      skuName,
      versionName,
      resourceGroupName,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getSASTokenOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/publishers/{publisherName}/offers/{offerName}/skus/{skuName}/versions/{versionName}/generatesastoken",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.MarketplaceSasToken
    },
    201: {
      bodyMapper: Mappers.MarketplaceSasToken
    },
    202: {
      bodyMapper: Mappers.MarketplaceSasToken
    },
    204: {
      bodyMapper: Mappers.MarketplaceSasToken
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.deviceName,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.publisherName,
    Parameters.offerName,
    Parameters.skuName,
    Parameters.versionName
  ],
  headerParameters: [Parameters.accept1],
  serializer
};
