/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { MarketplaceImageVersionOperations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { DataBoxEdgeManagementClient } from "../dataBoxEdgeManagementClient";
import {
  MarketplaceImageVersion,
  MarketplaceImageVersionListVersionswithinSKUNextOptionalParams,
  MarketplaceImageVersionListVersionswithinSKUOptionalParams,
  MarketplaceImageVersionListVersionswithinSKUResponse,
  MarketplaceImageVersionGetParticularImageOptionalParams,
  MarketplaceImageVersionGetParticularImageResponse,
  MarketplaceImageVersionListVersionswithinSKUNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing MarketplaceImageVersionOperations operations. */
export class MarketplaceImageVersionOperationsImpl
  implements MarketplaceImageVersionOperations {
  private readonly client: DataBoxEdgeManagementClient;

  /**
   * Initialize a new instance of the class MarketplaceImageVersionOperations class.
   * @param client Reference to the service client
   */
  constructor(client: DataBoxEdgeManagementClient) {
    this.client = client;
  }

  /**
   * Returns List of Versions within SKU
   * @param deviceName
   * @param publisherName
   * @param offerName
   * @param skuName
   * @param resourceGroupName The resource group name.
   * @param options The options parameters.
   */
  public listVersionswithinSKU(
    deviceName: string,
    publisherName: string,
    offerName: string,
    skuName: string,
    resourceGroupName: string,
    options?: MarketplaceImageVersionListVersionswithinSKUOptionalParams
  ): PagedAsyncIterableIterator<MarketplaceImageVersion> {
    const iter = this.listVersionswithinSKUPagingAll(
      deviceName,
      publisherName,
      offerName,
      skuName,
      resourceGroupName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listVersionswithinSKUPagingPage(
          deviceName,
          publisherName,
          offerName,
          skuName,
          resourceGroupName,
          options,
          settings
        );
      }
    };
  }

  private async *listVersionswithinSKUPagingPage(
    deviceName: string,
    publisherName: string,
    offerName: string,
    skuName: string,
    resourceGroupName: string,
    options?: MarketplaceImageVersionListVersionswithinSKUOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<MarketplaceImageVersion[]> {
    let result: MarketplaceImageVersionListVersionswithinSKUResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listVersionswithinSKU(
        deviceName,
        publisherName,
        offerName,
        skuName,
        resourceGroupName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listVersionswithinSKUNext(
        deviceName,
        publisherName,
        offerName,
        skuName,
        resourceGroupName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listVersionswithinSKUPagingAll(
    deviceName: string,
    publisherName: string,
    offerName: string,
    skuName: string,
    resourceGroupName: string,
    options?: MarketplaceImageVersionListVersionswithinSKUOptionalParams
  ): AsyncIterableIterator<MarketplaceImageVersion> {
    for await (const page of this.listVersionswithinSKUPagingPage(
      deviceName,
      publisherName,
      offerName,
      skuName,
      resourceGroupName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Returns List of Versions within SKU
   * @param deviceName
   * @param publisherName
   * @param offerName
   * @param skuName
   * @param resourceGroupName The resource group name.
   * @param options The options parameters.
   */
  private _listVersionswithinSKU(
    deviceName: string,
    publisherName: string,
    offerName: string,
    skuName: string,
    resourceGroupName: string,
    options?: MarketplaceImageVersionListVersionswithinSKUOptionalParams
  ): Promise<MarketplaceImageVersionListVersionswithinSKUResponse> {
    return this.client.sendOperationRequest(
      {
        deviceName,
        publisherName,
        offerName,
        skuName,
        resourceGroupName,
        options
      },
      listVersionswithinSKUOperationSpec
    );
  }

  /**
   * Get Particular Image
   * @param deviceName
   * @param publisherName
   * @param offerName
   * @param skuName
   * @param versionName
   * @param resourceGroupName The resource group name.
   * @param options The options parameters.
   */
  getParticularImage(
    deviceName: string,
    publisherName: string,
    offerName: string,
    skuName: string,
    versionName: string,
    resourceGroupName: string,
    options?: MarketplaceImageVersionGetParticularImageOptionalParams
  ): Promise<MarketplaceImageVersionGetParticularImageResponse> {
    return this.client.sendOperationRequest(
      {
        deviceName,
        publisherName,
        offerName,
        skuName,
        versionName,
        resourceGroupName,
        options
      },
      getParticularImageOperationSpec
    );
  }

  /**
   * ListVersionswithinSKUNext
   * @param deviceName
   * @param publisherName
   * @param offerName
   * @param skuName
   * @param resourceGroupName The resource group name.
   * @param nextLink The nextLink from the previous successful call to the ListVersionswithinSKU method.
   * @param options The options parameters.
   */
  private _listVersionswithinSKUNext(
    deviceName: string,
    publisherName: string,
    offerName: string,
    skuName: string,
    resourceGroupName: string,
    nextLink: string,
    options?: MarketplaceImageVersionListVersionswithinSKUNextOptionalParams
  ): Promise<MarketplaceImageVersionListVersionswithinSKUNextResponse> {
    return this.client.sendOperationRequest(
      {
        deviceName,
        publisherName,
        offerName,
        skuName,
        resourceGroupName,
        nextLink,
        options
      },
      listVersionswithinSKUNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listVersionswithinSKUOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/publishers/{publisherName}/offers/{offerName}/skus/{skuName}/versions",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MarketplaceImageVersionList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.deviceName,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.publisherName,
    Parameters.offerName,
    Parameters.skuName
  ],
  headerParameters: [Parameters.accept1],
  serializer
};
const getParticularImageOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DataBoxEdge/dataBoxEdgeDevices/{deviceName}/publishers/{publisherName}/offers/{offerName}/skus/{skuName}/versions/{versionName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MarketplaceImageVersion
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.deviceName,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.publisherName,
    Parameters.offerName,
    Parameters.skuName,
    Parameters.versionName
  ],
  headerParameters: [Parameters.accept1],
  serializer
};
const listVersionswithinSKUNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MarketplaceImageVersionList
    },
    default: {
      bodyMapper: Mappers.CloudError
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.deviceName,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.publisherName,
    Parameters.offerName,
    Parameters.skuName
  ],
  headerParameters: [Parameters.accept1],
  serializer
};
