/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { ApiOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { LogicManagementClient } from "../logicManagementClient.js";
import {
  ApiOperation,
  ApiOperationsListNextOptionalParams,
  ApiOperationsListOptionalParams,
  ApiOperationsListResponse,
  ApiOperationsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing ApiOperations operations. */
export class ApiOperationsImpl implements ApiOperations {
  private readonly client: LogicManagementClient;

  /**
   * Initialize a new instance of the class ApiOperations class.
   * @param client Reference to the service client
   */
  constructor(client: LogicManagementClient) {
    this.client = client;
  }

  /**
   * List ApiOperation resources by IntegrationServiceEnvironmentManagedApi
   * @param integrationServiceEnvironmentName The integration service environment name.
   * @param apiName The api name.
   * @param options The options parameters.
   */
  public list(
    integrationServiceEnvironmentName: string,
    apiName: string,
    options?: ApiOperationsListOptionalParams,
  ): PagedAsyncIterableIterator<ApiOperation> {
    const iter = this.listPagingAll(
      integrationServiceEnvironmentName,
      apiName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          integrationServiceEnvironmentName,
          apiName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    integrationServiceEnvironmentName: string,
    apiName: string,
    options?: ApiOperationsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<ApiOperation[]> {
    let result: ApiOperationsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        integrationServiceEnvironmentName,
        apiName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        integrationServiceEnvironmentName,
        apiName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    integrationServiceEnvironmentName: string,
    apiName: string,
    options?: ApiOperationsListOptionalParams,
  ): AsyncIterableIterator<ApiOperation> {
    for await (const page of this.listPagingPage(
      integrationServiceEnvironmentName,
      apiName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List ApiOperation resources by IntegrationServiceEnvironmentManagedApi
   * @param integrationServiceEnvironmentName The integration service environment name.
   * @param apiName The api name.
   * @param options The options parameters.
   */
  private _list(
    integrationServiceEnvironmentName: string,
    apiName: string,
    options?: ApiOperationsListOptionalParams,
  ): Promise<ApiOperationsListResponse> {
    return this.client.sendOperationRequest(
      { integrationServiceEnvironmentName, apiName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param integrationServiceEnvironmentName The integration service environment name.
   * @param apiName The api name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    integrationServiceEnvironmentName: string,
    apiName: string,
    nextLink: string,
    options?: ApiOperationsListNextOptionalParams,
  ): Promise<ApiOperationsListNextResponse> {
    return this.client.sendOperationRequest(
      { integrationServiceEnvironmentName, apiName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Logic/integrationServiceEnvironments/{integrationServiceEnvironmentName}/managedApis/{apiName}/apiOperations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApiOperationListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.integrationServiceEnvironmentName,
    Parameters.apiName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.ApiOperationListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.integrationServiceEnvironmentName,
    Parameters.apiName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
