/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { WorkflowRuns } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { LogicManagementClient } from "../logicManagementClient.js";
import {
  WorkflowRun,
  WorkflowRunsListNextOptionalParams,
  WorkflowRunsListOptionalParams,
  WorkflowRunsListResponse,
  WorkflowRunsGetOptionalParams,
  WorkflowRunsGetResponse,
  WorkflowRunsCancelOptionalParams,
  WorkflowRunsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing WorkflowRuns operations. */
export class WorkflowRunsImpl implements WorkflowRuns {
  private readonly client: LogicManagementClient;

  /**
   * Initialize a new instance of the class WorkflowRuns class.
   * @param client Reference to the service client
   */
  constructor(client: LogicManagementClient) {
    this.client = client;
  }

  /**
   * Gets a list of workflow runs.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workflowName The name of the Workflow
   * @param runName The name of the WorkflowRun
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workflowName: string,
    runName: string,
    options?: WorkflowRunsListOptionalParams,
  ): PagedAsyncIterableIterator<WorkflowRun> {
    const iter = this.listPagingAll(
      resourceGroupName,
      workflowName,
      runName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          workflowName,
          runName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workflowName: string,
    runName: string,
    options?: WorkflowRunsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<WorkflowRun[]> {
    let result: WorkflowRunsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        workflowName,
        runName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workflowName,
        runName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workflowName: string,
    runName: string,
    options?: WorkflowRunsListOptionalParams,
  ): AsyncIterableIterator<WorkflowRun> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workflowName,
      runName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a workflow run.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workflowName The name of the Workflow
   * @param runName The name of the WorkflowRun
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    workflowName: string,
    runName: string,
    options?: WorkflowRunsGetOptionalParams,
  ): Promise<WorkflowRunsGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, runName, options },
      getOperationSpec,
    );
  }

  /**
   * Cancels a workflow run.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workflowName The name of the Workflow
   * @param runName The name of the WorkflowRun
   * @param options The options parameters.
   */
  cancel(
    resourceGroupName: string,
    workflowName: string,
    runName: string,
    options?: WorkflowRunsCancelOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, runName, options },
      cancelOperationSpec,
    );
  }

  /**
   * Gets a list of workflow runs.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workflowName The name of the Workflow
   * @param runName The name of the WorkflowRun
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workflowName: string,
    runName: string,
    options?: WorkflowRunsListOptionalParams,
  ): Promise<WorkflowRunsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, runName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workflowName The name of the Workflow
   * @param runName The name of the WorkflowRun
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workflowName: string,
    runName: string,
    nextLink: string,
    options?: WorkflowRunsListNextOptionalParams,
  ): Promise<WorkflowRunsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, runName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowRun,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.runName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const cancelOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/cancel",
  httpMethod: "POST",
  responses: {
    200: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.runName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/{runName}/runs",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowRunListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.top, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.runName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowRunListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName,
    Parameters.runName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
