/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { WorkflowRunsOperations } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { LogicManagementClient } from "../logicManagementClient.js";
import {
  WorkflowRun,
  WorkflowRunsOperationsListNextOptionalParams,
  WorkflowRunsOperationsListOptionalParams,
  WorkflowRunsOperationsListResponse,
  WorkflowRunsOperationsListNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing WorkflowRunsOperations operations. */
export class WorkflowRunsOperationsImpl implements WorkflowRunsOperations {
  private readonly client: LogicManagementClient;

  /**
   * Initialize a new instance of the class WorkflowRunsOperations class.
   * @param client Reference to the service client
   */
  constructor(client: LogicManagementClient) {
    this.client = client;
  }

  /**
   * Gets a list of workflow runs.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workflowName The workflow name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workflowName: string,
    options?: WorkflowRunsOperationsListOptionalParams,
  ): PagedAsyncIterableIterator<WorkflowRun> {
    const iter = this.listPagingAll(resourceGroupName, workflowName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          workflowName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workflowName: string,
    options?: WorkflowRunsOperationsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<WorkflowRun[]> {
    let result: WorkflowRunsOperationsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(resourceGroupName, workflowName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workflowName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workflowName: string,
    options?: WorkflowRunsOperationsListOptionalParams,
  ): AsyncIterableIterator<WorkflowRun> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workflowName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of workflow runs.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workflowName The workflow name.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workflowName: string,
    options?: WorkflowRunsOperationsListOptionalParams,
  ): Promise<WorkflowRunsOperationsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workflowName The workflow name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workflowName: string,
    nextLink: string,
    options?: WorkflowRunsOperationsListNextOptionalParams,
  ): Promise<WorkflowRunsOperationsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workflowName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Logic/workflows/{workflowName}/runs/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/{workflowName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowRunListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.top, Parameters.filter],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WorkflowRunListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workflowName1,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
