/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { AvailableInplaceUpgradeOS } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { TestBase } from "../testBase";
import {
  AvailableInplaceUpgradeOSResource,
  AvailableInplaceUpgradeOSListNextOptionalParams,
  OsUpdateType,
  AvailableInplaceUpgradeOSListOptionalParams,
  AvailableInplaceUpgradeOSListResponse,
  AvailableInplaceUpgradeOSGetOptionalParams,
  AvailableInplaceUpgradeOSGetResponse,
  AvailableInplaceUpgradeOSListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AvailableInplaceUpgradeOS operations. */
export class AvailableInplaceUpgradeOSImpl
  implements AvailableInplaceUpgradeOS {
  private readonly client: TestBase;

  /**
   * Initialize a new instance of the class AvailableInplaceUpgradeOS class.
   * @param client Reference to the service client
   */
  constructor(client: TestBase) {
    this.client = client;
  }

  /**
   * Lists all the available In-place Upgrade OSs to a package under a Test Base Account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param osUpdateType The type of the OS Update.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    testBaseAccountName: string,
    osUpdateType: OsUpdateType,
    options?: AvailableInplaceUpgradeOSListOptionalParams
  ): PagedAsyncIterableIterator<AvailableInplaceUpgradeOSResource> {
    const iter = this.listPagingAll(
      resourceGroupName,
      testBaseAccountName,
      osUpdateType,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          testBaseAccountName,
          osUpdateType,
          options,
          settings
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    testBaseAccountName: string,
    osUpdateType: OsUpdateType,
    options?: AvailableInplaceUpgradeOSListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<AvailableInplaceUpgradeOSResource[]> {
    let result: AvailableInplaceUpgradeOSListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        testBaseAccountName,
        osUpdateType,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        testBaseAccountName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    testBaseAccountName: string,
    osUpdateType: OsUpdateType,
    options?: AvailableInplaceUpgradeOSListOptionalParams
  ): AsyncIterableIterator<AvailableInplaceUpgradeOSResource> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      testBaseAccountName,
      osUpdateType,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Lists all the available In-place Upgrade OSs to a package under a Test Base Account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param osUpdateType The type of the OS Update.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    testBaseAccountName: string,
    osUpdateType: OsUpdateType,
    options?: AvailableInplaceUpgradeOSListOptionalParams
  ): Promise<AvailableInplaceUpgradeOSListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, testBaseAccountName, osUpdateType, options },
      listOperationSpec
    );
  }

  /**
   * Gets an available In-place Upgrade OS to run a package under a Test Base Account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param availableInplaceUpgradeOSResourceName The resource name of an Available In-place Upgrade OS.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    testBaseAccountName: string,
    availableInplaceUpgradeOSResourceName: string,
    options?: AvailableInplaceUpgradeOSGetOptionalParams
  ): Promise<AvailableInplaceUpgradeOSGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        testBaseAccountName,
        availableInplaceUpgradeOSResourceName,
        options
      },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    testBaseAccountName: string,
    nextLink: string,
    options?: AvailableInplaceUpgradeOSListNextOptionalParams
  ): Promise<AvailableInplaceUpgradeOSListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, testBaseAccountName, nextLink, options },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/availableInplaceUpgradeOSs",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvailableInplaceUpgradeOSListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion, Parameters.osUpdateType],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/availableInplaceUpgradeOSs/{availableInplaceUpgradeOSResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvailableInplaceUpgradeOSResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.availableInplaceUpgradeOSResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvailableInplaceUpgradeOSListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.nextLink
  ],
  headerParameters: [Parameters.accept],
  serializer
};
