/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { ChatSession } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { TestBase } from "../testBase";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  ChatRequest,
  ChatSessionChatOptionalParams,
  ChatSessionChatResponse
} from "../models";

/** Class containing ChatSession operations. */
export class ChatSessionImpl implements ChatSession {
  private readonly client: TestBase;

  /**
   * Initialize a new instance of the class ChatSession class.
   * @param client Reference to the service client
   */
  constructor(client: TestBase) {
    this.client = client;
  }

  /**
   * Start a new chat turn. Ask a question and see the answer in response.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param chatSessionName The chat session name.
   * @param parameters Payload to ask a question.
   * @param options The options parameters.
   */
  async beginChat(
    resourceGroupName: string,
    testBaseAccountName: string,
    chatSessionName: string,
    parameters: ChatRequest,
    options?: ChatSessionChatOptionalParams
  ): Promise<
    SimplePollerLike<
      OperationState<ChatSessionChatResponse>,
      ChatSessionChatResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ): Promise<ChatSessionChatResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec
    ) => {
      let currentRawResponse:
        | coreClient.FullOperationResponse
        | undefined = undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback
        }
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON()
        }
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: {
        resourceGroupName,
        testBaseAccountName,
        chatSessionName,
        parameters,
        options
      },
      spec: chatOperationSpec
    });
    const poller = await createHttpPoller<
      ChatSessionChatResponse,
      OperationState<ChatSessionChatResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "location"
    });
    await poller.poll();
    return poller;
  }

  /**
   * Start a new chat turn. Ask a question and see the answer in response.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param chatSessionName The chat session name.
   * @param parameters Payload to ask a question.
   * @param options The options parameters.
   */
  async beginChatAndWait(
    resourceGroupName: string,
    testBaseAccountName: string,
    chatSessionName: string,
    parameters: ChatRequest,
    options?: ChatSessionChatOptionalParams
  ): Promise<ChatSessionChatResponse> {
    const poller = await this.beginChat(
      resourceGroupName,
      testBaseAccountName,
      chatSessionName,
      parameters,
      options
    );
    return poller.pollUntilDone();
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const chatOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/chatSessions/{chatSessionName}/chat",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ChatResponse
    },
    201: {
      bodyMapper: Mappers.ChatResponse
    },
    202: {
      bodyMapper: Mappers.ChatResponse
    },
    204: {
      bodyMapper: Mappers.ChatResponse
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  requestBody: Parameters.parameters,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.chatSessionName
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer
};
