/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { GalleryAppSkus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { TestBase } from "../testBase";
import {
  GalleryAppSkuResource,
  GalleryAppSkusListNextOptionalParams,
  GalleryAppSkusListOptionalParams,
  GalleryAppSkusListResponse,
  GalleryAppSkusGetOptionalParams,
  GalleryAppSkusGetResponse,
  GalleryAppSkusListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing GalleryAppSkus operations. */
export class GalleryAppSkusImpl implements GalleryAppSkus {
  private readonly client: TestBase;

  /**
   * Initialize a new instance of the class GalleryAppSkus class.
   * @param client Reference to the service client
   */
  constructor(client: TestBase) {
    this.client = client;
  }

  /**
   * Lists all SKUs of a gallery application currently available for test runs under a Test Base account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param galleryAppName The resource name of a gallery application.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    testBaseAccountName: string,
    galleryAppName: string,
    options?: GalleryAppSkusListOptionalParams
  ): PagedAsyncIterableIterator<GalleryAppSkuResource> {
    const iter = this.listPagingAll(
      resourceGroupName,
      testBaseAccountName,
      galleryAppName,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          testBaseAccountName,
          galleryAppName,
          options,
          settings
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    testBaseAccountName: string,
    galleryAppName: string,
    options?: GalleryAppSkusListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<GalleryAppSkuResource[]> {
    let result: GalleryAppSkusListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        testBaseAccountName,
        galleryAppName,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        testBaseAccountName,
        galleryAppName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    testBaseAccountName: string,
    galleryAppName: string,
    options?: GalleryAppSkusListOptionalParams
  ): AsyncIterableIterator<GalleryAppSkuResource> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      testBaseAccountName,
      galleryAppName,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Lists all SKUs of a gallery application currently available for test runs under a Test Base account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param galleryAppName The resource name of a gallery application.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    testBaseAccountName: string,
    galleryAppName: string,
    options?: GalleryAppSkusListOptionalParams
  ): Promise<GalleryAppSkusListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, testBaseAccountName, galleryAppName, options },
      listOperationSpec
    );
  }

  /**
   * Gets a gallery application SKU for test runs under a Test Base account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param galleryAppName The resource name of a gallery application.
   * @param galleryAppSkuName The resource name of a gallery application SKU.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    testBaseAccountName: string,
    galleryAppName: string,
    galleryAppSkuName: string,
    options?: GalleryAppSkusGetOptionalParams
  ): Promise<GalleryAppSkusGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        testBaseAccountName,
        galleryAppName,
        galleryAppSkuName,
        options
      },
      getOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param galleryAppName The resource name of a gallery application.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    testBaseAccountName: string,
    galleryAppName: string,
    nextLink: string,
    options?: GalleryAppSkusListNextOptionalParams
  ): Promise<GalleryAppSkusListNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        testBaseAccountName,
        galleryAppName,
        nextLink,
        options
      },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/galleryApps/{galleryAppName}/galleryAppSkus",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GalleryAppSkuListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.galleryAppName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/galleryApps/{galleryAppName}/galleryAppSkus/{galleryAppSkuName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GalleryAppSkuResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.galleryAppName,
    Parameters.galleryAppSkuName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.GalleryAppSkuListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.nextLink,
    Parameters.galleryAppName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
