/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { TestBaseAccountAvailableOS } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RestAPIForTestBase } from "../restAPIForTestBase";
import {
  TestBaseAccountAvailableOSGetOptionalParams,
  TestBaseAccountAvailableOSGetResponse
} from "../models";

/** Class containing TestBaseAccountAvailableOS operations. */
export class TestBaseAccountAvailableOSImpl
  implements TestBaseAccountAvailableOS {
  private readonly client: RestAPIForTestBase;

  /**
   * Initialize a new instance of the class TestBaseAccountAvailableOS class.
   * @param client Reference to the service client
   */
  constructor(client: RestAPIForTestBase) {
    this.client = client;
  }

  /**
   * Gets an available OS to run a package under a Test Base Account.
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param availableOSResourceName The resource name of an Available OS.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    testBaseAccountName: string,
    availableOSResourceName: string,
    options?: TestBaseAccountAvailableOSGetOptionalParams
  ): Promise<TestBaseAccountAvailableOSGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        testBaseAccountName,
        availableOSResourceName,
        options
      },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/availableOSs/{availableOSResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AvailableOSResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.availableOSResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
