/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { TestResults } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RestAPIForTestBase } from "../restAPIForTestBase";
import {
  TestResultResource,
  TestResultsListNextOptionalParams,
  OsUpdateType,
  TestResultsListOptionalParams,
  TestResultsListResponse,
  TestResultsListNextResponse
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing TestResults operations. */
export class TestResultsImpl implements TestResults {
  private readonly client: RestAPIForTestBase;

  /**
   * Initialize a new instance of the class TestResults class.
   * @param client Reference to the service client
   */
  constructor(client: RestAPIForTestBase) {
    this.client = client;
  }

  /**
   * Lists all the Test Results with specified OS Update type for a Test Base Package. Can be filtered by
   * osName, releaseName, flightingRing, buildVersion, buildRevision.
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param packageName The resource name of the Test Base Package.
   * @param osUpdateType The type of the OS Update.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    testBaseAccountName: string,
    packageName: string,
    osUpdateType: OsUpdateType,
    options?: TestResultsListOptionalParams
  ): PagedAsyncIterableIterator<TestResultResource> {
    const iter = this.listPagingAll(
      resourceGroupName,
      testBaseAccountName,
      packageName,
      osUpdateType,
      options
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          testBaseAccountName,
          packageName,
          osUpdateType,
          options,
          settings
        );
      }
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    testBaseAccountName: string,
    packageName: string,
    osUpdateType: OsUpdateType,
    options?: TestResultsListOptionalParams,
    settings?: PageSettings
  ): AsyncIterableIterator<TestResultResource[]> {
    let result: TestResultsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        testBaseAccountName,
        packageName,
        osUpdateType,
        options
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        testBaseAccountName,
        packageName,
        continuationToken,
        options
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    testBaseAccountName: string,
    packageName: string,
    osUpdateType: OsUpdateType,
    options?: TestResultsListOptionalParams
  ): AsyncIterableIterator<TestResultResource> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      testBaseAccountName,
      packageName,
      osUpdateType,
      options
    )) {
      yield* page;
    }
  }

  /**
   * Lists all the Test Results with specified OS Update type for a Test Base Package. Can be filtered by
   * osName, releaseName, flightingRing, buildVersion, buildRevision.
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param packageName The resource name of the Test Base Package.
   * @param osUpdateType The type of the OS Update.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    testBaseAccountName: string,
    packageName: string,
    osUpdateType: OsUpdateType,
    options?: TestResultsListOptionalParams
  ): Promise<TestResultsListResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        testBaseAccountName,
        packageName,
        osUpdateType,
        options
      },
      listOperationSpec
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param packageName The resource name of the Test Base Package.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    testBaseAccountName: string,
    packageName: string,
    nextLink: string,
    options?: TestResultsListNextOptionalParams
  ): Promise<TestResultsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        testBaseAccountName,
        packageName,
        nextLink,
        options
      },
      listNextOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/packages/{packageName}/testResults",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TestResultListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.filter,
    Parameters.osUpdateType
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.packageName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TestResultListResult
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.packageName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
