/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { TestSummary } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RestAPIForTestBase } from "../restAPIForTestBase";
import {
  TestSummaryGetOptionalParams,
  TestSummaryGetResponse
} from "../models";

/** Class containing TestSummary operations. */
export class TestSummaryImpl implements TestSummary {
  private readonly client: RestAPIForTestBase;

  /**
   * Initialize a new instance of the class TestSummary class.
   * @param client Reference to the service client
   */
  constructor(client: RestAPIForTestBase) {
    this.client = client;
  }

  /**
   * Gets a Test Summary with specific name from all the Test Summaries of all the packages under a Test
   * Base Account.
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param testSummaryName The name of the Test Summary.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    testBaseAccountName: string,
    testSummaryName: string,
    options?: TestSummaryGetOptionalParams
  ): Promise<TestSummaryGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, testBaseAccountName, testSummaryName, options },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/testSummaries/{testSummaryName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TestSummaryResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.testSummaryName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
