/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { TestBaseAccountFlightingRing } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RestAPIForTestBase } from "../restAPIForTestBase";
import {
  TestBaseAccountFlightingRingGetOptionalParams,
  TestBaseAccountFlightingRingGetResponse
} from "../models";

/** Class containing TestBaseAccountFlightingRing operations. */
export class TestBaseAccountFlightingRingImpl
  implements TestBaseAccountFlightingRing {
  private readonly client: RestAPIForTestBase;

  /**
   * Initialize a new instance of the class TestBaseAccountFlightingRing class.
   * @param client Reference to the service client
   */
  constructor(client: RestAPIForTestBase) {
    this.client = client;
  }

  /**
   * Gets a flighting ring of a Test Base Account.
   * @param resourceGroupName The name of the resource group that contains the resource.
   * @param testBaseAccountName The resource name of the Test Base Account.
   * @param flightingRingResourceName The resource name of a flighting ring.
   * @param options The options parameters.
   */
  get(
    resourceGroupName: string,
    testBaseAccountName: string,
    flightingRingResourceName: string,
    options?: TestBaseAccountFlightingRingGetOptionalParams
  ): Promise<TestBaseAccountFlightingRingGetResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        testBaseAccountName,
        flightingRingResourceName,
        options
      },
      getOperationSpec
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path:
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.TestBase/testBaseAccounts/{testBaseAccountName}/flightingRings/{flightingRingResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.FlightingRingResource
    },
    default: {
      bodyMapper: Mappers.ErrorResponse
    }
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.testBaseAccountName,
    Parameters.flightingRingResourceName
  ],
  headerParameters: [Parameters.accept],
  serializer
};
