/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { AttestationStatuses } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftAzureStackHCI } from "../microsoftAzureStackHCI";
import {
  AttestationStatusesGetOptionalParams,
  AttestationStatusesGetResponse,
} from "../models";

/** Class containing AttestationStatuses operations. */
export class AttestationStatusesImpl implements AttestationStatuses {
  private readonly client: MicrosoftAzureStackHCI;

  /**
   * Initialize a new instance of the class AttestationStatuses class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftAzureStackHCI) {
    this.client = client;
  }

  /**
   * Implements AttestationStatus GET method.
   * @param resourceUri The fully qualified Azure Resource manager identifier of the resource.
   * @param options The options parameters.
   */
  get(
    resourceUri: string,
    options?: AttestationStatusesGetOptionalParams,
  ): Promise<AttestationStatusesGetResponse> {
    return this.client.sendOperationRequest(
      { resourceUri, options },
      getOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/{resourceUri}/providers/Microsoft.AzureStackHCI/virtualMachineInstances/default/attestationStatus/default",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AttestationStatus,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.resourceUri],
  headerParameters: [Parameters.accept],
  serializer,
};
