/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { ConnectionRaiBlocklistItems } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMachineLearningServices } from "../azureMachineLearningServices";
import {
  RaiBlocklistItemPropertiesBasicResource,
  ConnectionRaiBlocklistItemsListNextOptionalParams,
  ConnectionRaiBlocklistItemsListOptionalParams,
  ConnectionRaiBlocklistItemsListResponse,
  ConnectionRaiBlocklistItemsListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing ConnectionRaiBlocklistItems operations. */
export class ConnectionRaiBlocklistItemsImpl
  implements ConnectionRaiBlocklistItems
{
  private readonly client: AzureMachineLearningServices;

  /**
   * Initialize a new instance of the class ConnectionRaiBlocklistItems class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMachineLearningServices) {
    this.client = client;
  }

  /**
   * Gets the custom blocklist items associated with the Azure OpenAI connection.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName Azure Machine Learning Workspace Name
   * @param connectionName Friendly name of the workspace connection
   * @param raiBlocklistName The name of the RaiBlocklist.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workspaceName: string,
    connectionName: string,
    raiBlocklistName: string,
    options?: ConnectionRaiBlocklistItemsListOptionalParams,
  ): PagedAsyncIterableIterator<RaiBlocklistItemPropertiesBasicResource> {
    const iter = this.listPagingAll(
      resourceGroupName,
      workspaceName,
      connectionName,
      raiBlocklistName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          workspaceName,
          connectionName,
          raiBlocklistName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workspaceName: string,
    connectionName: string,
    raiBlocklistName: string,
    options?: ConnectionRaiBlocklistItemsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<RaiBlocklistItemPropertiesBasicResource[]> {
    let result: ConnectionRaiBlocklistItemsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        workspaceName,
        connectionName,
        raiBlocklistName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workspaceName,
        connectionName,
        raiBlocklistName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workspaceName: string,
    connectionName: string,
    raiBlocklistName: string,
    options?: ConnectionRaiBlocklistItemsListOptionalParams,
  ): AsyncIterableIterator<RaiBlocklistItemPropertiesBasicResource> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workspaceName,
      connectionName,
      raiBlocklistName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets the custom blocklist items associated with the Azure OpenAI connection.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName Azure Machine Learning Workspace Name
   * @param connectionName Friendly name of the workspace connection
   * @param raiBlocklistName The name of the RaiBlocklist.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workspaceName: string,
    connectionName: string,
    raiBlocklistName: string,
    options?: ConnectionRaiBlocklistItemsListOptionalParams,
  ): Promise<ConnectionRaiBlocklistItemsListResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        connectionName,
        raiBlocklistName,
        options,
      },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName Azure Machine Learning Workspace Name
   * @param connectionName Friendly name of the workspace connection
   * @param raiBlocklistName The name of the RaiBlocklist.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workspaceName: string,
    connectionName: string,
    raiBlocklistName: string,
    nextLink: string,
    options?: ConnectionRaiBlocklistItemsListNextOptionalParams,
  ): Promise<ConnectionRaiBlocklistItemsListNextResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        workspaceName,
        connectionName,
        raiBlocklistName,
        nextLink,
        options,
      },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/connections/{connectionName}/raiBlocklists/{raiBlocklistName}/raiBlocklistItems",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper:
        Mappers.RaiBlocklistItemPropertiesBasicResourceArmPaginatedResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.connectionName,
    Parameters.raiBlocklistName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper:
        Mappers.RaiBlocklistItemPropertiesBasicResourceArmPaginatedResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.connectionName,
    Parameters.raiBlocklistName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
