/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { RaiPolicies } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { AzureMachineLearningServices } from "../azureMachineLearningServices";
import {
  RaiPolicyPropertiesBasicResource,
  RaiPoliciesListNextOptionalParams,
  RaiPoliciesListOptionalParams,
  RaiPoliciesListResponse,
  RaiPoliciesListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing RaiPolicies operations. */
export class RaiPoliciesImpl implements RaiPolicies {
  private readonly client: AzureMachineLearningServices;

  /**
   * Initialize a new instance of the class RaiPolicies class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMachineLearningServices) {
    this.client = client;
  }

  /**
   * List the specified Content Filters associated with the Azure OpenAI account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName Azure Machine Learning Workspace Name
   * @param endpointName Name of the endpoint resource.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    workspaceName: string,
    endpointName: string,
    options?: RaiPoliciesListOptionalParams,
  ): PagedAsyncIterableIterator<RaiPolicyPropertiesBasicResource> {
    const iter = this.listPagingAll(
      resourceGroupName,
      workspaceName,
      endpointName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          workspaceName,
          endpointName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    workspaceName: string,
    endpointName: string,
    options?: RaiPoliciesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<RaiPolicyPropertiesBasicResource[]> {
    let result: RaiPoliciesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        workspaceName,
        endpointName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        workspaceName,
        endpointName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    workspaceName: string,
    endpointName: string,
    options?: RaiPoliciesListOptionalParams,
  ): AsyncIterableIterator<RaiPolicyPropertiesBasicResource> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      workspaceName,
      endpointName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * List the specified Content Filters associated with the Azure OpenAI account.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName Azure Machine Learning Workspace Name
   * @param endpointName Name of the endpoint resource.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    workspaceName: string,
    endpointName: string,
    options?: RaiPoliciesListOptionalParams,
  ): Promise<RaiPoliciesListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, endpointName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param workspaceName Azure Machine Learning Workspace Name
   * @param endpointName Name of the endpoint resource.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    workspaceName: string,
    endpointName: string,
    nextLink: string,
    options?: RaiPoliciesListNextOptionalParams,
  ): Promise<RaiPoliciesListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, workspaceName, endpointName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.MachineLearningServices/workspaces/{workspaceName}/endpoints/{endpointName}/raiPolicies",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RaiPolicyPropertiesBasicResourceArmPaginatedResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.endpointName2,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.RaiPolicyPropertiesBasicResourceArmPaginatedResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.nextLink,
    Parameters.resourceGroupName,
    Parameters.workspaceName,
    Parameters.endpointName2,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
