/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { TopologyImpacts } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftImpact } from "../microsoftImpact";
import {
  SimplePollerLike,
  OperationState,
  createHttpPoller,
} from "@azure/core-lro";
import { createLroSpec } from "../lroImpl";
import {
  TopologyImpact,
  TopologyImpactsListBySubscriptionNextOptionalParams,
  TopologyImpactsListBySubscriptionOptionalParams,
  TopologyImpactsListBySubscriptionResponse,
  TopologyImpactsGetOptionalParams,
  TopologyImpactsGetResponse,
  TopologyImpactsCreateOptionalParams,
  TopologyImpactsCreateResponse,
  TopologyImpactsDeleteOptionalParams,
  TopologyImpactsListBySubscriptionNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing TopologyImpacts operations. */
export class TopologyImpactsImpl implements TopologyImpacts {
  private readonly client: MicrosoftImpact;

  /**
   * Initialize a new instance of the class TopologyImpacts class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftImpact) {
    this.client = client;
  }

  /**
   * List TopologyImpact resources by subscription ID
   * @param options The options parameters.
   */
  public listBySubscription(
    options?: TopologyImpactsListBySubscriptionOptionalParams,
  ): PagedAsyncIterableIterator<TopologyImpact> {
    const iter = this.listBySubscriptionPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listBySubscriptionPagingPage(options, settings);
      },
    };
  }

  private async *listBySubscriptionPagingPage(
    options?: TopologyImpactsListBySubscriptionOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<TopologyImpact[]> {
    let result: TopologyImpactsListBySubscriptionResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listBySubscription(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listBySubscriptionNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listBySubscriptionPagingAll(
    options?: TopologyImpactsListBySubscriptionOptionalParams,
  ): AsyncIterableIterator<TopologyImpact> {
    for await (const page of this.listBySubscriptionPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * List TopologyImpact resources by subscription ID
   * @param options The options parameters.
   */
  private _listBySubscription(
    options?: TopologyImpactsListBySubscriptionOptionalParams,
  ): Promise<TopologyImpactsListBySubscriptionResponse> {
    return this.client.sendOperationRequest(
      { options },
      listBySubscriptionOperationSpec,
    );
  }

  /**
   * Get a TopologyImpact
   * @param topologyImpactName topologyImpact resource
   * @param options The options parameters.
   */
  get(
    topologyImpactName: string,
    options?: TopologyImpactsGetOptionalParams,
  ): Promise<TopologyImpactsGetResponse> {
    return this.client.sendOperationRequest(
      { topologyImpactName, options },
      getOperationSpec,
    );
  }

  /**
   * Create a TopologyImpact
   * @param topologyImpactName topologyImpact resource
   * @param resource Resource create parameters.
   * @param options The options parameters.
   */
  async beginCreate(
    topologyImpactName: string,
    resource: TopologyImpact,
    options?: TopologyImpactsCreateOptionalParams,
  ): Promise<
    SimplePollerLike<
      OperationState<TopologyImpactsCreateResponse>,
      TopologyImpactsCreateResponse
    >
  > {
    const directSendOperation = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ): Promise<TopologyImpactsCreateResponse> => {
      return this.client.sendOperationRequest(args, spec);
    };
    const sendOperationFn = async (
      args: coreClient.OperationArguments,
      spec: coreClient.OperationSpec,
    ) => {
      let currentRawResponse: coreClient.FullOperationResponse | undefined =
        undefined;
      const providedCallback = args.options?.onResponse;
      const callback: coreClient.RawResponseCallback = (
        rawResponse: coreClient.FullOperationResponse,
        flatResponse: unknown,
      ) => {
        currentRawResponse = rawResponse;
        providedCallback?.(rawResponse, flatResponse);
      };
      const updatedArgs = {
        ...args,
        options: {
          ...args.options,
          onResponse: callback,
        },
      };
      const flatResponse = await directSendOperation(updatedArgs, spec);
      return {
        flatResponse,
        rawResponse: {
          statusCode: currentRawResponse!.status,
          body: currentRawResponse!.parsedBody,
          headers: currentRawResponse!.headers.toJSON(),
        },
      };
    };

    const lro = createLroSpec({
      sendOperationFn,
      args: { topologyImpactName, resource, options },
      spec: createOperationSpec,
    });
    const poller = await createHttpPoller<
      TopologyImpactsCreateResponse,
      OperationState<TopologyImpactsCreateResponse>
    >(lro, {
      restoreFrom: options?.resumeFrom,
      intervalInMs: options?.updateIntervalInMs,
      resourceLocationConfig: "azure-async-operation",
    });
    await poller.poll();
    return poller;
  }

  /**
   * Create a TopologyImpact
   * @param topologyImpactName topologyImpact resource
   * @param resource Resource create parameters.
   * @param options The options parameters.
   */
  async beginCreateAndWait(
    topologyImpactName: string,
    resource: TopologyImpact,
    options?: TopologyImpactsCreateOptionalParams,
  ): Promise<TopologyImpactsCreateResponse> {
    const poller = await this.beginCreate(
      topologyImpactName,
      resource,
      options,
    );
    return poller.pollUntilDone();
  }

  /**
   * Delete a TopologyImpact
   * @param topologyImpactName topologyImpact resource
   * @param options The options parameters.
   */
  delete(
    topologyImpactName: string,
    options?: TopologyImpactsDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { topologyImpactName, options },
      deleteOperationSpec,
    );
  }

  /**
   * ListBySubscriptionNext
   * @param nextLink The nextLink from the previous successful call to the ListBySubscription method.
   * @param options The options parameters.
   */
  private _listBySubscriptionNext(
    nextLink: string,
    options?: TopologyImpactsListBySubscriptionNextOptionalParams,
  ): Promise<TopologyImpactsListBySubscriptionNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listBySubscriptionNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listBySubscriptionOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/topologyImpacts",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TopologyImpactListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/topologyImpacts/{topologyImpactName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TopologyImpact,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.topologyImpactName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/topologyImpacts/{topologyImpactName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.TopologyImpact,
    },
    201: {
      bodyMapper: Mappers.TopologyImpact,
    },
    202: {
      bodyMapper: Mappers.TopologyImpact,
    },
    204: {
      bodyMapper: Mappers.TopologyImpact,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.resource1,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.topologyImpactName,
  ],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Impact/topologyImpacts/{topologyImpactName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.topologyImpactName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listBySubscriptionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TopologyImpactListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
