/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { DatabasesController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateV2 } from "../azureMigrateV2.js";
import {
  Database,
  DatabasesControllerListDatabasesNextOptionalParams,
  DatabasesControllerListDatabasesOptionalParams,
  DatabasesControllerListDatabasesResponse,
  DatabasesControllerGetDatabaseOptionalParams,
  DatabasesControllerGetDatabaseResponse,
  DatabasesControllerListDatabasesNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing DatabasesController operations. */
export class DatabasesControllerImpl implements DatabasesController {
  private readonly client: AzureMigrateV2;

  /**
   * Initialize a new instance of the class DatabasesController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateV2) {
    this.client = client;
  }

  /**
   * Gets a list of databases in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  public listDatabases(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: DatabasesControllerListDatabasesOptionalParams,
  ): PagedAsyncIterableIterator<Database> {
    const iter = this.listDatabasesPagingAll(
      resourceGroupName,
      migrateProjectName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listDatabasesPagingPage(
          resourceGroupName,
          migrateProjectName,
          options,
          settings,
        );
      },
    };
  }

  private async *listDatabasesPagingPage(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: DatabasesControllerListDatabasesOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<Database[]> {
    let result: DatabasesControllerListDatabasesResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listDatabases(
        resourceGroupName,
        migrateProjectName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listDatabasesNext(
        resourceGroupName,
        migrateProjectName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listDatabasesPagingAll(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: DatabasesControllerListDatabasesOptionalParams,
  ): AsyncIterableIterator<Database> {
    for await (const page of this.listDatabasesPagingPage(
      resourceGroupName,
      migrateProjectName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of databases in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  private _listDatabases(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: DatabasesControllerListDatabasesOptionalParams,
  ): Promise<DatabasesControllerListDatabasesResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, options },
      listDatabasesOperationSpec,
    );
  }

  /**
   * Gets a database in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param databaseName Unique name of a database in Azure migration hub.
   * @param options The options parameters.
   */
  getDatabase(
    resourceGroupName: string,
    migrateProjectName: string,
    databaseName: string,
    options?: DatabasesControllerGetDatabaseOptionalParams,
  ): Promise<DatabasesControllerGetDatabaseResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, databaseName, options },
      getDatabaseOperationSpec,
    );
  }

  /**
   * ListDatabasesNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param nextLink The nextLink from the previous successful call to the ListDatabases method.
   * @param options The options parameters.
   */
  private _listDatabasesNext(
    resourceGroupName: string,
    migrateProjectName: string,
    nextLink: string,
    options?: DatabasesControllerListDatabasesNextOptionalParams,
  ): Promise<DatabasesControllerListDatabasesNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, nextLink, options },
      listDatabasesNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listDatabasesOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DatabaseCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.continuationToken,
    Parameters.pageSize,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getDatabaseOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databases/{databaseName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Database,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.databaseName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listDatabasesNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DatabaseCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
