/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { DatabaseInstancesController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateV2 } from "../azureMigrateV2.js";
import {
  DatabaseInstance,
  DatabaseInstancesControllerListDatabaseInstancesNextOptionalParams,
  DatabaseInstancesControllerListDatabaseInstancesOptionalParams,
  DatabaseInstancesControllerListDatabaseInstancesResponse,
  DatabaseInstancesControllerGetDatabaseInstanceOptionalParams,
  DatabaseInstancesControllerGetDatabaseInstanceResponse,
  DatabaseInstancesControllerListDatabaseInstancesNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing DatabaseInstancesController operations. */
export class DatabaseInstancesControllerImpl
  implements DatabaseInstancesController
{
  private readonly client: AzureMigrateV2;

  /**
   * Initialize a new instance of the class DatabaseInstancesController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateV2) {
    this.client = client;
  }

  /**
   * Gets a list of database instances in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  public listDatabaseInstances(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: DatabaseInstancesControllerListDatabaseInstancesOptionalParams,
  ): PagedAsyncIterableIterator<DatabaseInstance> {
    const iter = this.listDatabaseInstancesPagingAll(
      resourceGroupName,
      migrateProjectName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listDatabaseInstancesPagingPage(
          resourceGroupName,
          migrateProjectName,
          options,
          settings,
        );
      },
    };
  }

  private async *listDatabaseInstancesPagingPage(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: DatabaseInstancesControllerListDatabaseInstancesOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<DatabaseInstance[]> {
    let result: DatabaseInstancesControllerListDatabaseInstancesResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listDatabaseInstances(
        resourceGroupName,
        migrateProjectName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listDatabaseInstancesNext(
        resourceGroupName,
        migrateProjectName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listDatabaseInstancesPagingAll(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: DatabaseInstancesControllerListDatabaseInstancesOptionalParams,
  ): AsyncIterableIterator<DatabaseInstance> {
    for await (const page of this.listDatabaseInstancesPagingPage(
      resourceGroupName,
      migrateProjectName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of database instances in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  private _listDatabaseInstances(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: DatabaseInstancesControllerListDatabaseInstancesOptionalParams,
  ): Promise<DatabaseInstancesControllerListDatabaseInstancesResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, options },
      listDatabaseInstancesOperationSpec,
    );
  }

  /**
   * Gets a database instance in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param databaseInstanceName Unique name of a database instance in Azure migration hub.
   * @param options The options parameters.
   */
  getDatabaseInstance(
    resourceGroupName: string,
    migrateProjectName: string,
    databaseInstanceName: string,
    options?: DatabaseInstancesControllerGetDatabaseInstanceOptionalParams,
  ): Promise<DatabaseInstancesControllerGetDatabaseInstanceResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, databaseInstanceName, options },
      getDatabaseInstanceOperationSpec,
    );
  }

  /**
   * ListDatabaseInstancesNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param nextLink The nextLink from the previous successful call to the ListDatabaseInstances method.
   * @param options The options parameters.
   */
  private _listDatabaseInstancesNext(
    resourceGroupName: string,
    migrateProjectName: string,
    nextLink: string,
    options?: DatabaseInstancesControllerListDatabaseInstancesNextOptionalParams,
  ): Promise<DatabaseInstancesControllerListDatabaseInstancesNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, nextLink, options },
      listDatabaseInstancesNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listDatabaseInstancesOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DatabaseInstanceCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.continuationToken,
    Parameters.pageSize,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getDatabaseInstanceOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/databaseInstances/{databaseInstanceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DatabaseInstance,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.databaseInstanceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listDatabaseInstancesNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.DatabaseInstanceCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
