/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { MachinesController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateV2 } from "../azureMigrateV2.js";
import {
  Machine,
  MachinesControllerListMachinesNextOptionalParams,
  MachinesControllerListMachinesOptionalParams,
  MachinesControllerListMachinesResponse,
  MachinesControllerGetMachineOptionalParams,
  MachinesControllerGetMachineResponse,
  MachinesControllerListMachinesNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing MachinesController operations. */
export class MachinesControllerImpl implements MachinesController {
  private readonly client: AzureMigrateV2;

  /**
   * Initialize a new instance of the class MachinesController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateV2) {
    this.client = client;
  }

  /**
   * Gets a list of machines in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  public listMachines(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: MachinesControllerListMachinesOptionalParams,
  ): PagedAsyncIterableIterator<Machine> {
    const iter = this.listMachinesPagingAll(
      resourceGroupName,
      migrateProjectName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listMachinesPagingPage(
          resourceGroupName,
          migrateProjectName,
          options,
          settings,
        );
      },
    };
  }

  private async *listMachinesPagingPage(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: MachinesControllerListMachinesOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<Machine[]> {
    let result: MachinesControllerListMachinesResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listMachines(
        resourceGroupName,
        migrateProjectName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listMachinesNext(
        resourceGroupName,
        migrateProjectName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listMachinesPagingAll(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: MachinesControllerListMachinesOptionalParams,
  ): AsyncIterableIterator<Machine> {
    for await (const page of this.listMachinesPagingPage(
      resourceGroupName,
      migrateProjectName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of machines in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  private _listMachines(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: MachinesControllerListMachinesOptionalParams,
  ): Promise<MachinesControllerListMachinesResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, options },
      listMachinesOperationSpec,
    );
  }

  /**
   * Gets a machine in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param machineName Unique name of a machine in Azure migration hub.
   * @param options The options parameters.
   */
  getMachine(
    resourceGroupName: string,
    migrateProjectName: string,
    machineName: string,
    options?: MachinesControllerGetMachineOptionalParams,
  ): Promise<MachinesControllerGetMachineResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, machineName, options },
      getMachineOperationSpec,
    );
  }

  /**
   * ListMachinesNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param nextLink The nextLink from the previous successful call to the ListMachines method.
   * @param options The options parameters.
   */
  private _listMachinesNext(
    resourceGroupName: string,
    migrateProjectName: string,
    nextLink: string,
    options?: MachinesControllerListMachinesNextOptionalParams,
  ): Promise<MachinesControllerListMachinesNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, nextLink, options },
      listMachinesNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listMachinesOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MachineCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.continuationToken,
    Parameters.pageSize,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getMachineOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/machines/{machineName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.Machine,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.machineName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listMachinesNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.MachineCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
