/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { PrivateLinkResourceController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateV2 } from "../azureMigrateV2.js";
import {
  PrivateLinkResource,
  PrivateLinkResourceControllerGetPrivateLinkResourcesNextOptionalParams,
  PrivateLinkResourceControllerGetPrivateLinkResourcesOptionalParams,
  PrivateLinkResourceControllerGetPrivateLinkResourcesResponse,
  PrivateLinkResourceControllerGetPrivateLinkResourceOptionalParams,
  PrivateLinkResourceControllerGetPrivateLinkResourceResponse,
  PrivateLinkResourceControllerGetPrivateLinkResourcesNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing PrivateLinkResourceController operations. */
export class PrivateLinkResourceControllerImpl
  implements PrivateLinkResourceController
{
  private readonly client: AzureMigrateV2;

  /**
   * Initialize a new instance of the class PrivateLinkResourceController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateV2) {
    this.client = client;
  }

  /**
   * Get the list of private link resources under a resource group and migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  public listPrivateLinkResources(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: PrivateLinkResourceControllerGetPrivateLinkResourcesOptionalParams,
  ): PagedAsyncIterableIterator<PrivateLinkResource> {
    const iter = this.getPrivateLinkResourcesPagingAll(
      resourceGroupName,
      migrateProjectName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.getPrivateLinkResourcesPagingPage(
          resourceGroupName,
          migrateProjectName,
          options,
          settings,
        );
      },
    };
  }

  private async *getPrivateLinkResourcesPagingPage(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: PrivateLinkResourceControllerGetPrivateLinkResourcesOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<PrivateLinkResource[]> {
    let result: PrivateLinkResourceControllerGetPrivateLinkResourcesResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._getPrivateLinkResources(
        resourceGroupName,
        migrateProjectName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._getPrivateLinkResourcesNext(
        resourceGroupName,
        migrateProjectName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *getPrivateLinkResourcesPagingAll(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: PrivateLinkResourceControllerGetPrivateLinkResourcesOptionalParams,
  ): AsyncIterableIterator<PrivateLinkResource> {
    for await (const page of this.getPrivateLinkResourcesPagingPage(
      resourceGroupName,
      migrateProjectName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get the private link resource with the specified name.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param privateLinkResourceName Private Link resource name.
   * @param options The options parameters.
   */
  getPrivateLinkResource(
    resourceGroupName: string,
    migrateProjectName: string,
    privateLinkResourceName: string,
    options?: PrivateLinkResourceControllerGetPrivateLinkResourceOptionalParams,
  ): Promise<PrivateLinkResourceControllerGetPrivateLinkResourceResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        migrateProjectName,
        privateLinkResourceName,
        options,
      },
      getPrivateLinkResourceOperationSpec,
    );
  }

  /**
   * Get the list of private link resources under a resource group and migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  private _getPrivateLinkResources(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: PrivateLinkResourceControllerGetPrivateLinkResourcesOptionalParams,
  ): Promise<PrivateLinkResourceControllerGetPrivateLinkResourcesResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, options },
      getPrivateLinkResourcesOperationSpec,
    );
  }

  /**
   * GetPrivateLinkResourcesNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param nextLink The nextLink from the previous successful call to the GetPrivateLinkResources
   *                 method.
   * @param options The options parameters.
   */
  private _getPrivateLinkResourcesNext(
    resourceGroupName: string,
    migrateProjectName: string,
    nextLink: string,
    options?: PrivateLinkResourceControllerGetPrivateLinkResourcesNextOptionalParams,
  ): Promise<PrivateLinkResourceControllerGetPrivateLinkResourcesNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, nextLink, options },
      getPrivateLinkResourcesNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getPrivateLinkResourceOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources/{privateLinkResourceName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResource,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.privateLinkResourceName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getPrivateLinkResourcesOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/privateLinkResources",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourceCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getPrivateLinkResourcesNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.PrivateLinkResourceCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
