/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { VirtualDesktopUserController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateV2 } from "../azureMigrateV2.js";
import {
  VirtualDesktopUser,
  VirtualDesktopUserControllerListVirtualDesktopUsersNextOptionalParams,
  VirtualDesktopUserControllerListVirtualDesktopUsersOptionalParams,
  VirtualDesktopUserControllerListVirtualDesktopUsersResponse,
  VirtualDesktopUserControllerGetVirtualDesktopUserOptionalParams,
  VirtualDesktopUserControllerGetVirtualDesktopUserResponse,
  VirtualDesktopUserControllerListVirtualDesktopUsersNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing VirtualDesktopUserController operations. */
export class VirtualDesktopUserControllerImpl
  implements VirtualDesktopUserController
{
  private readonly client: AzureMigrateV2;

  /**
   * Initialize a new instance of the class VirtualDesktopUserController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateV2) {
    this.client = client;
  }

  /**
   * Gets a list of virtual desktop users in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  public listVirtualDesktopUsers(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: VirtualDesktopUserControllerListVirtualDesktopUsersOptionalParams,
  ): PagedAsyncIterableIterator<VirtualDesktopUser> {
    const iter = this.listVirtualDesktopUsersPagingAll(
      resourceGroupName,
      migrateProjectName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listVirtualDesktopUsersPagingPage(
          resourceGroupName,
          migrateProjectName,
          options,
          settings,
        );
      },
    };
  }

  private async *listVirtualDesktopUsersPagingPage(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: VirtualDesktopUserControllerListVirtualDesktopUsersOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<VirtualDesktopUser[]> {
    let result: VirtualDesktopUserControllerListVirtualDesktopUsersResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listVirtualDesktopUsers(
        resourceGroupName,
        migrateProjectName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listVirtualDesktopUsersNext(
        resourceGroupName,
        migrateProjectName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listVirtualDesktopUsersPagingAll(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: VirtualDesktopUserControllerListVirtualDesktopUsersOptionalParams,
  ): AsyncIterableIterator<VirtualDesktopUser> {
    for await (const page of this.listVirtualDesktopUsersPagingPage(
      resourceGroupName,
      migrateProjectName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of virtual desktop users in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  private _listVirtualDesktopUsers(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: VirtualDesktopUserControllerListVirtualDesktopUsersOptionalParams,
  ): Promise<VirtualDesktopUserControllerListVirtualDesktopUsersResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, options },
      listVirtualDesktopUsersOperationSpec,
    );
  }

  /**
   * Gets a virtual desktop user in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param virtualDesktopUserName The ARM name of the webserver to be fetched.
   * @param options The options parameters.
   */
  getVirtualDesktopUser(
    resourceGroupName: string,
    migrateProjectName: string,
    virtualDesktopUserName: string,
    options?: VirtualDesktopUserControllerGetVirtualDesktopUserOptionalParams,
  ): Promise<VirtualDesktopUserControllerGetVirtualDesktopUserResponse> {
    return this.client.sendOperationRequest(
      {
        resourceGroupName,
        migrateProjectName,
        virtualDesktopUserName,
        options,
      },
      getVirtualDesktopUserOperationSpec,
    );
  }

  /**
   * ListVirtualDesktopUsersNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param nextLink The nextLink from the previous successful call to the ListVirtualDesktopUsers
   *                 method.
   * @param options The options parameters.
   */
  private _listVirtualDesktopUsersNext(
    resourceGroupName: string,
    migrateProjectName: string,
    nextLink: string,
    options?: VirtualDesktopUserControllerListVirtualDesktopUsersNextOptionalParams,
  ): Promise<VirtualDesktopUserControllerListVirtualDesktopUsersNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, nextLink, options },
      listVirtualDesktopUsersNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listVirtualDesktopUsersOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/virtualDesktopUsers",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VirtualDesktopUserCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.continuationToken,
    Parameters.pageSize,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getVirtualDesktopUserOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/virtualDesktopUsers/{virtualDesktopUserName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VirtualDesktopUser,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.virtualDesktopUserName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listVirtualDesktopUsersNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.VirtualDesktopUserCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
