/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper.js";
import { WebServersController } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { AzureMigrateV2 } from "../azureMigrateV2.js";
import {
  WebServer,
  WebServersControllerListWebServersNextOptionalParams,
  WebServersControllerListWebServersOptionalParams,
  WebServersControllerListWebServersResponse,
  WebServersControllerGetWebServerOptionalParams,
  WebServersControllerGetWebServerResponse,
  WebServersControllerListWebServersNextResponse,
} from "../models/index.js";

/// <reference lib="esnext.asynciterable" />
/** Class containing WebServersController operations. */
export class WebServersControllerImpl implements WebServersController {
  private readonly client: AzureMigrateV2;

  /**
   * Initialize a new instance of the class WebServersController class.
   * @param client Reference to the service client
   */
  constructor(client: AzureMigrateV2) {
    this.client = client;
  }

  /**
   * Gets a list of WebServers in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  public listWebServers(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: WebServersControllerListWebServersOptionalParams,
  ): PagedAsyncIterableIterator<WebServer> {
    const iter = this.listWebServersPagingAll(
      resourceGroupName,
      migrateProjectName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listWebServersPagingPage(
          resourceGroupName,
          migrateProjectName,
          options,
          settings,
        );
      },
    };
  }

  private async *listWebServersPagingPage(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: WebServersControllerListWebServersOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<WebServer[]> {
    let result: WebServersControllerListWebServersResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listWebServers(
        resourceGroupName,
        migrateProjectName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listWebServersNext(
        resourceGroupName,
        migrateProjectName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listWebServersPagingAll(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: WebServersControllerListWebServersOptionalParams,
  ): AsyncIterableIterator<WebServer> {
    for await (const page of this.listWebServersPagingPage(
      resourceGroupName,
      migrateProjectName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets a list of WebServers in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param options The options parameters.
   */
  private _listWebServers(
    resourceGroupName: string,
    migrateProjectName: string,
    options?: WebServersControllerListWebServersOptionalParams,
  ): Promise<WebServersControllerListWebServersResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, options },
      listWebServersOperationSpec,
    );
  }

  /**
   * Gets a webserver in the migrate project.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param webServerId The ARM name of the virtual desktop user.
   * @param options The options parameters.
   */
  getWebServer(
    resourceGroupName: string,
    migrateProjectName: string,
    webServerId: string,
    options?: WebServersControllerGetWebServerOptionalParams,
  ): Promise<WebServersControllerGetWebServerResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, webServerId, options },
      getWebServerOperationSpec,
    );
  }

  /**
   * ListWebServersNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param migrateProjectName Name of the Azure Migrate project.
   * @param nextLink The nextLink from the previous successful call to the ListWebServers method.
   * @param options The options parameters.
   */
  private _listWebServersNext(
    resourceGroupName: string,
    migrateProjectName: string,
    nextLink: string,
    options?: WebServersControllerListWebServersNextOptionalParams,
  ): Promise<WebServersControllerListWebServersNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, migrateProjectName, nextLink, options },
      listWebServersNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listWebServersOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webServers",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WebServerCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [
    Parameters.apiVersion,
    Parameters.continuationToken,
    Parameters.pageSize,
  ],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getWebServerOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Migrate/migrateProjects/{migrateProjectName}/webServers/{webServerId}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WebServer,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.webServerId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listWebServersNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.WebServerCollection,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.migrateProjectName,
    Parameters.nextLink,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
