/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PaloAltoNetworksCloudngfw } from "../operationsInterfaces/index.js";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers.js";
import * as Parameters from "../models/parameters.js";
import { PaloAltoNetworksCloudngfw } from "../paloAltoNetworksCloudngfw.js";
import {
  CreateProductSerialNumberOptionalParams,
  CreateProductSerialNumberResponse,
  ListCloudManagerTenantsOptionalParams,
  ListCloudManagerTenantsResponse,
  ListProductSerialNumberStatusOptionalParams,
  ListProductSerialNumberStatusResponse,
  ListSupportInfoOptionalParams,
  ListSupportInfoResponse,
} from "../models/index.js";

/** Class containing PaloAltoNetworksCloudngfw operations. */
export class PaloAltoNetworksCloudngfwImpl
  implements PaloAltoNetworksCloudngfw
{
  private readonly client: PaloAltoNetworksCloudngfw;

  /**
   * Initialize a new instance of the class PaloAltoNetworksCloudngfw class.
   * @param client Reference to the service client
   */
  constructor(client: PaloAltoNetworksCloudngfw) {
    this.client = client;
  }

  /** @param options The options parameters. */
  createProductSerialNumber(
    options?: CreateProductSerialNumberOptionalParams,
  ): Promise<CreateProductSerialNumberResponse> {
    return this.client.sendOperationRequest(
      { options },
      createProductSerialNumberOperationSpec,
    );
  }

  /** @param options The options parameters. */
  listCloudManagerTenants(
    options?: ListCloudManagerTenantsOptionalParams,
  ): Promise<ListCloudManagerTenantsResponse> {
    return this.client.sendOperationRequest(
      { options },
      listCloudManagerTenantsOperationSpec,
    );
  }

  /** @param options The options parameters. */
  listProductSerialNumberStatus(
    options?: ListProductSerialNumberStatusOptionalParams,
  ): Promise<ListProductSerialNumberStatusResponse> {
    return this.client.sendOperationRequest(
      { options },
      listProductSerialNumberStatusOperationSpec,
    );
  }

  /** @param options The options parameters. */
  listSupportInfo(
    options?: ListSupportInfoOptionalParams,
  ): Promise<ListSupportInfoResponse> {
    return this.client.sendOperationRequest(
      { options },
      listSupportInfoOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const createProductSerialNumberOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/createProductSerialNumber",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ProductSerialNumberRequestStatus,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listCloudManagerTenantsOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listCloudManagerTenants",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.CloudManagerTenantList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listProductSerialNumberStatusOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listProductSerialNumberStatus",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.ProductSerialNumberStatus,
    },
    404: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const listSupportInfoOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listSupportInfo",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.SupportInfoModel,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
