/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PaloAltoNetworksCloudngfw } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { PaloAltoNetworksCloudngfw } from "../paloAltoNetworksCloudngfw";
import {
  ListSupportInfoOptionalParams,
  ListSupportInfoResponse,
} from "../models";

/** Class containing PaloAltoNetworksCloudngfw operations. */
export class PaloAltoNetworksCloudngfwImpl
  implements PaloAltoNetworksCloudngfw
{
  private readonly client: PaloAltoNetworksCloudngfw;

  /**
   * Initialize a new instance of the class PaloAltoNetworksCloudngfw class.
   * @param client Reference to the service client
   */
  constructor(client: PaloAltoNetworksCloudngfw) {
    this.client = client;
  }

  /** @param options The options parameters. */
  listSupportInfo(
    options?: ListSupportInfoOptionalParams,
  ): Promise<ListSupportInfoResponse> {
    return this.client.sendOperationRequest(
      { options },
      listSupportInfoOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listSupportInfoOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/PaloAltoNetworks.Cloudngfw/listSupportInfo",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.SupportInfoModel,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
