/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { AzureExtendedZones } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { MicrosoftEdgeZonesClient } from "../microsoftEdgeZonesClient";
import {
  AzureExtendedZone,
  AzureExtendedZonesListBySubscriptionNextOptionalParams,
  AzureExtendedZonesListBySubscriptionOptionalParams,
  AzureExtendedZonesListBySubscriptionResponse,
  AzureExtendedZonesGetOptionalParams,
  AzureExtendedZonesGetResponse,
  AzureExtendedZonesRegisterOptionalParams,
  AzureExtendedZonesRegisterResponse,
  AzureExtendedZonesUnregisterOptionalParams,
  AzureExtendedZonesUnregisterResponse,
  AzureExtendedZonesListBySubscriptionNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AzureExtendedZones operations. */
export class AzureExtendedZonesImpl implements AzureExtendedZones {
  private readonly client: MicrosoftEdgeZonesClient;

  /**
   * Initialize a new instance of the class AzureExtendedZones class.
   * @param client Reference to the service client
   */
  constructor(client: MicrosoftEdgeZonesClient) {
    this.client = client;
  }

  /**
   * Lists the Azure Extended Zones for a subscription
   * @param options The options parameters.
   */
  public listBySubscription(
    options?: AzureExtendedZonesListBySubscriptionOptionalParams,
  ): PagedAsyncIterableIterator<AzureExtendedZone> {
    const iter = this.listBySubscriptionPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listBySubscriptionPagingPage(options, settings);
      },
    };
  }

  private async *listBySubscriptionPagingPage(
    options?: AzureExtendedZonesListBySubscriptionOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AzureExtendedZone[]> {
    let result: AzureExtendedZonesListBySubscriptionResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listBySubscription(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listBySubscriptionNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listBySubscriptionPagingAll(
    options?: AzureExtendedZonesListBySubscriptionOptionalParams,
  ): AsyncIterableIterator<AzureExtendedZone> {
    for await (const page of this.listBySubscriptionPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Lists the Azure Extended Zones for a subscription
   * @param options The options parameters.
   */
  private _listBySubscription(
    options?: AzureExtendedZonesListBySubscriptionOptionalParams,
  ): Promise<AzureExtendedZonesListBySubscriptionResponse> {
    return this.client.sendOperationRequest(
      { options },
      listBySubscriptionOperationSpec,
    );
  }

  /**
   * Get an Azure Extended Zone for a subscription
   * @param azureExtendedZoneName The name of the AzureExtendedZone
   * @param options The options parameters.
   */
  get(
    azureExtendedZoneName: string,
    options?: AzureExtendedZonesGetOptionalParams,
  ): Promise<AzureExtendedZonesGetResponse> {
    return this.client.sendOperationRequest(
      { azureExtendedZoneName, options },
      getOperationSpec,
    );
  }

  /**
   * Registers a subscription for an Azure Extended Zone
   * @param azureExtendedZoneName The name of the AzureExtendedZone
   * @param options The options parameters.
   */
  register(
    azureExtendedZoneName: string,
    options?: AzureExtendedZonesRegisterOptionalParams,
  ): Promise<AzureExtendedZonesRegisterResponse> {
    return this.client.sendOperationRequest(
      { azureExtendedZoneName, options },
      registerOperationSpec,
    );
  }

  /**
   * Unregisters a subscription for an Azure Extended Zone
   * @param azureExtendedZoneName The name of the AzureExtendedZone
   * @param options The options parameters.
   */
  unregister(
    azureExtendedZoneName: string,
    options?: AzureExtendedZonesUnregisterOptionalParams,
  ): Promise<AzureExtendedZonesUnregisterResponse> {
    return this.client.sendOperationRequest(
      { azureExtendedZoneName, options },
      unregisterOperationSpec,
    );
  }

  /**
   * ListBySubscriptionNext
   * @param nextLink The nextLink from the previous successful call to the ListBySubscription method.
   * @param options The options parameters.
   */
  private _listBySubscriptionNext(
    nextLink: string,
    options?: AzureExtendedZonesListBySubscriptionNextOptionalParams,
  ): Promise<AzureExtendedZonesListBySubscriptionNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listBySubscriptionNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listBySubscriptionOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/azureExtendedZones",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AzureExtendedZoneListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.subscriptionId],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/azureExtendedZones/{azureExtendedZoneName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AzureExtendedZone,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.azureExtendedZoneName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const registerOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/azureExtendedZones/{azureExtendedZoneName}/register",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AzureExtendedZone,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.azureExtendedZoneName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const unregisterOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.EdgeZones/azureExtendedZones/{azureExtendedZoneName}/unregister",
  httpMethod: "POST",
  responses: {
    200: {
      bodyMapper: Mappers.AzureExtendedZone,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.azureExtendedZoneName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listBySubscriptionNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AzureExtendedZoneListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
