/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { NGroupsSkus } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ContainerInstanceManagementClient } from "../containerInstanceManagementClient";
import {
  NGroupSkus,
  NGroupsSkusGetNextOptionalParams,
  NGroupsSkusGetOptionalParams,
  NGroupsSkusGetResponse,
  NGroupsSkusGetNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing NGroupsSkus operations. */
export class NGroupsSkusImpl implements NGroupsSkus {
  private readonly client: ContainerInstanceManagementClient;

  /**
   * Initialize a new instance of the class NGroupsSkus class.
   * @param client Reference to the service client
   */
  constructor(client: ContainerInstanceManagementClient) {
    this.client = client;
  }

  /**
   * Get the resource sku, resource type, and sku capacity of the NGroups resource.
   * @param resourceGroupName The name of the resource group.
   * @param ngroupsName The NGroups name.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    ngroupsName: string,
    options?: NGroupsSkusGetOptionalParams,
  ): PagedAsyncIterableIterator<NGroupSkus> {
    const iter = this.getPagingAll(resourceGroupName, ngroupsName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.getPagingPage(
          resourceGroupName,
          ngroupsName,
          options,
          settings,
        );
      },
    };
  }

  private async *getPagingPage(
    resourceGroupName: string,
    ngroupsName: string,
    options?: NGroupsSkusGetOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<NGroupSkus[]> {
    let result: NGroupsSkusGetResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._get(resourceGroupName, ngroupsName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._getNext(
        resourceGroupName,
        ngroupsName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *getPagingAll(
    resourceGroupName: string,
    ngroupsName: string,
    options?: NGroupsSkusGetOptionalParams,
  ): AsyncIterableIterator<NGroupSkus> {
    for await (const page of this.getPagingPage(
      resourceGroupName,
      ngroupsName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get the resource sku, resource type, and sku capacity of the NGroups resource.
   * @param resourceGroupName The name of the resource group.
   * @param ngroupsName The NGroups name.
   * @param options The options parameters.
   */
  private _get(
    resourceGroupName: string,
    ngroupsName: string,
    options?: NGroupsSkusGetOptionalParams,
  ): Promise<NGroupsSkusGetResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, ngroupsName, options },
      getOperationSpec,
    );
  }

  /**
   * GetNext
   * @param resourceGroupName The name of the resource group.
   * @param ngroupsName The NGroups name.
   * @param nextLink The nextLink from the previous successful call to the Get method.
   * @param options The options parameters.
   */
  private _getNext(
    resourceGroupName: string,
    ngroupsName: string,
    nextLink: string,
    options?: NGroupsSkusGetNextOptionalParams,
  ): Promise<NGroupsSkusGetNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, ngroupsName, nextLink, options },
      getNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ContainerInstance/ngroups/{ngroupsName}/skus",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NGroupsSkusList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.ngroupsName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.NGroupsSkusList,
    },
    default: {
      bodyMapper: Mappers.CloudError,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.nextLink,
    Parameters.ngroupsName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
