/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { CapabilityTypes } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ChaosManagementClient } from "../chaosManagementClient";
import {
  CapabilityType,
  CapabilityTypesListNextOptionalParams,
  CapabilityTypesListOptionalParams,
  CapabilityTypesListResponse,
  CapabilityTypesGetOptionalParams,
  CapabilityTypesGetResponse,
  CapabilityTypesListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing CapabilityTypes operations. */
export class CapabilityTypesImpl implements CapabilityTypes {
  private readonly client: ChaosManagementClient;

  /**
   * Initialize a new instance of the class CapabilityTypes class.
   * @param client Reference to the service client
   */
  constructor(client: ChaosManagementClient) {
    this.client = client;
  }

  /**
   * Get a list of Capability Type resources for given Target Type and location.
   * @param location The name of the Azure region.
   * @param targetTypeName String that represents a Target Type resource name.
   * @param options The options parameters.
   */
  public list(
    location: string,
    targetTypeName: string,
    options?: CapabilityTypesListOptionalParams,
  ): PagedAsyncIterableIterator<CapabilityType> {
    const iter = this.listPagingAll(location, targetTypeName, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(location, targetTypeName, options, settings);
      },
    };
  }

  private async *listPagingPage(
    location: string,
    targetTypeName: string,
    options?: CapabilityTypesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<CapabilityType[]> {
    let result: CapabilityTypesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, targetTypeName, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        location,
        targetTypeName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    targetTypeName: string,
    options?: CapabilityTypesListOptionalParams,
  ): AsyncIterableIterator<CapabilityType> {
    for await (const page of this.listPagingPage(
      location,
      targetTypeName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Get a list of Capability Type resources for given Target Type and location.
   * @param location The name of the Azure region.
   * @param targetTypeName String that represents a Target Type resource name.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    targetTypeName: string,
    options?: CapabilityTypesListOptionalParams,
  ): Promise<CapabilityTypesListResponse> {
    return this.client.sendOperationRequest(
      { location, targetTypeName, options },
      listOperationSpec,
    );
  }

  /**
   * Get a Capability Type resource for given Target Type and location.
   * @param location The name of the Azure region.
   * @param targetTypeName String that represents a Target Type resource name.
   * @param capabilityTypeName String that represents a Capability Type resource name.
   * @param options The options parameters.
   */
  get(
    location: string,
    targetTypeName: string,
    capabilityTypeName: string,
    options?: CapabilityTypesGetOptionalParams,
  ): Promise<CapabilityTypesGetResponse> {
    return this.client.sendOperationRequest(
      { location, targetTypeName, capabilityTypeName, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param location The name of the Azure region.
   * @param targetTypeName String that represents a Target Type resource name.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    targetTypeName: string,
    nextLink: string,
    options?: CapabilityTypesListNextOptionalParams,
  ): Promise<CapabilityTypesListNextResponse> {
    return this.client.sendOperationRequest(
      { location, targetTypeName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/locations/{location}/targetTypes/{targetTypeName}/capabilityTypes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CapabilityTypeListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.continuationToken],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.targetTypeName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/locations/{location}/targetTypes/{targetTypeName}/capabilityTypes/{capabilityTypeName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CapabilityType,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.targetTypeName,
    Parameters.capabilityTypeName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.CapabilityTypeListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.targetTypeName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
