/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { TargetTypes } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { ChaosManagementClient } from "../chaosManagementClient";
import {
  TargetType,
  TargetTypesListNextOptionalParams,
  TargetTypesListOptionalParams,
  TargetTypesListResponse,
  TargetTypesGetOptionalParams,
  TargetTypesGetResponse,
  TargetTypesListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing TargetTypes operations. */
export class TargetTypesImpl implements TargetTypes {
  private readonly client: ChaosManagementClient;

  /**
   * Initialize a new instance of the class TargetTypes class.
   * @param client Reference to the service client
   */
  constructor(client: ChaosManagementClient) {
    this.client = client;
  }

  /**
   * Get a list of Target Type resources for given location.
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  public list(
    location: string,
    options?: TargetTypesListOptionalParams,
  ): PagedAsyncIterableIterator<TargetType> {
    const iter = this.listPagingAll(location, options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(location, options, settings);
      },
    };
  }

  private async *listPagingPage(
    location: string,
    options?: TargetTypesListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<TargetType[]> {
    let result: TargetTypesListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(location, options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(location, continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    location: string,
    options?: TargetTypesListOptionalParams,
  ): AsyncIterableIterator<TargetType> {
    for await (const page of this.listPagingPage(location, options)) {
      yield* page;
    }
  }

  /**
   * Get a list of Target Type resources for given location.
   * @param location The name of the Azure region.
   * @param options The options parameters.
   */
  private _list(
    location: string,
    options?: TargetTypesListOptionalParams,
  ): Promise<TargetTypesListResponse> {
    return this.client.sendOperationRequest(
      { location, options },
      listOperationSpec,
    );
  }

  /**
   * Get a Target Type resources for given location.
   * @param location The name of the Azure region.
   * @param targetTypeName String that represents a Target Type resource name.
   * @param options The options parameters.
   */
  get(
    location: string,
    targetTypeName: string,
    options?: TargetTypesGetOptionalParams,
  ): Promise<TargetTypesGetResponse> {
    return this.client.sendOperationRequest(
      { location, targetTypeName, options },
      getOperationSpec,
    );
  }

  /**
   * ListNext
   * @param location The name of the Azure region.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    location: string,
    nextLink: string,
    options?: TargetTypesListNextOptionalParams,
  ): Promise<TargetTypesListNextResponse> {
    return this.client.sendOperationRequest(
      { location, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/locations/{location}/targetTypes",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TargetTypeListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion, Parameters.continuationToken],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/providers/Microsoft.Chaos/locations/{location}/targetTypes/{targetTypeName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TargetType,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.location,
    Parameters.targetTypeName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TargetTypeListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.location,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
