/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { TenantConfigurations } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { Portal } from "../portal";
import {
  TenantConfiguration,
  TenantConfigurationsListByTenantNextOptionalParams,
  TenantConfigurationsListByTenantOptionalParams,
  TenantConfigurationsListByTenantResponse,
  TenantConfigurationsGetOptionalParams,
  TenantConfigurationsGetResponse,
  TenantConfigurationsCreateOptionalParams,
  TenantConfigurationsCreateResponse,
  TenantConfigurationsDeleteOptionalParams,
  TenantConfigurationsListByTenantNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing TenantConfigurations operations. */
export class TenantConfigurationsImpl implements TenantConfigurations {
  private readonly client: Portal;

  /**
   * Initialize a new instance of the class TenantConfigurations class.
   * @param client Reference to the service client
   */
  constructor(client: Portal) {
    this.client = client;
  }

  /**
   * Gets list of the tenant configurations.
   * @param options The options parameters.
   */
  public listByTenant(
    options?: TenantConfigurationsListByTenantOptionalParams,
  ): PagedAsyncIterableIterator<TenantConfiguration> {
    const iter = this.listByTenantPagingAll(options);
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listByTenantPagingPage(options, settings);
      },
    };
  }

  private async *listByTenantPagingPage(
    options?: TenantConfigurationsListByTenantOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<TenantConfiguration[]> {
    let result: TenantConfigurationsListByTenantResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._listByTenant(options);
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listByTenantNext(continuationToken, options);
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listByTenantPagingAll(
    options?: TenantConfigurationsListByTenantOptionalParams,
  ): AsyncIterableIterator<TenantConfiguration> {
    for await (const page of this.listByTenantPagingPage(options)) {
      yield* page;
    }
  }

  /**
   * Gets list of the tenant configurations.
   * @param options The options parameters.
   */
  private _listByTenant(
    options?: TenantConfigurationsListByTenantOptionalParams,
  ): Promise<TenantConfigurationsListByTenantResponse> {
    return this.client.sendOperationRequest(
      { options },
      listByTenantOperationSpec,
    );
  }

  /**
   * Gets the tenant configuration.
   * @param configurationName The name of the TenantConfiguration
   * @param options The options parameters.
   */
  get(
    configurationName: string,
    options?: TenantConfigurationsGetOptionalParams,
  ): Promise<TenantConfigurationsGetResponse> {
    return this.client.sendOperationRequest(
      { configurationName, options },
      getOperationSpec,
    );
  }

  /**
   * Create the tenant configuration. If configuration already exists - update it. User has to be a
   * Tenant Admin for this operation.
   * @param configurationName The name of the TenantConfiguration
   * @param resource The parameters required to create or update tenant configuration.
   * @param options The options parameters.
   */
  create(
    configurationName: string,
    resource: TenantConfiguration,
    options?: TenantConfigurationsCreateOptionalParams,
  ): Promise<TenantConfigurationsCreateResponse> {
    return this.client.sendOperationRequest(
      { configurationName, resource, options },
      createOperationSpec,
    );
  }

  /**
   * Delete the tenant configuration. User has to be a Tenant Admin for this operation.
   * @param configurationName The name of the TenantConfiguration
   * @param options The options parameters.
   */
  delete(
    configurationName: string,
    options?: TenantConfigurationsDeleteOptionalParams,
  ): Promise<void> {
    return this.client.sendOperationRequest(
      { configurationName, options },
      deleteOperationSpec,
    );
  }

  /**
   * ListByTenantNext
   * @param nextLink The nextLink from the previous successful call to the ListByTenant method.
   * @param options The options parameters.
   */
  private _listByTenantNext(
    nextLink: string,
    options?: TenantConfigurationsListByTenantNextOptionalParams,
  ): Promise<TenantConfigurationsListByTenantNextResponse> {
    return this.client.sendOperationRequest(
      { nextLink, options },
      listByTenantNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listByTenantOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Portal/tenantConfigurations",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TenantConfigurationListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host],
  headerParameters: [Parameters.accept],
  serializer,
};
const getOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Portal/tenantConfigurations/{configurationName}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TenantConfiguration,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.configurationName],
  headerParameters: [Parameters.accept],
  serializer,
};
const createOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Portal/tenantConfigurations/{configurationName}",
  httpMethod: "PUT",
  responses: {
    200: {
      bodyMapper: Mappers.TenantConfiguration,
    },
    201: {
      bodyMapper: Mappers.TenantConfiguration,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  requestBody: Parameters.resource,
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.configurationName],
  headerParameters: [Parameters.accept, Parameters.contentType],
  mediaType: "json",
  serializer,
};
const deleteOperationSpec: coreClient.OperationSpec = {
  path: "/providers/Microsoft.Portal/tenantConfigurations/{configurationName}",
  httpMethod: "DELETE",
  responses: {
    200: {},
    204: {},
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [Parameters.$host, Parameters.configurationName],
  headerParameters: [Parameters.accept],
  serializer,
};
const listByTenantNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.TenantConfigurationListResult,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [Parameters.$host, Parameters.nextLink],
  headerParameters: [Parameters.accept],
  serializer,
};
