/*
 * Copyright (c) Microsoft Corporation.
 * Licensed under the MIT License.
 *
 * Code generated by Microsoft (R) AutoRest Code Generator.
 * Changes may cause incorrect behavior and will be lost if the code is regenerated.
 */

import { PagedAsyncIterableIterator, PageSettings } from "@azure/core-paging";
import { setContinuationToken } from "../pagingHelper";
import { AccessPolicyAssignments } from "../operationsInterfaces";
import * as coreClient from "@azure/core-client";
import * as Mappers from "../models/mappers";
import * as Parameters from "../models/parameters";
import { RedisEnterpriseManagementClient } from "../redisEnterpriseManagementClient";
import {
  AccessPolicyAssignment,
  AccessPolicyAssignmentsListNextOptionalParams,
  AccessPolicyAssignmentsListOptionalParams,
  AccessPolicyAssignmentsListResponse,
  AccessPolicyAssignmentsListNextResponse,
} from "../models";

/// <reference lib="esnext.asynciterable" />
/** Class containing AccessPolicyAssignments operations. */
export class AccessPolicyAssignmentsImpl implements AccessPolicyAssignments {
  private readonly client: RedisEnterpriseManagementClient;

  /**
   * Initialize a new instance of the class AccessPolicyAssignments class.
   * @param client Reference to the service client
   */
  constructor(client: RedisEnterpriseManagementClient) {
    this.client = client;
  }

  /**
   * Gets all databases in the specified Redis Enterprise cluster.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterName The name of the Redis Enterprise cluster.
   * @param databaseName The name of the Redis Enterprise database.
   * @param options The options parameters.
   */
  public list(
    resourceGroupName: string,
    clusterName: string,
    databaseName: string,
    options?: AccessPolicyAssignmentsListOptionalParams,
  ): PagedAsyncIterableIterator<AccessPolicyAssignment> {
    const iter = this.listPagingAll(
      resourceGroupName,
      clusterName,
      databaseName,
      options,
    );
    return {
      next() {
        return iter.next();
      },
      [Symbol.asyncIterator]() {
        return this;
      },
      byPage: (settings?: PageSettings) => {
        if (settings?.maxPageSize) {
          throw new Error("maxPageSize is not supported by this operation.");
        }
        return this.listPagingPage(
          resourceGroupName,
          clusterName,
          databaseName,
          options,
          settings,
        );
      },
    };
  }

  private async *listPagingPage(
    resourceGroupName: string,
    clusterName: string,
    databaseName: string,
    options?: AccessPolicyAssignmentsListOptionalParams,
    settings?: PageSettings,
  ): AsyncIterableIterator<AccessPolicyAssignment[]> {
    let result: AccessPolicyAssignmentsListResponse;
    let continuationToken = settings?.continuationToken;
    if (!continuationToken) {
      result = await this._list(
        resourceGroupName,
        clusterName,
        databaseName,
        options,
      );
      let page = result.value || [];
      continuationToken = result.nextLink;
      setContinuationToken(page, continuationToken);
      yield page;
    }
    while (continuationToken) {
      result = await this._listNext(
        resourceGroupName,
        clusterName,
        databaseName,
        continuationToken,
        options,
      );
      continuationToken = result.nextLink;
      let page = result.value || [];
      setContinuationToken(page, continuationToken);
      yield page;
    }
  }

  private async *listPagingAll(
    resourceGroupName: string,
    clusterName: string,
    databaseName: string,
    options?: AccessPolicyAssignmentsListOptionalParams,
  ): AsyncIterableIterator<AccessPolicyAssignment> {
    for await (const page of this.listPagingPage(
      resourceGroupName,
      clusterName,
      databaseName,
      options,
    )) {
      yield* page;
    }
  }

  /**
   * Gets all databases in the specified Redis Enterprise cluster.
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterName The name of the Redis Enterprise cluster.
   * @param databaseName The name of the Redis Enterprise database.
   * @param options The options parameters.
   */
  private _list(
    resourceGroupName: string,
    clusterName: string,
    databaseName: string,
    options?: AccessPolicyAssignmentsListOptionalParams,
  ): Promise<AccessPolicyAssignmentsListResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterName, databaseName, options },
      listOperationSpec,
    );
  }

  /**
   * ListNext
   * @param resourceGroupName The name of the resource group. The name is case insensitive.
   * @param clusterName The name of the Redis Enterprise cluster.
   * @param databaseName The name of the Redis Enterprise database.
   * @param nextLink The nextLink from the previous successful call to the List method.
   * @param options The options parameters.
   */
  private _listNext(
    resourceGroupName: string,
    clusterName: string,
    databaseName: string,
    nextLink: string,
    options?: AccessPolicyAssignmentsListNextOptionalParams,
  ): Promise<AccessPolicyAssignmentsListNextResponse> {
    return this.client.sendOperationRequest(
      { resourceGroupName, clusterName, databaseName, nextLink, options },
      listNextOperationSpec,
    );
  }
}
// Operation Specifications
const serializer = coreClient.createSerializer(Mappers, /* isXml */ false);

const listOperationSpec: coreClient.OperationSpec = {
  path: "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cache/redisEnterprise/{clusterName}/databases/{databaseName}/accessPolicyAssignments",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AccessPolicyAssignmentList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  queryParameters: [Parameters.apiVersion],
  urlParameters: [
    Parameters.$host,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterName,
    Parameters.databaseName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
const listNextOperationSpec: coreClient.OperationSpec = {
  path: "{nextLink}",
  httpMethod: "GET",
  responses: {
    200: {
      bodyMapper: Mappers.AccessPolicyAssignmentList,
    },
    default: {
      bodyMapper: Mappers.ErrorResponse,
    },
  },
  urlParameters: [
    Parameters.$host,
    Parameters.nextLink,
    Parameters.subscriptionId,
    Parameters.resourceGroupName,
    Parameters.clusterName,
    Parameters.databaseName,
  ],
  headerParameters: [Parameters.accept],
  serializer,
};
